// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.ApplicationServiceCreateApplicationKeyRequest;
import com.zitadel.model.ApplicationServiceCreateApplicationKeyResponse;
import com.zitadel.model.ApplicationServiceCreateApplicationRequest;
import com.zitadel.model.ApplicationServiceCreateApplicationResponse;
import com.zitadel.model.ApplicationServiceDeactivateApplicationRequest;
import com.zitadel.model.ApplicationServiceDeactivateApplicationResponse;
import com.zitadel.model.ApplicationServiceDeleteApplicationKeyRequest;
import com.zitadel.model.ApplicationServiceDeleteApplicationKeyResponse;
import com.zitadel.model.ApplicationServiceDeleteApplicationRequest;
import com.zitadel.model.ApplicationServiceDeleteApplicationResponse;
import com.zitadel.model.ApplicationServiceGenerateClientSecretRequest;
import com.zitadel.model.ApplicationServiceGenerateClientSecretResponse;
import com.zitadel.model.ApplicationServiceGetApplicationKeyRequest;
import com.zitadel.model.ApplicationServiceGetApplicationKeyResponse;
import com.zitadel.model.ApplicationServiceGetApplicationRequest;
import com.zitadel.model.ApplicationServiceGetApplicationResponse;
import com.zitadel.model.ApplicationServiceListApplicationKeysRequest;
import com.zitadel.model.ApplicationServiceListApplicationKeysResponse;
import com.zitadel.model.ApplicationServiceListApplicationsRequest;
import com.zitadel.model.ApplicationServiceListApplicationsResponse;
import com.zitadel.model.ApplicationServiceReactivateApplicationRequest;
import com.zitadel.model.ApplicationServiceReactivateApplicationResponse;
import com.zitadel.model.ApplicationServiceUpdateApplicationRequest;
import com.zitadel.model.ApplicationServiceUpdateApplicationResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** ApplicationServiceApi provides methods for the ApplicationService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class ApplicationServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createApplicationTypeRef =
      new TypeReference<ApplicationServiceCreateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type createApplicationKeyTypeRef =
      new TypeReference<ApplicationServiceCreateApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type deactivateApplicationTypeRef =
      new TypeReference<ApplicationServiceDeactivateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteApplicationTypeRef =
      new TypeReference<ApplicationServiceDeleteApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteApplicationKeyTypeRef =
      new TypeReference<ApplicationServiceDeleteApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type generateClientSecretTypeRef =
      new TypeReference<ApplicationServiceGenerateClientSecretResponse>() {}.getType();

  private static final java.lang.reflect.Type getApplicationTypeRef =
      new TypeReference<ApplicationServiceGetApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type getApplicationKeyTypeRef =
      new TypeReference<ApplicationServiceGetApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type listApplicationKeysTypeRef =
      new TypeReference<ApplicationServiceListApplicationKeysResponse>() {}.getType();

  private static final java.lang.reflect.Type listApplicationsTypeRef =
      new TypeReference<ApplicationServiceListApplicationsResponse>() {}.getType();

  private static final java.lang.reflect.Type reactivateApplicationTypeRef =
      new TypeReference<ApplicationServiceReactivateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type updateApplicationTypeRef =
      new TypeReference<ApplicationServiceUpdateApplicationResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public ApplicationServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public ApplicationServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public ApplicationServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Application Create an application. The application can be OIDC, API or SAML type, based
   * on the input. Required permissions: - project.app.write
   *
   * @param applicationServiceCreateApplicationRequest (required)
   * @return {@code ApplicationServiceCreateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceCreateApplicationResponse createApplication(
      ApplicationServiceCreateApplicationRequest applicationServiceCreateApplicationRequest) {
    return requireBody(
        createApplicationWithHttpInfo(applicationServiceCreateApplicationRequest),
        "createApplication");
  }

  /**
   * Create Application Create an application. The application can be OIDC, API or SAML type, based
   * on the input. Required permissions: - project.app.write
   *
   * @param applicationServiceCreateApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceCreateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceCreateApplicationResponse> createApplicationWithHttpInfo(
      ApplicationServiceCreateApplicationRequest applicationServiceCreateApplicationRequest) {
    if (applicationServiceCreateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceCreateApplicationRequest' when calling createApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/CreateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceCreateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        createApplicationTypeRef,
        null);
  }

  /**
   * Create Application Key Create a new application key, which is used to authorize an API
   * application. Key details are returned in the response. They must be stored safely, as it will
   * not be possible to retrieve them again. Required permissions: - `project.app.write`
   *
   * @param applicationServiceCreateApplicationKeyRequest (required)
   * @return {@code ApplicationServiceCreateApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceCreateApplicationKeyResponse createApplicationKey(
      ApplicationServiceCreateApplicationKeyRequest applicationServiceCreateApplicationKeyRequest) {
    return requireBody(
        createApplicationKeyWithHttpInfo(applicationServiceCreateApplicationKeyRequest),
        "createApplicationKey");
  }

  /**
   * Create Application Key Create a new application key, which is used to authorize an API
   * application. Key details are returned in the response. They must be stored safely, as it will
   * not be possible to retrieve them again. Required permissions: - `project.app.write`
   *
   * @param applicationServiceCreateApplicationKeyRequest (required)
   * @return the API result wrapping {@code ApplicationServiceCreateApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceCreateApplicationKeyResponse> createApplicationKeyWithHttpInfo(
      ApplicationServiceCreateApplicationKeyRequest applicationServiceCreateApplicationKeyRequest) {
    if (applicationServiceCreateApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceCreateApplicationKeyRequest' when calling createApplicationKey");
    }
    String path = "/zitadel.application.v2.ApplicationService/CreateApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceCreateApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        createApplicationKeyTypeRef,
        null);
  }

  /**
   * Deactivate Application Deactivates the application belonging to the input project and matching
   * the provided application ID. Required permissions: - project.app.write
   *
   * @param applicationServiceDeactivateApplicationRequest (required)
   * @return {@code ApplicationServiceDeactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceDeactivateApplicationResponse deactivateApplication(
      ApplicationServiceDeactivateApplicationRequest
          applicationServiceDeactivateApplicationRequest) {
    return requireBody(
        deactivateApplicationWithHttpInfo(applicationServiceDeactivateApplicationRequest),
        "deactivateApplication");
  }

  /**
   * Deactivate Application Deactivates the application belonging to the input project and matching
   * the provided application ID. Required permissions: - project.app.write
   *
   * @param applicationServiceDeactivateApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceDeactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceDeactivateApplicationResponse>
      deactivateApplicationWithHttpInfo(
          ApplicationServiceDeactivateApplicationRequest
              applicationServiceDeactivateApplicationRequest) {
    if (applicationServiceDeactivateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceDeactivateApplicationRequest' when calling deactivateApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/DeactivateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceDeactivateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        deactivateApplicationTypeRef,
        null);
  }

  /**
   * Delete Application Deletes the application belonging to the input project and matching the
   * provided application ID. Required permissions: - project.app.delete
   *
   * @param applicationServiceDeleteApplicationRequest (required)
   * @return {@code ApplicationServiceDeleteApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceDeleteApplicationResponse deleteApplication(
      ApplicationServiceDeleteApplicationRequest applicationServiceDeleteApplicationRequest) {
    return requireBody(
        deleteApplicationWithHttpInfo(applicationServiceDeleteApplicationRequest),
        "deleteApplication");
  }

  /**
   * Delete Application Deletes the application belonging to the input project and matching the
   * provided application ID. Required permissions: - project.app.delete
   *
   * @param applicationServiceDeleteApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceDeleteApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceDeleteApplicationResponse> deleteApplicationWithHttpInfo(
      ApplicationServiceDeleteApplicationRequest applicationServiceDeleteApplicationRequest) {
    if (applicationServiceDeleteApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceDeleteApplicationRequest' when calling deleteApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/DeleteApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceDeleteApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        deleteApplicationTypeRef,
        null);
  }

  /**
   * Delete Application Key Deletes an application key matching the provided ID. Organization ID is
   * not mandatory, but helps with filtering/performance. The deletion time is returned in response
   * message. Required permissions: - `project.app.write`
   *
   * @param applicationServiceDeleteApplicationKeyRequest (required)
   * @return {@code ApplicationServiceDeleteApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceDeleteApplicationKeyResponse deleteApplicationKey(
      ApplicationServiceDeleteApplicationKeyRequest applicationServiceDeleteApplicationKeyRequest) {
    return requireBody(
        deleteApplicationKeyWithHttpInfo(applicationServiceDeleteApplicationKeyRequest),
        "deleteApplicationKey");
  }

  /**
   * Delete Application Key Deletes an application key matching the provided ID. Organization ID is
   * not mandatory, but helps with filtering/performance. The deletion time is returned in response
   * message. Required permissions: - `project.app.write`
   *
   * @param applicationServiceDeleteApplicationKeyRequest (required)
   * @return the API result wrapping {@code ApplicationServiceDeleteApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceDeleteApplicationKeyResponse> deleteApplicationKeyWithHttpInfo(
      ApplicationServiceDeleteApplicationKeyRequest applicationServiceDeleteApplicationKeyRequest) {
    if (applicationServiceDeleteApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceDeleteApplicationKeyRequest' when calling deleteApplicationKey");
    }
    String path = "/zitadel.application.v2.ApplicationService/DeleteApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceDeleteApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        deleteApplicationKeyTypeRef,
        null);
  }

  /**
   * Generate Client Secret Generates the client secret of an API or OIDC application that belongs
   * to the input project. Required permissions: - project.app.write
   *
   * @param applicationServiceGenerateClientSecretRequest (required)
   * @return {@code ApplicationServiceGenerateClientSecretResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceGenerateClientSecretResponse generateClientSecret(
      ApplicationServiceGenerateClientSecretRequest applicationServiceGenerateClientSecretRequest) {
    return requireBody(
        generateClientSecretWithHttpInfo(applicationServiceGenerateClientSecretRequest),
        "generateClientSecret");
  }

  /**
   * Generate Client Secret Generates the client secret of an API or OIDC application that belongs
   * to the input project. Required permissions: - project.app.write
   *
   * @param applicationServiceGenerateClientSecretRequest (required)
   * @return the API result wrapping {@code ApplicationServiceGenerateClientSecretResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceGenerateClientSecretResponse> generateClientSecretWithHttpInfo(
      ApplicationServiceGenerateClientSecretRequest applicationServiceGenerateClientSecretRequest) {
    if (applicationServiceGenerateClientSecretRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceGenerateClientSecretRequest' when calling generateClientSecret");
    }
    String path = "/zitadel.application.v2.ApplicationService/GenerateClientSecret";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceGenerateClientSecretRequest,
        new String[] {"application/json"},
        "application/json",
        generateClientSecretTypeRef,
        null);
  }

  /**
   * Get Application Retrieves the application matching the provided ID. Required permissions: -
   * project.app.read
   *
   * @param applicationServiceGetApplicationRequest (required)
   * @return {@code ApplicationServiceGetApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceGetApplicationResponse getApplication(
      ApplicationServiceGetApplicationRequest applicationServiceGetApplicationRequest) {
    return requireBody(
        getApplicationWithHttpInfo(applicationServiceGetApplicationRequest), "getApplication");
  }

  /**
   * Get Application Retrieves the application matching the provided ID. Required permissions: -
   * project.app.read
   *
   * @param applicationServiceGetApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceGetApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceGetApplicationResponse> getApplicationWithHttpInfo(
      ApplicationServiceGetApplicationRequest applicationServiceGetApplicationRequest) {
    if (applicationServiceGetApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceGetApplicationRequest' when calling getApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/GetApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceGetApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        getApplicationTypeRef,
        null);
  }

  /**
   * Get Application Key Retrieves the application key matching the provided ID. Specifying a
   * project, organization and application ID is optional but help with filtering/performance.
   * Required permissions: - project.app.read
   *
   * @param applicationServiceGetApplicationKeyRequest (required)
   * @return {@code ApplicationServiceGetApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceGetApplicationKeyResponse getApplicationKey(
      ApplicationServiceGetApplicationKeyRequest applicationServiceGetApplicationKeyRequest) {
    return requireBody(
        getApplicationKeyWithHttpInfo(applicationServiceGetApplicationKeyRequest),
        "getApplicationKey");
  }

  /**
   * Get Application Key Retrieves the application key matching the provided ID. Specifying a
   * project, organization and application ID is optional but help with filtering/performance.
   * Required permissions: - project.app.read
   *
   * @param applicationServiceGetApplicationKeyRequest (required)
   * @return the API result wrapping {@code ApplicationServiceGetApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceGetApplicationKeyResponse> getApplicationKeyWithHttpInfo(
      ApplicationServiceGetApplicationKeyRequest applicationServiceGetApplicationKeyRequest) {
    if (applicationServiceGetApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceGetApplicationKeyRequest' when calling getApplicationKey");
    }
    String path = "/zitadel.application.v2.ApplicationService/GetApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceGetApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        getApplicationKeyTypeRef,
        null);
  }

  /**
   * List Application Keys Returns a list of application keys matching the input parameters. The
   * result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.
   * It can also be filtered by application, project or organization ID. Required permissions: -
   * project.app.read
   *
   * @param applicationServiceListApplicationKeysRequest (required)
   * @return {@code ApplicationServiceListApplicationKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceListApplicationKeysResponse listApplicationKeys(
      ApplicationServiceListApplicationKeysRequest applicationServiceListApplicationKeysRequest) {
    return requireBody(
        listApplicationKeysWithHttpInfo(applicationServiceListApplicationKeysRequest),
        "listApplicationKeys");
  }

  /**
   * List Application Keys Returns a list of application keys matching the input parameters. The
   * result can be sorted by id, aggregate, creation date, expiration date, resource owner or type.
   * It can also be filtered by application, project or organization ID. Required permissions: -
   * project.app.read
   *
   * @param applicationServiceListApplicationKeysRequest (required)
   * @return the API result wrapping {@code ApplicationServiceListApplicationKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceListApplicationKeysResponse> listApplicationKeysWithHttpInfo(
      ApplicationServiceListApplicationKeysRequest applicationServiceListApplicationKeysRequest) {
    if (applicationServiceListApplicationKeysRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceListApplicationKeysRequest' when calling listApplicationKeys");
    }
    String path = "/zitadel.application.v2.ApplicationService/ListApplicationKeys";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceListApplicationKeysRequest,
        new String[] {"application/json"},
        "application/json",
        listApplicationKeysTypeRef,
        null);
  }

  /**
   * List Applications Returns a list of applications matching the input parameters. The results can
   * be filtered by project, state, type and name. It can be sorted by id, name, creation date,
   * change date or state. Required permissions: - project.app.read
   *
   * @param applicationServiceListApplicationsRequest (required)
   * @return {@code ApplicationServiceListApplicationsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceListApplicationsResponse listApplications(
      ApplicationServiceListApplicationsRequest applicationServiceListApplicationsRequest) {
    return requireBody(
        listApplicationsWithHttpInfo(applicationServiceListApplicationsRequest),
        "listApplications");
  }

  /**
   * List Applications Returns a list of applications matching the input parameters. The results can
   * be filtered by project, state, type and name. It can be sorted by id, name, creation date,
   * change date or state. Required permissions: - project.app.read
   *
   * @param applicationServiceListApplicationsRequest (required)
   * @return the API result wrapping {@code ApplicationServiceListApplicationsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceListApplicationsResponse> listApplicationsWithHttpInfo(
      ApplicationServiceListApplicationsRequest applicationServiceListApplicationsRequest) {
    if (applicationServiceListApplicationsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceListApplicationsRequest' when calling listApplications");
    }
    String path = "/zitadel.application.v2.ApplicationService/ListApplications";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceListApplicationsRequest,
        new String[] {"application/json"},
        "application/json",
        listApplicationsTypeRef,
        null);
  }

  /**
   * Reactivate Application Reactivates the application belonging to the input project and matching
   * the provided application ID. Required permissions: - project.app.write
   *
   * @param applicationServiceReactivateApplicationRequest (required)
   * @return {@code ApplicationServiceReactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceReactivateApplicationResponse reactivateApplication(
      ApplicationServiceReactivateApplicationRequest
          applicationServiceReactivateApplicationRequest) {
    return requireBody(
        reactivateApplicationWithHttpInfo(applicationServiceReactivateApplicationRequest),
        "reactivateApplication");
  }

  /**
   * Reactivate Application Reactivates the application belonging to the input project and matching
   * the provided application ID. Required permissions: - project.app.write
   *
   * @param applicationServiceReactivateApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceReactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceReactivateApplicationResponse>
      reactivateApplicationWithHttpInfo(
          ApplicationServiceReactivateApplicationRequest
              applicationServiceReactivateApplicationRequest) {
    if (applicationServiceReactivateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceReactivateApplicationRequest' when calling reactivateApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/ReactivateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceReactivateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        reactivateApplicationTypeRef,
        null);
  }

  /**
   * Update Application Changes the configuration of an OIDC, API or SAML type application, as well
   * as the application name, based on the input provided. Required permissions: - project.app.write
   *
   * @param applicationServiceUpdateApplicationRequest (required)
   * @return {@code ApplicationServiceUpdateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApplicationServiceUpdateApplicationResponse updateApplication(
      ApplicationServiceUpdateApplicationRequest applicationServiceUpdateApplicationRequest) {
    return requireBody(
        updateApplicationWithHttpInfo(applicationServiceUpdateApplicationRequest),
        "updateApplication");
  }

  /**
   * Update Application Changes the configuration of an OIDC, API or SAML type application, as well
   * as the application name, based on the input provided. Required permissions: - project.app.write
   *
   * @param applicationServiceUpdateApplicationRequest (required)
   * @return the API result wrapping {@code ApplicationServiceUpdateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<ApplicationServiceUpdateApplicationResponse> updateApplicationWithHttpInfo(
      ApplicationServiceUpdateApplicationRequest applicationServiceUpdateApplicationRequest) {
    if (applicationServiceUpdateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'applicationServiceUpdateApplicationRequest' when calling updateApplication");
    }
    String path = "/zitadel.application.v2.ApplicationService/UpdateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        applicationServiceUpdateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        updateApplicationTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
