// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.AuthorizationServiceActivateAuthorizationRequest;
import com.zitadel.model.AuthorizationServiceActivateAuthorizationResponse;
import com.zitadel.model.AuthorizationServiceCreateAuthorizationRequest;
import com.zitadel.model.AuthorizationServiceCreateAuthorizationResponse;
import com.zitadel.model.AuthorizationServiceDeactivateAuthorizationRequest;
import com.zitadel.model.AuthorizationServiceDeactivateAuthorizationResponse;
import com.zitadel.model.AuthorizationServiceDeleteAuthorizationRequest;
import com.zitadel.model.AuthorizationServiceDeleteAuthorizationResponse;
import com.zitadel.model.AuthorizationServiceListAuthorizationsRequest;
import com.zitadel.model.AuthorizationServiceListAuthorizationsResponse;
import com.zitadel.model.AuthorizationServiceUpdateAuthorizationRequest;
import com.zitadel.model.AuthorizationServiceUpdateAuthorizationResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** AuthorizationServiceApi provides methods for the AuthorizationService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class AuthorizationServiceApi extends BaseApi {

  private static final java.lang.reflect.Type activateAuthorizationTypeRef =
      new TypeReference<AuthorizationServiceActivateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type createAuthorizationTypeRef =
      new TypeReference<AuthorizationServiceCreateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type deactivateAuthorizationTypeRef =
      new TypeReference<AuthorizationServiceDeactivateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteAuthorizationTypeRef =
      new TypeReference<AuthorizationServiceDeleteAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type listAuthorizationsTypeRef =
      new TypeReference<AuthorizationServiceListAuthorizationsResponse>() {}.getType();

  private static final java.lang.reflect.Type updateAuthorizationTypeRef =
      new TypeReference<AuthorizationServiceUpdateAuthorizationResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public AuthorizationServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public AuthorizationServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public AuthorizationServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Activate Authorization ActivateAuthorization activates an existing but inactive authorization.
   * In case the authorization is already active, the request will return a successful response as
   * the desired state is already achieved. You can check the change date in the response to verify
   * if the authorization was activated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceActivateAuthorizationRequest (required)
   * @return {@code AuthorizationServiceActivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceActivateAuthorizationResponse activateAuthorization(
      AuthorizationServiceActivateAuthorizationRequest
          authorizationServiceActivateAuthorizationRequest) {
    return requireBody(
        activateAuthorizationWithHttpInfo(authorizationServiceActivateAuthorizationRequest),
        "activateAuthorization");
  }

  /**
   * Activate Authorization ActivateAuthorization activates an existing but inactive authorization.
   * In case the authorization is already active, the request will return a successful response as
   * the desired state is already achieved. You can check the change date in the response to verify
   * if the authorization was activated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceActivateAuthorizationRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceActivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceActivateAuthorizationResponse>
      activateAuthorizationWithHttpInfo(
          AuthorizationServiceActivateAuthorizationRequest
              authorizationServiceActivateAuthorizationRequest) {
    if (authorizationServiceActivateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceActivateAuthorizationRequest' when calling activateAuthorization");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/ActivateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceActivateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        activateAuthorizationTypeRef,
        null);
  }

  /**
   * Create Authorization CreateAuthorization creates a new authorization for a user in an owned or
   * granted project. Required permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceCreateAuthorizationRequest (required)
   * @return {@code AuthorizationServiceCreateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceCreateAuthorizationResponse createAuthorization(
      AuthorizationServiceCreateAuthorizationRequest
          authorizationServiceCreateAuthorizationRequest) {
    return requireBody(
        createAuthorizationWithHttpInfo(authorizationServiceCreateAuthorizationRequest),
        "createAuthorization");
  }

  /**
   * Create Authorization CreateAuthorization creates a new authorization for a user in an owned or
   * granted project. Required permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceCreateAuthorizationRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceCreateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceCreateAuthorizationResponse> createAuthorizationWithHttpInfo(
      AuthorizationServiceCreateAuthorizationRequest
          authorizationServiceCreateAuthorizationRequest) {
    if (authorizationServiceCreateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceCreateAuthorizationRequest' when calling createAuthorization");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/CreateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceCreateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        createAuthorizationTypeRef,
        null);
  }

  /**
   * Deactivate Authorization DeactivateAuthorization deactivates an existing and active
   * authorization. In case the authorization is already inactive, the request will return a
   * successful response as the desired state is already achieved. You can check the change date in
   * the response to verify if the authorization was deactivated by the request. Required
   * permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceDeactivateAuthorizationRequest (required)
   * @return {@code AuthorizationServiceDeactivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceDeactivateAuthorizationResponse deactivateAuthorization(
      AuthorizationServiceDeactivateAuthorizationRequest
          authorizationServiceDeactivateAuthorizationRequest) {
    return requireBody(
        deactivateAuthorizationWithHttpInfo(authorizationServiceDeactivateAuthorizationRequest),
        "deactivateAuthorization");
  }

  /**
   * Deactivate Authorization DeactivateAuthorization deactivates an existing and active
   * authorization. In case the authorization is already inactive, the request will return a
   * successful response as the desired state is already achieved. You can check the change date in
   * the response to verify if the authorization was deactivated by the request. Required
   * permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceDeactivateAuthorizationRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceDeactivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceDeactivateAuthorizationResponse>
      deactivateAuthorizationWithHttpInfo(
          AuthorizationServiceDeactivateAuthorizationRequest
              authorizationServiceDeactivateAuthorizationRequest) {
    if (authorizationServiceDeactivateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceDeactivateAuthorizationRequest' when calling deactivateAuthorization");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/DeactivateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceDeactivateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        deactivateAuthorizationTypeRef,
        null);
  }

  /**
   * Delete Authorization DeleteAuthorization deletes the authorization. In case the authorization
   * is not found, the request will return a successful response as the desired state is already
   * achieved. You can check the deletion date in the response to verify if the authorization was
   * deleted by the request. Required permissions: - \"user.grant.delete\"
   *
   * @param authorizationServiceDeleteAuthorizationRequest (required)
   * @return {@code AuthorizationServiceDeleteAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceDeleteAuthorizationResponse deleteAuthorization(
      AuthorizationServiceDeleteAuthorizationRequest
          authorizationServiceDeleteAuthorizationRequest) {
    return requireBody(
        deleteAuthorizationWithHttpInfo(authorizationServiceDeleteAuthorizationRequest),
        "deleteAuthorization");
  }

  /**
   * Delete Authorization DeleteAuthorization deletes the authorization. In case the authorization
   * is not found, the request will return a successful response as the desired state is already
   * achieved. You can check the deletion date in the response to verify if the authorization was
   * deleted by the request. Required permissions: - \"user.grant.delete\"
   *
   * @param authorizationServiceDeleteAuthorizationRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceDeleteAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceDeleteAuthorizationResponse> deleteAuthorizationWithHttpInfo(
      AuthorizationServiceDeleteAuthorizationRequest
          authorizationServiceDeleteAuthorizationRequest) {
    if (authorizationServiceDeleteAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceDeleteAuthorizationRequest' when calling deleteAuthorization");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/DeleteAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceDeleteAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        deleteAuthorizationTypeRef,
        null);
  }

  /**
   * List Authorizations ListAuthorizations returns all authorizations matching the request and
   * necessary permissions. Required permissions: - \"user.grant.read\" - no permissions required
   * for listing own authorizations
   *
   * @param authorizationServiceListAuthorizationsRequest (required)
   * @return {@code AuthorizationServiceListAuthorizationsResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceListAuthorizationsResponse listAuthorizations(
      AuthorizationServiceListAuthorizationsRequest authorizationServiceListAuthorizationsRequest) {
    return requireBody(
        listAuthorizationsWithHttpInfo(authorizationServiceListAuthorizationsRequest),
        "listAuthorizations");
  }

  /**
   * List Authorizations ListAuthorizations returns all authorizations matching the request and
   * necessary permissions. Required permissions: - \"user.grant.read\" - no permissions required
   * for listing own authorizations
   *
   * @param authorizationServiceListAuthorizationsRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceListAuthorizationsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceListAuthorizationsResponse> listAuthorizationsWithHttpInfo(
      AuthorizationServiceListAuthorizationsRequest authorizationServiceListAuthorizationsRequest) {
    if (authorizationServiceListAuthorizationsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceListAuthorizationsRequest' when calling listAuthorizations");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/ListAuthorizations";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceListAuthorizationsRequest,
        new String[] {"application/json"},
        "application/json",
        listAuthorizationsTypeRef,
        null);
  }

  /**
   * Update Authorization UpdateAuthorization updates the authorization. Note that any role keys
   * previously granted to the user and not present in the request will be revoked. Required
   * permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceUpdateAuthorizationRequest (required)
   * @return {@code AuthorizationServiceUpdateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public AuthorizationServiceUpdateAuthorizationResponse updateAuthorization(
      AuthorizationServiceUpdateAuthorizationRequest
          authorizationServiceUpdateAuthorizationRequest) {
    return requireBody(
        updateAuthorizationWithHttpInfo(authorizationServiceUpdateAuthorizationRequest),
        "updateAuthorization");
  }

  /**
   * Update Authorization UpdateAuthorization updates the authorization. Note that any role keys
   * previously granted to the user and not present in the request will be revoked. Required
   * permissions: - \"user.grant.write\"
   *
   * @param authorizationServiceUpdateAuthorizationRequest (required)
   * @return the API result wrapping {@code AuthorizationServiceUpdateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<AuthorizationServiceUpdateAuthorizationResponse> updateAuthorizationWithHttpInfo(
      AuthorizationServiceUpdateAuthorizationRequest
          authorizationServiceUpdateAuthorizationRequest) {
    if (authorizationServiceUpdateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'authorizationServiceUpdateAuthorizationRequest' when calling updateAuthorization");
    }
    String path = "/zitadel.authorization.v2.AuthorizationService/UpdateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        authorizationServiceUpdateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        updateAuthorizationTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
