// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaInstanceServiceAddCustomDomainRequest;
import com.zitadel.model.BetaInstanceServiceAddCustomDomainResponse;
import com.zitadel.model.BetaInstanceServiceAddTrustedDomainRequest;
import com.zitadel.model.BetaInstanceServiceAddTrustedDomainResponse;
import com.zitadel.model.BetaInstanceServiceDeleteInstanceRequest;
import com.zitadel.model.BetaInstanceServiceDeleteInstanceResponse;
import com.zitadel.model.BetaInstanceServiceGetInstanceRequest;
import com.zitadel.model.BetaInstanceServiceGetInstanceResponse;
import com.zitadel.model.BetaInstanceServiceListCustomDomainsRequest;
import com.zitadel.model.BetaInstanceServiceListCustomDomainsResponse;
import com.zitadel.model.BetaInstanceServiceListInstancesRequest;
import com.zitadel.model.BetaInstanceServiceListInstancesResponse;
import com.zitadel.model.BetaInstanceServiceListTrustedDomainsRequest;
import com.zitadel.model.BetaInstanceServiceListTrustedDomainsResponse;
import com.zitadel.model.BetaInstanceServiceRemoveCustomDomainRequest;
import com.zitadel.model.BetaInstanceServiceRemoveCustomDomainResponse;
import com.zitadel.model.BetaInstanceServiceRemoveTrustedDomainRequest;
import com.zitadel.model.BetaInstanceServiceRemoveTrustedDomainResponse;
import com.zitadel.model.BetaInstanceServiceUpdateInstanceRequest;
import com.zitadel.model.BetaInstanceServiceUpdateInstanceResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaInstanceServiceApi provides methods for the BetaInstanceService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaInstanceServiceApi extends BaseApi {

  private static final java.lang.reflect.Type addCustomDomainTypeRef =
      new TypeReference<BetaInstanceServiceAddCustomDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type addTrustedDomainTypeRef =
      new TypeReference<BetaInstanceServiceAddTrustedDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteInstanceTypeRef =
      new TypeReference<BetaInstanceServiceDeleteInstanceResponse>() {}.getType();

  private static final java.lang.reflect.Type getInstanceTypeRef =
      new TypeReference<BetaInstanceServiceGetInstanceResponse>() {}.getType();

  private static final java.lang.reflect.Type listCustomDomainsTypeRef =
      new TypeReference<BetaInstanceServiceListCustomDomainsResponse>() {}.getType();

  private static final java.lang.reflect.Type listInstancesTypeRef =
      new TypeReference<BetaInstanceServiceListInstancesResponse>() {}.getType();

  private static final java.lang.reflect.Type listTrustedDomainsTypeRef =
      new TypeReference<BetaInstanceServiceListTrustedDomainsResponse>() {}.getType();

  private static final java.lang.reflect.Type removeCustomDomainTypeRef =
      new TypeReference<BetaInstanceServiceRemoveCustomDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type removeTrustedDomainTypeRef =
      new TypeReference<BetaInstanceServiceRemoveTrustedDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type updateInstanceTypeRef =
      new TypeReference<BetaInstanceServiceUpdateInstanceResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaInstanceServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaInstanceServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaInstanceServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Add Custom Domain Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Adds a custom domain
   * to the instance in context. The instance_id in the input message will be used in the future
   * Required permissions: - `system.domain.write`
   *
   * @param betaInstanceServiceAddCustomDomainRequest (required)
   * @return {@code BetaInstanceServiceAddCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceAddCustomDomainResponse addCustomDomain(
      BetaInstanceServiceAddCustomDomainRequest betaInstanceServiceAddCustomDomainRequest) {
    return requireBody(
        addCustomDomainWithHttpInfo(betaInstanceServiceAddCustomDomainRequest), "addCustomDomain");
  }

  /**
   * Add Custom Domain Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Adds a custom domain
   * to the instance in context. The instance_id in the input message will be used in the future
   * Required permissions: - `system.domain.write`
   *
   * @param betaInstanceServiceAddCustomDomainRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceAddCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceAddCustomDomainResponse> addCustomDomainWithHttpInfo(
      BetaInstanceServiceAddCustomDomainRequest betaInstanceServiceAddCustomDomainRequest) {
    if (betaInstanceServiceAddCustomDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceAddCustomDomainRequest' when calling addCustomDomain");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/AddCustomDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceAddCustomDomainRequest,
        new String[] {"application/json"},
        "application/json",
        addCustomDomainTypeRef,
        null);
  }

  /**
   * Add Trusted Domain Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Adds a trusted domain
   * to the instance. The instance_id in the input message will be used in the future. Required
   * permissions: - `iam.write`
   *
   * @param betaInstanceServiceAddTrustedDomainRequest (required)
   * @return {@code BetaInstanceServiceAddTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceAddTrustedDomainResponse addTrustedDomain(
      BetaInstanceServiceAddTrustedDomainRequest betaInstanceServiceAddTrustedDomainRequest) {
    return requireBody(
        addTrustedDomainWithHttpInfo(betaInstanceServiceAddTrustedDomainRequest),
        "addTrustedDomain");
  }

  /**
   * Add Trusted Domain Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Adds a trusted domain
   * to the instance. The instance_id in the input message will be used in the future. Required
   * permissions: - `iam.write`
   *
   * @param betaInstanceServiceAddTrustedDomainRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceAddTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceAddTrustedDomainResponse> addTrustedDomainWithHttpInfo(
      BetaInstanceServiceAddTrustedDomainRequest betaInstanceServiceAddTrustedDomainRequest) {
    if (betaInstanceServiceAddTrustedDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceAddTrustedDomainRequest' when calling addTrustedDomain");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/AddTrustedDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceAddTrustedDomainRequest,
        new String[] {"application/json"},
        "application/json",
        addTrustedDomainTypeRef,
        null);
  }

  /**
   * Delete Instance Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Deletes an instance
   * with the given ID. Required permissions: - `system.instance.delete`
   *
   * @param betaInstanceServiceDeleteInstanceRequest (required)
   * @return {@code BetaInstanceServiceDeleteInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceDeleteInstanceResponse deleteInstance(
      BetaInstanceServiceDeleteInstanceRequest betaInstanceServiceDeleteInstanceRequest) {
    return requireBody(
        deleteInstanceWithHttpInfo(betaInstanceServiceDeleteInstanceRequest), "deleteInstance");
  }

  /**
   * Delete Instance Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Deletes an instance
   * with the given ID. Required permissions: - `system.instance.delete`
   *
   * @param betaInstanceServiceDeleteInstanceRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceDeleteInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceDeleteInstanceResponse> deleteInstanceWithHttpInfo(
      BetaInstanceServiceDeleteInstanceRequest betaInstanceServiceDeleteInstanceRequest) {
    if (betaInstanceServiceDeleteInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceDeleteInstanceRequest' when calling deleteInstance");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/DeleteInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceDeleteInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        deleteInstanceTypeRef,
        null);
  }

  /**
   * Get Instance Deprecated: please move to the corresponding endpoint under instance service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Returns the instance in
   * the current context. The instance_id in the input message will be used in the future. Required
   * permissions: - `iam.read`
   *
   * @param betaInstanceServiceGetInstanceRequest (required)
   * @return {@code BetaInstanceServiceGetInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceGetInstanceResponse getInstance(
      BetaInstanceServiceGetInstanceRequest betaInstanceServiceGetInstanceRequest) {
    return requireBody(
        getInstanceWithHttpInfo(betaInstanceServiceGetInstanceRequest), "getInstance");
  }

  /**
   * Get Instance Deprecated: please move to the corresponding endpoint under instance service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Returns the instance in
   * the current context. The instance_id in the input message will be used in the future. Required
   * permissions: - `iam.read`
   *
   * @param betaInstanceServiceGetInstanceRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceGetInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceGetInstanceResponse> getInstanceWithHttpInfo(
      BetaInstanceServiceGetInstanceRequest betaInstanceServiceGetInstanceRequest) {
    if (betaInstanceServiceGetInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceGetInstanceRequest' when calling getInstance");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/GetInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceGetInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        getInstanceTypeRef,
        null);
  }

  /**
   * List Custom Domains Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Lists custom
   * domains of the instance. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.read`
   *
   * @param betaInstanceServiceListCustomDomainsRequest (required)
   * @return {@code BetaInstanceServiceListCustomDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceListCustomDomainsResponse listCustomDomains(
      BetaInstanceServiceListCustomDomainsRequest betaInstanceServiceListCustomDomainsRequest) {
    return requireBody(
        listCustomDomainsWithHttpInfo(betaInstanceServiceListCustomDomainsRequest),
        "listCustomDomains");
  }

  /**
   * List Custom Domains Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Lists custom
   * domains of the instance. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.read`
   *
   * @param betaInstanceServiceListCustomDomainsRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceListCustomDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceListCustomDomainsResponse> listCustomDomainsWithHttpInfo(
      BetaInstanceServiceListCustomDomainsRequest betaInstanceServiceListCustomDomainsRequest) {
    if (betaInstanceServiceListCustomDomainsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceListCustomDomainsRequest' when calling listCustomDomains");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/ListCustomDomains";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceListCustomDomainsRequest,
        new String[] {"application/json"},
        "application/json",
        listCustomDomainsTypeRef,
        null);
  }

  /**
   * List Instances Deprecated: please move to the corresponding endpoint under instance service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Lists instances matching
   * the given query. The query can be used to filter either by instance ID or domain. The request
   * is paginated and returns 100 results by default. Required permissions: - `system.instance.read`
   *
   * @param betaInstanceServiceListInstancesRequest (required)
   * @return {@code BetaInstanceServiceListInstancesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceListInstancesResponse listInstances(
      BetaInstanceServiceListInstancesRequest betaInstanceServiceListInstancesRequest) {
    return requireBody(
        listInstancesWithHttpInfo(betaInstanceServiceListInstancesRequest), "listInstances");
  }

  /**
   * List Instances Deprecated: please move to the corresponding endpoint under instance service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Lists instances matching
   * the given query. The query can be used to filter either by instance ID or domain. The request
   * is paginated and returns 100 results by default. Required permissions: - `system.instance.read`
   *
   * @param betaInstanceServiceListInstancesRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceListInstancesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceListInstancesResponse> listInstancesWithHttpInfo(
      BetaInstanceServiceListInstancesRequest betaInstanceServiceListInstancesRequest) {
    if (betaInstanceServiceListInstancesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceListInstancesRequest' when calling listInstances");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/ListInstances";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceListInstancesRequest,
        new String[] {"application/json"},
        "application/json",
        listInstancesTypeRef,
        null);
  }

  /**
   * List Trusted Domains Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Lists trusted
   * domains of the instance. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.read`
   *
   * @param betaInstanceServiceListTrustedDomainsRequest (required)
   * @return {@code BetaInstanceServiceListTrustedDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceListTrustedDomainsResponse listTrustedDomains(
      BetaInstanceServiceListTrustedDomainsRequest betaInstanceServiceListTrustedDomainsRequest) {
    return requireBody(
        listTrustedDomainsWithHttpInfo(betaInstanceServiceListTrustedDomainsRequest),
        "listTrustedDomains");
  }

  /**
   * List Trusted Domains Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Lists trusted
   * domains of the instance. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.read`
   *
   * @param betaInstanceServiceListTrustedDomainsRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceListTrustedDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceListTrustedDomainsResponse> listTrustedDomainsWithHttpInfo(
      BetaInstanceServiceListTrustedDomainsRequest betaInstanceServiceListTrustedDomainsRequest) {
    if (betaInstanceServiceListTrustedDomainsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceListTrustedDomainsRequest' when calling listTrustedDomains");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/ListTrustedDomains";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceListTrustedDomainsRequest,
        new String[] {"application/json"},
        "application/json",
        listTrustedDomainsTypeRef,
        null);
  }

  /**
   * Remove Custom Domain Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Removes a
   * custom domain from the instance. The instance_id in the input message will be used in the
   * future. Required permissions: - `system.domain.write`
   *
   * @param betaInstanceServiceRemoveCustomDomainRequest (required)
   * @return {@code BetaInstanceServiceRemoveCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceRemoveCustomDomainResponse removeCustomDomain(
      BetaInstanceServiceRemoveCustomDomainRequest betaInstanceServiceRemoveCustomDomainRequest) {
    return requireBody(
        removeCustomDomainWithHttpInfo(betaInstanceServiceRemoveCustomDomainRequest),
        "removeCustomDomain");
  }

  /**
   * Remove Custom Domain Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Removes a
   * custom domain from the instance. The instance_id in the input message will be used in the
   * future. Required permissions: - `system.domain.write`
   *
   * @param betaInstanceServiceRemoveCustomDomainRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceRemoveCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceRemoveCustomDomainResponse> removeCustomDomainWithHttpInfo(
      BetaInstanceServiceRemoveCustomDomainRequest betaInstanceServiceRemoveCustomDomainRequest) {
    if (betaInstanceServiceRemoveCustomDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceRemoveCustomDomainRequest' when calling removeCustomDomain");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/RemoveCustomDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceRemoveCustomDomainRequest,
        new String[] {"application/json"},
        "application/json",
        removeCustomDomainTypeRef,
        null);
  }

  /**
   * Remove Trusted Domain Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Removes a
   * trusted domain from the instance. The instance_id in the input message will be used in the
   * future. Required permissions: - `iam.write`
   *
   * @param betaInstanceServiceRemoveTrustedDomainRequest (required)
   * @return {@code BetaInstanceServiceRemoveTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceRemoveTrustedDomainResponse removeTrustedDomain(
      BetaInstanceServiceRemoveTrustedDomainRequest betaInstanceServiceRemoveTrustedDomainRequest) {
    return requireBody(
        removeTrustedDomainWithHttpInfo(betaInstanceServiceRemoveTrustedDomainRequest),
        "removeTrustedDomain");
  }

  /**
   * Remove Trusted Domain Deprecated: please move to the corresponding endpoint under instance
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Removes a
   * trusted domain from the instance. The instance_id in the input message will be used in the
   * future. Required permissions: - `iam.write`
   *
   * @param betaInstanceServiceRemoveTrustedDomainRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceRemoveTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceRemoveTrustedDomainResponse> removeTrustedDomainWithHttpInfo(
      BetaInstanceServiceRemoveTrustedDomainRequest betaInstanceServiceRemoveTrustedDomainRequest) {
    if (betaInstanceServiceRemoveTrustedDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceRemoveTrustedDomainRequest' when calling removeTrustedDomain");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/RemoveTrustedDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceRemoveTrustedDomainRequest,
        new String[] {"application/json"},
        "application/json",
        removeTrustedDomainTypeRef,
        null);
  }

  /**
   * Update Instance Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Updates instance in
   * context with the given name. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.write`
   *
   * @param betaInstanceServiceUpdateInstanceRequest (required)
   * @return {@code BetaInstanceServiceUpdateInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInstanceServiceUpdateInstanceResponse updateInstance(
      BetaInstanceServiceUpdateInstanceRequest betaInstanceServiceUpdateInstanceRequest) {
    return requireBody(
        updateInstanceWithHttpInfo(betaInstanceServiceUpdateInstanceRequest), "updateInstance");
  }

  /**
   * Update Instance Deprecated: please move to the corresponding endpoint under instance service
   * v2. This endpoint will be removed with the next major version of ZITADEL. Updates instance in
   * context with the given name. The instance_id in the input message will be used in the future.
   * Required permissions: - `iam.write`
   *
   * @param betaInstanceServiceUpdateInstanceRequest (required)
   * @return the API result wrapping {@code BetaInstanceServiceUpdateInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInstanceServiceUpdateInstanceResponse> updateInstanceWithHttpInfo(
      BetaInstanceServiceUpdateInstanceRequest betaInstanceServiceUpdateInstanceRequest) {
    if (betaInstanceServiceUpdateInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInstanceServiceUpdateInstanceRequest' when calling updateInstance");
    }
    String path = "/zitadel.instance.v2beta.InstanceService/UpdateInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInstanceServiceUpdateInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        updateInstanceTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
