// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaSettingsServiceGetActiveIdentityProvidersRequest;
import com.zitadel.model.BetaSettingsServiceGetActiveIdentityProvidersResponse;
import com.zitadel.model.BetaSettingsServiceGetBrandingSettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetBrandingSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetDomainSettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetDomainSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetGeneralSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetLegalAndSupportSettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetLegalAndSupportSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetLockoutSettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetLockoutSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetLoginSettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetLoginSettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetPasswordComplexitySettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetPasswordComplexitySettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetPasswordExpirySettingsRequest;
import com.zitadel.model.BetaSettingsServiceGetPasswordExpirySettingsResponse;
import com.zitadel.model.BetaSettingsServiceGetSecuritySettingsResponse;
import com.zitadel.model.BetaSettingsServiceSetSecuritySettingsRequest;
import com.zitadel.model.BetaSettingsServiceSetSecuritySettingsResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaSettingsServiceApi provides methods for the BetaSettingsService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaSettingsServiceApi extends BaseApi {

  private static final java.lang.reflect.Type getActiveIdentityProvidersTypeRef =
      new TypeReference<BetaSettingsServiceGetActiveIdentityProvidersResponse>() {}.getType();

  private static final java.lang.reflect.Type getBrandingSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetBrandingSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getDomainSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetDomainSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getGeneralSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetGeneralSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getLegalAndSupportSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetLegalAndSupportSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getLockoutSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetLockoutSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getLoginSettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetLoginSettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getPasswordComplexitySettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetPasswordComplexitySettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getPasswordExpirySettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetPasswordExpirySettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type getSecuritySettingsTypeRef =
      new TypeReference<BetaSettingsServiceGetSecuritySettingsResponse>() {}.getType();

  private static final java.lang.reflect.Type setSecuritySettingsTypeRef =
      new TypeReference<BetaSettingsServiceSetSecuritySettingsResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaSettingsServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaSettingsServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaSettingsServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Get the current active identity providers Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetActiveIdentityProvidersRequest (required)
   * @return {@code BetaSettingsServiceGetActiveIdentityProvidersResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetActiveIdentityProvidersResponse getActiveIdentityProviders(
      BetaSettingsServiceGetActiveIdentityProvidersRequest
          betaSettingsServiceGetActiveIdentityProvidersRequest) {
    return requireBody(
        getActiveIdentityProvidersWithHttpInfo(
            betaSettingsServiceGetActiveIdentityProvidersRequest),
        "getActiveIdentityProviders");
  }

  /**
   * Get the current active identity providers Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetActiveIdentityProvidersRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetActiveIdentityProvidersResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetActiveIdentityProvidersResponse>
      getActiveIdentityProvidersWithHttpInfo(
          BetaSettingsServiceGetActiveIdentityProvidersRequest
              betaSettingsServiceGetActiveIdentityProvidersRequest) {
    if (betaSettingsServiceGetActiveIdentityProvidersRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetActiveIdentityProvidersRequest' when calling getActiveIdentityProviders");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetActiveIdentityProviders";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetActiveIdentityProvidersRequest,
        new String[] {"application/json"},
        "application/json",
        getActiveIdentityProvidersTypeRef,
        null);
  }

  /**
   * Get the current active branding settings Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetBrandingSettingsRequest (required)
   * @return {@code BetaSettingsServiceGetBrandingSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetBrandingSettingsResponse getBrandingSettings(
      BetaSettingsServiceGetBrandingSettingsRequest betaSettingsServiceGetBrandingSettingsRequest) {
    return requireBody(
        getBrandingSettingsWithHttpInfo(betaSettingsServiceGetBrandingSettingsRequest),
        "getBrandingSettings");
  }

  /**
   * Get the current active branding settings Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetBrandingSettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetBrandingSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetBrandingSettingsResponse> getBrandingSettingsWithHttpInfo(
      BetaSettingsServiceGetBrandingSettingsRequest betaSettingsServiceGetBrandingSettingsRequest) {
    if (betaSettingsServiceGetBrandingSettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetBrandingSettingsRequest' when calling getBrandingSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetBrandingSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetBrandingSettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getBrandingSettingsTypeRef,
        null);
  }

  /**
   * Get the domain settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetDomainSettingsRequest (required)
   * @return {@code BetaSettingsServiceGetDomainSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetDomainSettingsResponse getDomainSettings(
      BetaSettingsServiceGetDomainSettingsRequest betaSettingsServiceGetDomainSettingsRequest) {
    return requireBody(
        getDomainSettingsWithHttpInfo(betaSettingsServiceGetDomainSettingsRequest),
        "getDomainSettings");
  }

  /**
   * Get the domain settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetDomainSettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetDomainSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetDomainSettingsResponse> getDomainSettingsWithHttpInfo(
      BetaSettingsServiceGetDomainSettingsRequest betaSettingsServiceGetDomainSettingsRequest) {
    if (betaSettingsServiceGetDomainSettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetDomainSettingsRequest' when calling getDomainSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetDomainSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetDomainSettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getDomainSettingsTypeRef,
        null);
  }

  /**
   * Get basic information over the instance Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param body (required)
   * @return {@code BetaSettingsServiceGetGeneralSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetGeneralSettingsResponse getGeneralSettings(Object body) {
    return requireBody(getGeneralSettingsWithHttpInfo(body), "getGeneralSettings");
  }

  /**
   * Get basic information over the instance Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetGeneralSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetGeneralSettingsResponse> getGeneralSettingsWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling getGeneralSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetGeneralSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        getGeneralSettingsTypeRef,
        null);
  }

  /**
   * Get the legal and support settings Deprecated: please move to the corresponding endpoint under
   * settings service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLegalAndSupportSettingsRequest (required)
   * @return {@code BetaSettingsServiceGetLegalAndSupportSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetLegalAndSupportSettingsResponse getLegalAndSupportSettings(
      BetaSettingsServiceGetLegalAndSupportSettingsRequest
          betaSettingsServiceGetLegalAndSupportSettingsRequest) {
    return requireBody(
        getLegalAndSupportSettingsWithHttpInfo(
            betaSettingsServiceGetLegalAndSupportSettingsRequest),
        "getLegalAndSupportSettings");
  }

  /**
   * Get the legal and support settings Deprecated: please move to the corresponding endpoint under
   * settings service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLegalAndSupportSettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetLegalAndSupportSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetLegalAndSupportSettingsResponse>
      getLegalAndSupportSettingsWithHttpInfo(
          BetaSettingsServiceGetLegalAndSupportSettingsRequest
              betaSettingsServiceGetLegalAndSupportSettingsRequest) {
    if (betaSettingsServiceGetLegalAndSupportSettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetLegalAndSupportSettingsRequest' when calling getLegalAndSupportSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetLegalAndSupportSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetLegalAndSupportSettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getLegalAndSupportSettingsTypeRef,
        null);
  }

  /**
   * Get the lockout settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLockoutSettingsRequest (required)
   * @return {@code BetaSettingsServiceGetLockoutSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetLockoutSettingsResponse getLockoutSettings(
      BetaSettingsServiceGetLockoutSettingsRequest betaSettingsServiceGetLockoutSettingsRequest) {
    return requireBody(
        getLockoutSettingsWithHttpInfo(betaSettingsServiceGetLockoutSettingsRequest),
        "getLockoutSettings");
  }

  /**
   * Get the lockout settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLockoutSettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetLockoutSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetLockoutSettingsResponse> getLockoutSettingsWithHttpInfo(
      BetaSettingsServiceGetLockoutSettingsRequest betaSettingsServiceGetLockoutSettingsRequest) {
    if (betaSettingsServiceGetLockoutSettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetLockoutSettingsRequest' when calling getLockoutSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetLockoutSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetLockoutSettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getLockoutSettingsTypeRef,
        null);
  }

  /**
   * Get the login settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLoginSettingsRequest (required)
   * @return {@code BetaSettingsServiceGetLoginSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetLoginSettingsResponse getLoginSettings(
      BetaSettingsServiceGetLoginSettingsRequest betaSettingsServiceGetLoginSettingsRequest) {
    return requireBody(
        getLoginSettingsWithHttpInfo(betaSettingsServiceGetLoginSettingsRequest),
        "getLoginSettings");
  }

  /**
   * Get the login settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetLoginSettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetLoginSettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetLoginSettingsResponse> getLoginSettingsWithHttpInfo(
      BetaSettingsServiceGetLoginSettingsRequest betaSettingsServiceGetLoginSettingsRequest) {
    if (betaSettingsServiceGetLoginSettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetLoginSettingsRequest' when calling getLoginSettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetLoginSettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetLoginSettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getLoginSettingsTypeRef,
        null);
  }

  /**
   * Get the password complexity settings Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetPasswordComplexitySettingsRequest (required)
   * @return {@code BetaSettingsServiceGetPasswordComplexitySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetPasswordComplexitySettingsResponse getPasswordComplexitySettings(
      BetaSettingsServiceGetPasswordComplexitySettingsRequest
          betaSettingsServiceGetPasswordComplexitySettingsRequest) {
    return requireBody(
        getPasswordComplexitySettingsWithHttpInfo(
            betaSettingsServiceGetPasswordComplexitySettingsRequest),
        "getPasswordComplexitySettings");
  }

  /**
   * Get the password complexity settings Deprecated: please move to the corresponding endpoint
   * under settings service v2. This endpoint will be removed with the next major version of
   * ZITADEL.
   *
   * @param betaSettingsServiceGetPasswordComplexitySettingsRequest (required)
   * @return the API result wrapping {@code
   *     BetaSettingsServiceGetPasswordComplexitySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetPasswordComplexitySettingsResponse>
      getPasswordComplexitySettingsWithHttpInfo(
          BetaSettingsServiceGetPasswordComplexitySettingsRequest
              betaSettingsServiceGetPasswordComplexitySettingsRequest) {
    if (betaSettingsServiceGetPasswordComplexitySettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetPasswordComplexitySettingsRequest' when calling getPasswordComplexitySettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetPasswordComplexitySettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetPasswordComplexitySettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getPasswordComplexitySettingsTypeRef,
        null);
  }

  /**
   * Get the password expiry settings Deprecated: please move to the corresponding endpoint under
   * settings service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetPasswordExpirySettingsRequest (required)
   * @return {@code BetaSettingsServiceGetPasswordExpirySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetPasswordExpirySettingsResponse getPasswordExpirySettings(
      BetaSettingsServiceGetPasswordExpirySettingsRequest
          betaSettingsServiceGetPasswordExpirySettingsRequest) {
    return requireBody(
        getPasswordExpirySettingsWithHttpInfo(betaSettingsServiceGetPasswordExpirySettingsRequest),
        "getPasswordExpirySettings");
  }

  /**
   * Get the password expiry settings Deprecated: please move to the corresponding endpoint under
   * settings service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceGetPasswordExpirySettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetPasswordExpirySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetPasswordExpirySettingsResponse>
      getPasswordExpirySettingsWithHttpInfo(
          BetaSettingsServiceGetPasswordExpirySettingsRequest
              betaSettingsServiceGetPasswordExpirySettingsRequest) {
    if (betaSettingsServiceGetPasswordExpirySettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceGetPasswordExpirySettingsRequest' when calling getPasswordExpirySettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetPasswordExpirySettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceGetPasswordExpirySettingsRequest,
        new String[] {"application/json"},
        "application/json",
        getPasswordExpirySettingsTypeRef,
        null);
  }

  /**
   * Get the security settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param body (required)
   * @return {@code BetaSettingsServiceGetSecuritySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceGetSecuritySettingsResponse getSecuritySettings(Object body) {
    return requireBody(getSecuritySettingsWithHttpInfo(body), "getSecuritySettings");
  }

  /**
   * Get the security settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaSettingsServiceGetSecuritySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceGetSecuritySettingsResponse> getSecuritySettingsWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling getSecuritySettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/GetSecuritySettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        getSecuritySettingsTypeRef,
        null);
  }

  /**
   * Set the security settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceSetSecuritySettingsRequest (required)
   * @return {@code BetaSettingsServiceSetSecuritySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSettingsServiceSetSecuritySettingsResponse setSecuritySettings(
      BetaSettingsServiceSetSecuritySettingsRequest betaSettingsServiceSetSecuritySettingsRequest) {
    return requireBody(
        setSecuritySettingsWithHttpInfo(betaSettingsServiceSetSecuritySettingsRequest),
        "setSecuritySettings");
  }

  /**
   * Set the security settings Deprecated: please move to the corresponding endpoint under settings
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSettingsServiceSetSecuritySettingsRequest (required)
   * @return the API result wrapping {@code BetaSettingsServiceSetSecuritySettingsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSettingsServiceSetSecuritySettingsResponse> setSecuritySettingsWithHttpInfo(
      BetaSettingsServiceSetSecuritySettingsRequest betaSettingsServiceSetSecuritySettingsRequest) {
    if (betaSettingsServiceSetSecuritySettingsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSettingsServiceSetSecuritySettingsRequest' when calling setSecuritySettings");
    }
    String path = "/zitadel.settings.v2beta.SettingsService/SetSecuritySettings";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSettingsServiceSetSecuritySettingsRequest,
        new String[] {"application/json"},
        "application/json",
        setSecuritySettingsTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
