// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaSessionServiceCreateSessionRequest;
import com.zitadel.model.BetaSessionServiceCreateSessionResponse;
import com.zitadel.model.BetaSessionServiceDeleteSessionRequest;
import com.zitadel.model.BetaSessionServiceDeleteSessionResponse;
import com.zitadel.model.BetaSessionServiceGetSessionRequest;
import com.zitadel.model.BetaSessionServiceGetSessionResponse;
import com.zitadel.model.BetaSessionServiceListSessionsRequest;
import com.zitadel.model.BetaSessionServiceListSessionsResponse;
import com.zitadel.model.BetaSessionServiceSetSessionRequest;
import com.zitadel.model.BetaSessionServiceSetSessionResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaSessionServiceApi provides methods for the BetaSessionService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaSessionServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createSessionTypeRef =
      new TypeReference<BetaSessionServiceCreateSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteSessionTypeRef =
      new TypeReference<BetaSessionServiceDeleteSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type getSessionTypeRef =
      new TypeReference<BetaSessionServiceGetSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type listSessionsTypeRef =
      new TypeReference<BetaSessionServiceListSessionsResponse>() {}.getType();

  private static final java.lang.reflect.Type setSessionTypeRef =
      new TypeReference<BetaSessionServiceSetSessionResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaSessionServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaSessionServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaSessionServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create a new session Deprecated: please move to the corresponding endpoint under session
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceCreateSessionRequest (required)
   * @return {@code BetaSessionServiceCreateSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSessionServiceCreateSessionResponse createSession(
      BetaSessionServiceCreateSessionRequest betaSessionServiceCreateSessionRequest) {
    return requireBody(
        createSessionWithHttpInfo(betaSessionServiceCreateSessionRequest), "createSession");
  }

  /**
   * Create a new session Deprecated: please move to the corresponding endpoint under session
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceCreateSessionRequest (required)
   * @return the API result wrapping {@code BetaSessionServiceCreateSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSessionServiceCreateSessionResponse> createSessionWithHttpInfo(
      BetaSessionServiceCreateSessionRequest betaSessionServiceCreateSessionRequest) {
    if (betaSessionServiceCreateSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSessionServiceCreateSessionRequest' when calling createSession");
    }
    String path = "/zitadel.session.v2beta.SessionService/CreateSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSessionServiceCreateSessionRequest,
        new String[] {"application/json"},
        "application/json",
        createSessionTypeRef,
        null);
  }

  /**
   * Terminate a session Deprecated: please move to the corresponding endpoint under session service
   * v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceDeleteSessionRequest (required)
   * @return {@code BetaSessionServiceDeleteSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSessionServiceDeleteSessionResponse deleteSession(
      BetaSessionServiceDeleteSessionRequest betaSessionServiceDeleteSessionRequest) {
    return requireBody(
        deleteSessionWithHttpInfo(betaSessionServiceDeleteSessionRequest), "deleteSession");
  }

  /**
   * Terminate a session Deprecated: please move to the corresponding endpoint under session service
   * v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceDeleteSessionRequest (required)
   * @return the API result wrapping {@code BetaSessionServiceDeleteSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSessionServiceDeleteSessionResponse> deleteSessionWithHttpInfo(
      BetaSessionServiceDeleteSessionRequest betaSessionServiceDeleteSessionRequest) {
    if (betaSessionServiceDeleteSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSessionServiceDeleteSessionRequest' when calling deleteSession");
    }
    String path = "/zitadel.session.v2beta.SessionService/DeleteSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSessionServiceDeleteSessionRequest,
        new String[] {"application/json"},
        "application/json",
        deleteSessionTypeRef,
        null);
  }

  /**
   * GetSession a session Deprecated: please move to the corresponding endpoint under session
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceGetSessionRequest (required)
   * @return {@code BetaSessionServiceGetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSessionServiceGetSessionResponse getSession(
      BetaSessionServiceGetSessionRequest betaSessionServiceGetSessionRequest) {
    return requireBody(getSessionWithHttpInfo(betaSessionServiceGetSessionRequest), "getSession");
  }

  /**
   * GetSession a session Deprecated: please move to the corresponding endpoint under session
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceGetSessionRequest (required)
   * @return the API result wrapping {@code BetaSessionServiceGetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSessionServiceGetSessionResponse> getSessionWithHttpInfo(
      BetaSessionServiceGetSessionRequest betaSessionServiceGetSessionRequest) {
    if (betaSessionServiceGetSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSessionServiceGetSessionRequest' when calling getSession");
    }
    String path = "/zitadel.session.v2beta.SessionService/GetSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSessionServiceGetSessionRequest,
        new String[] {"application/json"},
        "application/json",
        getSessionTypeRef,
        null);
  }

  /**
   * Search sessions Deprecated: please move to the corresponding endpoint under session service v2.
   * This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceListSessionsRequest (required)
   * @return {@code BetaSessionServiceListSessionsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSessionServiceListSessionsResponse listSessions(
      BetaSessionServiceListSessionsRequest betaSessionServiceListSessionsRequest) {
    return requireBody(
        listSessionsWithHttpInfo(betaSessionServiceListSessionsRequest), "listSessions");
  }

  /**
   * Search sessions Deprecated: please move to the corresponding endpoint under session service v2.
   * This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceListSessionsRequest (required)
   * @return the API result wrapping {@code BetaSessionServiceListSessionsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSessionServiceListSessionsResponse> listSessionsWithHttpInfo(
      BetaSessionServiceListSessionsRequest betaSessionServiceListSessionsRequest) {
    if (betaSessionServiceListSessionsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSessionServiceListSessionsRequest' when calling listSessions");
    }
    String path = "/zitadel.session.v2beta.SessionService/ListSessions";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSessionServiceListSessionsRequest,
        new String[] {"application/json"},
        "application/json",
        listSessionsTypeRef,
        null);
  }

  /**
   * Update a session Deprecated: please move to the corresponding endpoint under session service
   * v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceSetSessionRequest (required)
   * @return {@code BetaSessionServiceSetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaSessionServiceSetSessionResponse setSession(
      BetaSessionServiceSetSessionRequest betaSessionServiceSetSessionRequest) {
    return requireBody(setSessionWithHttpInfo(betaSessionServiceSetSessionRequest), "setSession");
  }

  /**
   * Update a session Deprecated: please move to the corresponding endpoint under session service
   * v2. This endpoint will be removed with the next major version of ZITADEL.
   *
   * @param betaSessionServiceSetSessionRequest (required)
   * @return the API result wrapping {@code BetaSessionServiceSetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaSessionServiceSetSessionResponse> setSessionWithHttpInfo(
      BetaSessionServiceSetSessionRequest betaSessionServiceSetSessionRequest) {
    if (betaSessionServiceSetSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaSessionServiceSetSessionRequest' when calling setSession");
    }
    String path = "/zitadel.session.v2beta.SessionService/SetSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaSessionServiceSetSessionRequest,
        new String[] {"application/json"},
        "application/json",
        setSessionTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
