// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaWebKeyServiceActivateWebKeyRequest;
import com.zitadel.model.BetaWebKeyServiceActivateWebKeyResponse;
import com.zitadel.model.BetaWebKeyServiceCreateWebKeyRequest;
import com.zitadel.model.BetaWebKeyServiceCreateWebKeyResponse;
import com.zitadel.model.BetaWebKeyServiceDeleteWebKeyRequest;
import com.zitadel.model.BetaWebKeyServiceDeleteWebKeyResponse;
import com.zitadel.model.BetaWebKeyServiceListWebKeysResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaWebKeyServiceApi provides methods for the BetaWebKeyService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaWebKeyServiceApi extends BaseApi {

  private static final java.lang.reflect.Type activateWebKeyTypeRef =
      new TypeReference<BetaWebKeyServiceActivateWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type createWebKeyTypeRef =
      new TypeReference<BetaWebKeyServiceCreateWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteWebKeyTypeRef =
      new TypeReference<BetaWebKeyServiceDeleteWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type listWebKeysTypeRef =
      new TypeReference<BetaWebKeyServiceListWebKeysResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaWebKeyServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaWebKeyServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaWebKeyServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Activate Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Switch the active signing
   * web key. The previously active key will be deactivated. Note that the JWKs OIDC endpoint
   * returns a cacheable response. Therefore it is not advised to activate a key that has been
   * created within the cache duration (default is 5min), as the public key may not have been
   * propagated to caches and clients yet. Required permission: - `iam.web_key.write`
   *
   * @param betaWebKeyServiceActivateWebKeyRequest (required)
   * @return {@code BetaWebKeyServiceActivateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaWebKeyServiceActivateWebKeyResponse activateWebKey(
      BetaWebKeyServiceActivateWebKeyRequest betaWebKeyServiceActivateWebKeyRequest) {
    return requireBody(
        activateWebKeyWithHttpInfo(betaWebKeyServiceActivateWebKeyRequest), "activateWebKey");
  }

  /**
   * Activate Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Switch the active signing
   * web key. The previously active key will be deactivated. Note that the JWKs OIDC endpoint
   * returns a cacheable response. Therefore it is not advised to activate a key that has been
   * created within the cache duration (default is 5min), as the public key may not have been
   * propagated to caches and clients yet. Required permission: - `iam.web_key.write`
   *
   * @param betaWebKeyServiceActivateWebKeyRequest (required)
   * @return the API result wrapping {@code BetaWebKeyServiceActivateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaWebKeyServiceActivateWebKeyResponse> activateWebKeyWithHttpInfo(
      BetaWebKeyServiceActivateWebKeyRequest betaWebKeyServiceActivateWebKeyRequest) {
    if (betaWebKeyServiceActivateWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaWebKeyServiceActivateWebKeyRequest' when calling activateWebKey");
    }
    String path = "/zitadel.webkey.v2beta.WebKeyService/ActivateWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaWebKeyServiceActivateWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        activateWebKeyTypeRef,
        null);
  }

  /**
   * Create Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Generate a private and
   * public key pair. The private key can be used to sign OIDC tokens after activation. The public
   * key can be used to validate OIDC tokens. The newly created key will have the state
   * `STATE_INITIAL` and is published to the public key endpoint. Note that the JWKs OIDC endpoint
   * returns a cacheable response. If no key type is provided, a RSA key pair with 2048 bits and
   * SHA256 hashing will be created. Required permission: - `iam.web_key.write`
   *
   * @param betaWebKeyServiceCreateWebKeyRequest (required)
   * @return {@code BetaWebKeyServiceCreateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaWebKeyServiceCreateWebKeyResponse createWebKey(
      BetaWebKeyServiceCreateWebKeyRequest betaWebKeyServiceCreateWebKeyRequest) {
    return requireBody(
        createWebKeyWithHttpInfo(betaWebKeyServiceCreateWebKeyRequest), "createWebKey");
  }

  /**
   * Create Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Generate a private and
   * public key pair. The private key can be used to sign OIDC tokens after activation. The public
   * key can be used to validate OIDC tokens. The newly created key will have the state
   * `STATE_INITIAL` and is published to the public key endpoint. Note that the JWKs OIDC endpoint
   * returns a cacheable response. If no key type is provided, a RSA key pair with 2048 bits and
   * SHA256 hashing will be created. Required permission: - `iam.web_key.write`
   *
   * @param betaWebKeyServiceCreateWebKeyRequest (required)
   * @return the API result wrapping {@code BetaWebKeyServiceCreateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaWebKeyServiceCreateWebKeyResponse> createWebKeyWithHttpInfo(
      BetaWebKeyServiceCreateWebKeyRequest betaWebKeyServiceCreateWebKeyRequest) {
    if (betaWebKeyServiceCreateWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaWebKeyServiceCreateWebKeyRequest' when calling createWebKey");
    }
    String path = "/zitadel.webkey.v2beta.WebKeyService/CreateWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaWebKeyServiceCreateWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        createWebKeyTypeRef,
        null);
  }

  /**
   * Delete Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Delete a web key pair.
   * Only inactive keys can be deleted. Once a key is deleted, any tokens signed by this key will be
   * invalid. Note that the JWKs OIDC endpoint returns a cacheable response. In case the web key is
   * not found, the request will return a successful response as the desired state is already
   * achieved. You can check the change date in the response to verify if the web key was deleted
   * during the request. Required permission: - `iam.web_key.delete`
   *
   * @param betaWebKeyServiceDeleteWebKeyRequest (required)
   * @return {@code BetaWebKeyServiceDeleteWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaWebKeyServiceDeleteWebKeyResponse deleteWebKey(
      BetaWebKeyServiceDeleteWebKeyRequest betaWebKeyServiceDeleteWebKeyRequest) {
    return requireBody(
        deleteWebKeyWithHttpInfo(betaWebKeyServiceDeleteWebKeyRequest), "deleteWebKey");
  }

  /**
   * Delete Web Key Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Delete a web key pair.
   * Only inactive keys can be deleted. Once a key is deleted, any tokens signed by this key will be
   * invalid. Note that the JWKs OIDC endpoint returns a cacheable response. In case the web key is
   * not found, the request will return a successful response as the desired state is already
   * achieved. You can check the change date in the response to verify if the web key was deleted
   * during the request. Required permission: - `iam.web_key.delete`
   *
   * @param betaWebKeyServiceDeleteWebKeyRequest (required)
   * @return the API result wrapping {@code BetaWebKeyServiceDeleteWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaWebKeyServiceDeleteWebKeyResponse> deleteWebKeyWithHttpInfo(
      BetaWebKeyServiceDeleteWebKeyRequest betaWebKeyServiceDeleteWebKeyRequest) {
    if (betaWebKeyServiceDeleteWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaWebKeyServiceDeleteWebKeyRequest' when calling deleteWebKey");
    }
    String path = "/zitadel.webkey.v2beta.WebKeyService/DeleteWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaWebKeyServiceDeleteWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        deleteWebKeyTypeRef,
        null);
  }

  /**
   * List Web Keys Deprecated: please move to the corresponding endpoint under oidc service v2. This
   * endpoint will be removed with the next major version of ZITADEL. List all web keys and their
   * states. Required permission: - `iam.web_key.read`
   *
   * @param body (required)
   * @return {@code BetaWebKeyServiceListWebKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaWebKeyServiceListWebKeysResponse listWebKeys(Object body) {
    return requireBody(listWebKeysWithHttpInfo(body), "listWebKeys");
  }

  /**
   * List Web Keys Deprecated: please move to the corresponding endpoint under oidc service v2. This
   * endpoint will be removed with the next major version of ZITADEL. List all web keys and their
   * states. Required permission: - `iam.web_key.read`
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaWebKeyServiceListWebKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaWebKeyServiceListWebKeysResponse> listWebKeysWithHttpInfo(Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling listWebKeys");
    }
    String path = "/zitadel.webkey.v2beta.WebKeyService/ListWebKeys";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        listWebKeysTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
