// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaAppServiceCreateApplicationKeyRequest;
import com.zitadel.model.BetaAppServiceCreateApplicationKeyResponse;
import com.zitadel.model.BetaAppServiceCreateApplicationRequest;
import com.zitadel.model.BetaAppServiceCreateApplicationResponse;
import com.zitadel.model.BetaAppServiceDeactivateApplicationRequest;
import com.zitadel.model.BetaAppServiceDeactivateApplicationResponse;
import com.zitadel.model.BetaAppServiceDeleteApplicationKeyRequest;
import com.zitadel.model.BetaAppServiceDeleteApplicationKeyResponse;
import com.zitadel.model.BetaAppServiceDeleteApplicationRequest;
import com.zitadel.model.BetaAppServiceDeleteApplicationResponse;
import com.zitadel.model.BetaAppServiceGetApplicationKeyRequest;
import com.zitadel.model.BetaAppServiceGetApplicationKeyResponse;
import com.zitadel.model.BetaAppServiceGetApplicationRequest;
import com.zitadel.model.BetaAppServiceGetApplicationResponse;
import com.zitadel.model.BetaAppServiceListApplicationKeysRequest;
import com.zitadel.model.BetaAppServiceListApplicationKeysResponse;
import com.zitadel.model.BetaAppServiceListApplicationsRequest;
import com.zitadel.model.BetaAppServiceListApplicationsResponse;
import com.zitadel.model.BetaAppServiceReactivateApplicationRequest;
import com.zitadel.model.BetaAppServiceReactivateApplicationResponse;
import com.zitadel.model.BetaAppServiceRegenerateClientSecretRequest;
import com.zitadel.model.BetaAppServiceRegenerateClientSecretResponse;
import com.zitadel.model.BetaAppServiceUpdateApplicationRequest;
import com.zitadel.model.BetaAppServiceUpdateApplicationResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaAppServiceApi provides methods for the BetaAppService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaAppServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createApplicationTypeRef =
      new TypeReference<BetaAppServiceCreateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type createApplicationKeyTypeRef =
      new TypeReference<BetaAppServiceCreateApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type deactivateApplicationTypeRef =
      new TypeReference<BetaAppServiceDeactivateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteApplicationTypeRef =
      new TypeReference<BetaAppServiceDeleteApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteApplicationKeyTypeRef =
      new TypeReference<BetaAppServiceDeleteApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type getApplicationTypeRef =
      new TypeReference<BetaAppServiceGetApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type getApplicationKeyTypeRef =
      new TypeReference<BetaAppServiceGetApplicationKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type listApplicationKeysTypeRef =
      new TypeReference<BetaAppServiceListApplicationKeysResponse>() {}.getType();

  private static final java.lang.reflect.Type listApplicationsTypeRef =
      new TypeReference<BetaAppServiceListApplicationsResponse>() {}.getType();

  private static final java.lang.reflect.Type reactivateApplicationTypeRef =
      new TypeReference<BetaAppServiceReactivateApplicationResponse>() {}.getType();

  private static final java.lang.reflect.Type regenerateClientSecretTypeRef =
      new TypeReference<BetaAppServiceRegenerateClientSecretResponse>() {}.getType();

  private static final java.lang.reflect.Type updateApplicationTypeRef =
      new TypeReference<BetaAppServiceUpdateApplicationResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaAppServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaAppServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaAppServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Application Deprecated: use [application service v2
   * CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx)
   * instead. Create an application. The application can be OIDC, API or SAML type, based on the
   * input. Required permissions: - project.app.write
   *
   * @param betaAppServiceCreateApplicationRequest (required)
   * @return {@code BetaAppServiceCreateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceCreateApplicationResponse createApplication(
      BetaAppServiceCreateApplicationRequest betaAppServiceCreateApplicationRequest) {
    return requireBody(
        createApplicationWithHttpInfo(betaAppServiceCreateApplicationRequest), "createApplication");
  }

  /**
   * Create Application Deprecated: use [application service v2
   * CreateApplication](apis/resources/application_service_v2/application-service-create-application.api.mdx)
   * instead. Create an application. The application can be OIDC, API or SAML type, based on the
   * input. Required permissions: - project.app.write
   *
   * @param betaAppServiceCreateApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceCreateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceCreateApplicationResponse> createApplicationWithHttpInfo(
      BetaAppServiceCreateApplicationRequest betaAppServiceCreateApplicationRequest) {
    if (betaAppServiceCreateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceCreateApplicationRequest' when calling createApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/CreateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceCreateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        createApplicationTypeRef,
        null);
  }

  /**
   * Create Application Key Deprecated: use [application service v2
   * CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx)
   * instead. Create a new application key, which is used to authorize an API application. Key
   * details are returned in the response. They must be stored safely, as it will not be possible to
   * retrieve them again. Required permissions: - `project.app.write`
   *
   * @param betaAppServiceCreateApplicationKeyRequest (required)
   * @return {@code BetaAppServiceCreateApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceCreateApplicationKeyResponse createApplicationKey(
      BetaAppServiceCreateApplicationKeyRequest betaAppServiceCreateApplicationKeyRequest) {
    return requireBody(
        createApplicationKeyWithHttpInfo(betaAppServiceCreateApplicationKeyRequest),
        "createApplicationKey");
  }

  /**
   * Create Application Key Deprecated: use [application service v2
   * CreateApplicationKey](apis/resources/application_service_v2/application-service-create-application-key.api.mdx)
   * instead. Create a new application key, which is used to authorize an API application. Key
   * details are returned in the response. They must be stored safely, as it will not be possible to
   * retrieve them again. Required permissions: - `project.app.write`
   *
   * @param betaAppServiceCreateApplicationKeyRequest (required)
   * @return the API result wrapping {@code BetaAppServiceCreateApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceCreateApplicationKeyResponse> createApplicationKeyWithHttpInfo(
      BetaAppServiceCreateApplicationKeyRequest betaAppServiceCreateApplicationKeyRequest) {
    if (betaAppServiceCreateApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceCreateApplicationKeyRequest' when calling createApplicationKey");
    }
    String path = "/zitadel.app.v2beta.AppService/CreateApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceCreateApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        createApplicationKeyTypeRef,
        null);
  }

  /**
   * Deactivate Application Deprecated: use [application service v2
   * DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx)
   * instead. Deactivates the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.write
   *
   * @param betaAppServiceDeactivateApplicationRequest (required)
   * @return {@code BetaAppServiceDeactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceDeactivateApplicationResponse deactivateApplication(
      BetaAppServiceDeactivateApplicationRequest betaAppServiceDeactivateApplicationRequest) {
    return requireBody(
        deactivateApplicationWithHttpInfo(betaAppServiceDeactivateApplicationRequest),
        "deactivateApplication");
  }

  /**
   * Deactivate Application Deprecated: use [application service v2
   * DeactivateApplication](apis/resources/application_service_v2/application-service-deactivate-application.api.mdx)
   * instead. Deactivates the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.write
   *
   * @param betaAppServiceDeactivateApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceDeactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceDeactivateApplicationResponse> deactivateApplicationWithHttpInfo(
      BetaAppServiceDeactivateApplicationRequest betaAppServiceDeactivateApplicationRequest) {
    if (betaAppServiceDeactivateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceDeactivateApplicationRequest' when calling deactivateApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/DeactivateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceDeactivateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        deactivateApplicationTypeRef,
        null);
  }

  /**
   * Delete Application Deprecated: use [application service v2
   * DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx)
   * instead. Deletes the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.delete
   *
   * @param betaAppServiceDeleteApplicationRequest (required)
   * @return {@code BetaAppServiceDeleteApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceDeleteApplicationResponse deleteApplication(
      BetaAppServiceDeleteApplicationRequest betaAppServiceDeleteApplicationRequest) {
    return requireBody(
        deleteApplicationWithHttpInfo(betaAppServiceDeleteApplicationRequest), "deleteApplication");
  }

  /**
   * Delete Application Deprecated: use [application service v2
   * DeleteApplication](apis/resources/application_service_v2/application-service-delete-application.api.mdx)
   * instead. Deletes the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.delete
   *
   * @param betaAppServiceDeleteApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceDeleteApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceDeleteApplicationResponse> deleteApplicationWithHttpInfo(
      BetaAppServiceDeleteApplicationRequest betaAppServiceDeleteApplicationRequest) {
    if (betaAppServiceDeleteApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceDeleteApplicationRequest' when calling deleteApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/DeleteApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceDeleteApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        deleteApplicationTypeRef,
        null);
  }

  /**
   * Delete Application Key Deprecated: use [application service v2
   * DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx)
   * instead. Deletes an application key matching the provided ID. Organization ID is not mandatory,
   * but helps with filtering/performance. The deletion time is returned in response message.
   * Required permissions: - `project.app.write`
   *
   * @param betaAppServiceDeleteApplicationKeyRequest (required)
   * @return {@code BetaAppServiceDeleteApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceDeleteApplicationKeyResponse deleteApplicationKey(
      BetaAppServiceDeleteApplicationKeyRequest betaAppServiceDeleteApplicationKeyRequest) {
    return requireBody(
        deleteApplicationKeyWithHttpInfo(betaAppServiceDeleteApplicationKeyRequest),
        "deleteApplicationKey");
  }

  /**
   * Delete Application Key Deprecated: use [application service v2
   * DeleteApplicationKey](apis/resources/application_service_v2/application-service-delete-application-key.api.mdx)
   * instead. Deletes an application key matching the provided ID. Organization ID is not mandatory,
   * but helps with filtering/performance. The deletion time is returned in response message.
   * Required permissions: - `project.app.write`
   *
   * @param betaAppServiceDeleteApplicationKeyRequest (required)
   * @return the API result wrapping {@code BetaAppServiceDeleteApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceDeleteApplicationKeyResponse> deleteApplicationKeyWithHttpInfo(
      BetaAppServiceDeleteApplicationKeyRequest betaAppServiceDeleteApplicationKeyRequest) {
    if (betaAppServiceDeleteApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceDeleteApplicationKeyRequest' when calling deleteApplicationKey");
    }
    String path = "/zitadel.app.v2beta.AppService/DeleteApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceDeleteApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        deleteApplicationKeyTypeRef,
        null);
  }

  /**
   * Get Application Deprecated: use [application service v2
   * GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx)
   * instead. Retrieves the application matching the provided ID. Required permissions: -
   * project.app.read
   *
   * @param betaAppServiceGetApplicationRequest (required)
   * @return {@code BetaAppServiceGetApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceGetApplicationResponse getApplication(
      BetaAppServiceGetApplicationRequest betaAppServiceGetApplicationRequest) {
    return requireBody(
        getApplicationWithHttpInfo(betaAppServiceGetApplicationRequest), "getApplication");
  }

  /**
   * Get Application Deprecated: use [application service v2
   * GetApplication](apis/resources/application_service_v2/application-service-get-application.api.mdx)
   * instead. Retrieves the application matching the provided ID. Required permissions: -
   * project.app.read
   *
   * @param betaAppServiceGetApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceGetApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceGetApplicationResponse> getApplicationWithHttpInfo(
      BetaAppServiceGetApplicationRequest betaAppServiceGetApplicationRequest) {
    if (betaAppServiceGetApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceGetApplicationRequest' when calling getApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/GetApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceGetApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        getApplicationTypeRef,
        null);
  }

  /**
   * Get Application Key Deprecated: use [application service v2
   * GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx)
   * instead. Retrieves the application key matching the provided ID. Specifying a project,
   * organization and app ID is optional but help with filtering/performance. Required permissions:
   * - project.app.read
   *
   * @param betaAppServiceGetApplicationKeyRequest (required)
   * @return {@code BetaAppServiceGetApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceGetApplicationKeyResponse getApplicationKey(
      BetaAppServiceGetApplicationKeyRequest betaAppServiceGetApplicationKeyRequest) {
    return requireBody(
        getApplicationKeyWithHttpInfo(betaAppServiceGetApplicationKeyRequest), "getApplicationKey");
  }

  /**
   * Get Application Key Deprecated: use [application service v2
   * GetApplicationKey](apis/resources/application_service_v2/application-service-get-application-key.api.mdx)
   * instead. Retrieves the application key matching the provided ID. Specifying a project,
   * organization and app ID is optional but help with filtering/performance. Required permissions:
   * - project.app.read
   *
   * @param betaAppServiceGetApplicationKeyRequest (required)
   * @return the API result wrapping {@code BetaAppServiceGetApplicationKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceGetApplicationKeyResponse> getApplicationKeyWithHttpInfo(
      BetaAppServiceGetApplicationKeyRequest betaAppServiceGetApplicationKeyRequest) {
    if (betaAppServiceGetApplicationKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceGetApplicationKeyRequest' when calling getApplicationKey");
    }
    String path = "/zitadel.app.v2beta.AppService/GetApplicationKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceGetApplicationKeyRequest,
        new String[] {"application/json"},
        "application/json",
        getApplicationKeyTypeRef,
        null);
  }

  /**
   * List Application Keys Deprecated: use [application service v2
   * ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx)
   * instead. Returns a list of application keys matching the input parameters. The result can be
   * sorted by id, aggregate, creation date, expiration date, resource owner or type. It can also be
   * filtered by app, project or organization ID. Required permissions: - project.app.read
   *
   * @param betaAppServiceListApplicationKeysRequest (required)
   * @return {@code BetaAppServiceListApplicationKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceListApplicationKeysResponse listApplicationKeys(
      BetaAppServiceListApplicationKeysRequest betaAppServiceListApplicationKeysRequest) {
    return requireBody(
        listApplicationKeysWithHttpInfo(betaAppServiceListApplicationKeysRequest),
        "listApplicationKeys");
  }

  /**
   * List Application Keys Deprecated: use [application service v2
   * ListApplicationKeys](apis/resources/application_service_v2/application-service-list-application-keys.api.mdx)
   * instead. Returns a list of application keys matching the input parameters. The result can be
   * sorted by id, aggregate, creation date, expiration date, resource owner or type. It can also be
   * filtered by app, project or organization ID. Required permissions: - project.app.read
   *
   * @param betaAppServiceListApplicationKeysRequest (required)
   * @return the API result wrapping {@code BetaAppServiceListApplicationKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceListApplicationKeysResponse> listApplicationKeysWithHttpInfo(
      BetaAppServiceListApplicationKeysRequest betaAppServiceListApplicationKeysRequest) {
    if (betaAppServiceListApplicationKeysRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceListApplicationKeysRequest' when calling listApplicationKeys");
    }
    String path = "/zitadel.app.v2beta.AppService/ListApplicationKeys";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceListApplicationKeysRequest,
        new String[] {"application/json"},
        "application/json",
        listApplicationKeysTypeRef,
        null);
  }

  /**
   * List Applications Deprecated: use [application service v2
   * ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx)
   * instead. Returns a list of applications matching the input parameters that belong to the
   * provided project. The result can be sorted by app id, name, creation date, change date or
   * state. It can also be filtered by app state, app type and app name. Required permissions: -
   * project.app.read
   *
   * @param betaAppServiceListApplicationsRequest (required)
   * @return {@code BetaAppServiceListApplicationsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceListApplicationsResponse listApplications(
      BetaAppServiceListApplicationsRequest betaAppServiceListApplicationsRequest) {
    return requireBody(
        listApplicationsWithHttpInfo(betaAppServiceListApplicationsRequest), "listApplications");
  }

  /**
   * List Applications Deprecated: use [application service v2
   * ListApplications](apis/resources/application_service_v2/application-service-list-applications.api.mdx)
   * instead. Returns a list of applications matching the input parameters that belong to the
   * provided project. The result can be sorted by app id, name, creation date, change date or
   * state. It can also be filtered by app state, app type and app name. Required permissions: -
   * project.app.read
   *
   * @param betaAppServiceListApplicationsRequest (required)
   * @return the API result wrapping {@code BetaAppServiceListApplicationsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceListApplicationsResponse> listApplicationsWithHttpInfo(
      BetaAppServiceListApplicationsRequest betaAppServiceListApplicationsRequest) {
    if (betaAppServiceListApplicationsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceListApplicationsRequest' when calling listApplications");
    }
    String path = "/zitadel.app.v2beta.AppService/ListApplications";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceListApplicationsRequest,
        new String[] {"application/json"},
        "application/json",
        listApplicationsTypeRef,
        null);
  }

  /**
   * Reactivate Application Deprecated: use [application service v2
   * ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx)
   * instead. Reactivates the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.write
   *
   * @param betaAppServiceReactivateApplicationRequest (required)
   * @return {@code BetaAppServiceReactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceReactivateApplicationResponse reactivateApplication(
      BetaAppServiceReactivateApplicationRequest betaAppServiceReactivateApplicationRequest) {
    return requireBody(
        reactivateApplicationWithHttpInfo(betaAppServiceReactivateApplicationRequest),
        "reactivateApplication");
  }

  /**
   * Reactivate Application Deprecated: use [application service v2
   * ReactivateApplication](apis/resources/application_service_v2/application-service-reactivate-application.api.mdx)
   * instead. Reactivates the application belonging to the input project and matching the provided
   * application ID. Required permissions: - project.app.write
   *
   * @param betaAppServiceReactivateApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceReactivateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceReactivateApplicationResponse> reactivateApplicationWithHttpInfo(
      BetaAppServiceReactivateApplicationRequest betaAppServiceReactivateApplicationRequest) {
    if (betaAppServiceReactivateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceReactivateApplicationRequest' when calling reactivateApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/ReactivateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceReactivateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        reactivateApplicationTypeRef,
        null);
  }

  /**
   * Regenerate Client Secret Deprecated: use [application service v2
   * GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx)
   * instead. Regenerates the client secret of an API or OIDC application that belongs to the input
   * project. Required permissions: - project.app.write
   *
   * @param betaAppServiceRegenerateClientSecretRequest (required)
   * @return {@code BetaAppServiceRegenerateClientSecretResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceRegenerateClientSecretResponse regenerateClientSecret(
      BetaAppServiceRegenerateClientSecretRequest betaAppServiceRegenerateClientSecretRequest) {
    return requireBody(
        regenerateClientSecretWithHttpInfo(betaAppServiceRegenerateClientSecretRequest),
        "regenerateClientSecret");
  }

  /**
   * Regenerate Client Secret Deprecated: use [application service v2
   * GenerateClientSecret](apis/resources/application_service_v2/application-service-generate-client-secret.api.mdx)
   * instead. Regenerates the client secret of an API or OIDC application that belongs to the input
   * project. Required permissions: - project.app.write
   *
   * @param betaAppServiceRegenerateClientSecretRequest (required)
   * @return the API result wrapping {@code BetaAppServiceRegenerateClientSecretResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceRegenerateClientSecretResponse> regenerateClientSecretWithHttpInfo(
      BetaAppServiceRegenerateClientSecretRequest betaAppServiceRegenerateClientSecretRequest) {
    if (betaAppServiceRegenerateClientSecretRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceRegenerateClientSecretRequest' when calling regenerateClientSecret");
    }
    String path = "/zitadel.app.v2beta.AppService/RegenerateClientSecret";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceRegenerateClientSecretRequest,
        new String[] {"application/json"},
        "application/json",
        regenerateClientSecretTypeRef,
        null);
  }

  /**
   * Update Application Deprecated: use [application service v2
   * UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx)
   * instead. Changes the configuration of an OIDC, API or SAML type application, as well as the
   * application name, based on the input provided. Required permissions: - project.app.write
   *
   * @param betaAppServiceUpdateApplicationRequest (required)
   * @return {@code BetaAppServiceUpdateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAppServiceUpdateApplicationResponse updateApplication(
      BetaAppServiceUpdateApplicationRequest betaAppServiceUpdateApplicationRequest) {
    return requireBody(
        updateApplicationWithHttpInfo(betaAppServiceUpdateApplicationRequest), "updateApplication");
  }

  /**
   * Update Application Deprecated: use [application service v2
   * UpdateApplication](apis/resources/application_service_v2/zitadel-app-v-2-application-service-update-application.api.mdx)
   * instead. Changes the configuration of an OIDC, API or SAML type application, as well as the
   * application name, based on the input provided. Required permissions: - project.app.write
   *
   * @param betaAppServiceUpdateApplicationRequest (required)
   * @return the API result wrapping {@code BetaAppServiceUpdateApplicationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAppServiceUpdateApplicationResponse> updateApplicationWithHttpInfo(
      BetaAppServiceUpdateApplicationRequest betaAppServiceUpdateApplicationRequest) {
    if (betaAppServiceUpdateApplicationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAppServiceUpdateApplicationRequest' when calling updateApplication");
    }
    String path = "/zitadel.app.v2beta.AppService/UpdateApplication";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAppServiceUpdateApplicationRequest,
        new String[] {"application/json"},
        "application/json",
        updateApplicationTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
