// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaActionServiceCreateTargetRequest;
import com.zitadel.model.BetaActionServiceCreateTargetResponse;
import com.zitadel.model.BetaActionServiceDeleteTargetRequest;
import com.zitadel.model.BetaActionServiceDeleteTargetResponse;
import com.zitadel.model.BetaActionServiceGetTargetRequest;
import com.zitadel.model.BetaActionServiceGetTargetResponse;
import com.zitadel.model.BetaActionServiceListExecutionFunctionsResponse;
import com.zitadel.model.BetaActionServiceListExecutionMethodsResponse;
import com.zitadel.model.BetaActionServiceListExecutionServicesResponse;
import com.zitadel.model.BetaActionServiceListExecutionsRequest;
import com.zitadel.model.BetaActionServiceListExecutionsResponse;
import com.zitadel.model.BetaActionServiceListTargetsRequest;
import com.zitadel.model.BetaActionServiceListTargetsResponse;
import com.zitadel.model.BetaActionServiceSetExecutionRequest;
import com.zitadel.model.BetaActionServiceSetExecutionResponse;
import com.zitadel.model.BetaActionServiceUpdateTargetRequest;
import com.zitadel.model.BetaActionServiceUpdateTargetResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaActionServiceApi provides methods for the BetaActionService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaActionServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createTargetTypeRef =
      new TypeReference<BetaActionServiceCreateTargetResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteTargetTypeRef =
      new TypeReference<BetaActionServiceDeleteTargetResponse>() {}.getType();

  private static final java.lang.reflect.Type getTargetTypeRef =
      new TypeReference<BetaActionServiceGetTargetResponse>() {}.getType();

  private static final java.lang.reflect.Type listExecutionFunctionsTypeRef =
      new TypeReference<BetaActionServiceListExecutionFunctionsResponse>() {}.getType();

  private static final java.lang.reflect.Type listExecutionMethodsTypeRef =
      new TypeReference<BetaActionServiceListExecutionMethodsResponse>() {}.getType();

  private static final java.lang.reflect.Type listExecutionServicesTypeRef =
      new TypeReference<BetaActionServiceListExecutionServicesResponse>() {}.getType();

  private static final java.lang.reflect.Type listExecutionsTypeRef =
      new TypeReference<BetaActionServiceListExecutionsResponse>() {}.getType();

  private static final java.lang.reflect.Type listTargetsTypeRef =
      new TypeReference<BetaActionServiceListTargetsResponse>() {}.getType();

  private static final java.lang.reflect.Type setExecutionTypeRef =
      new TypeReference<BetaActionServiceSetExecutionResponse>() {}.getType();

  private static final java.lang.reflect.Type updateTargetTypeRef =
      new TypeReference<BetaActionServiceUpdateTargetResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaActionServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaActionServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaActionServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Create a new target to
   * your endpoint, which can be used in executions. Required permission: - `action.target.write`
   *
   * @param betaActionServiceCreateTargetRequest (required)
   * @return {@code BetaActionServiceCreateTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceCreateTargetResponse createTarget(
      BetaActionServiceCreateTargetRequest betaActionServiceCreateTargetRequest) {
    return requireBody(
        createTargetWithHttpInfo(betaActionServiceCreateTargetRequest), "createTarget");
  }

  /**
   * Create Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Create a new target to
   * your endpoint, which can be used in executions. Required permission: - `action.target.write`
   *
   * @param betaActionServiceCreateTargetRequest (required)
   * @return the API result wrapping {@code BetaActionServiceCreateTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceCreateTargetResponse> createTargetWithHttpInfo(
      BetaActionServiceCreateTargetRequest betaActionServiceCreateTargetRequest) {
    if (betaActionServiceCreateTargetRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceCreateTargetRequest' when calling createTarget");
    }
    String path = "/zitadel.action.v2beta.ActionService/CreateTarget";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceCreateTargetRequest,
        new String[] {"application/json"},
        "application/json",
        createTargetTypeRef,
        null);
  }

  /**
   * Delete Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Delete an existing
   * target. This will remove it from any configured execution as well. In case the target is not
   * found, the request will return a successful response as the desired state is already achieved.
   * Required permission: - `action.target.delete`
   *
   * @param betaActionServiceDeleteTargetRequest (required)
   * @return {@code BetaActionServiceDeleteTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceDeleteTargetResponse deleteTarget(
      BetaActionServiceDeleteTargetRequest betaActionServiceDeleteTargetRequest) {
    return requireBody(
        deleteTargetWithHttpInfo(betaActionServiceDeleteTargetRequest), "deleteTarget");
  }

  /**
   * Delete Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Delete an existing
   * target. This will remove it from any configured execution as well. In case the target is not
   * found, the request will return a successful response as the desired state is already achieved.
   * Required permission: - `action.target.delete`
   *
   * @param betaActionServiceDeleteTargetRequest (required)
   * @return the API result wrapping {@code BetaActionServiceDeleteTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceDeleteTargetResponse> deleteTargetWithHttpInfo(
      BetaActionServiceDeleteTargetRequest betaActionServiceDeleteTargetRequest) {
    if (betaActionServiceDeleteTargetRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceDeleteTargetRequest' when calling deleteTarget");
    }
    String path = "/zitadel.action.v2beta.ActionService/DeleteTarget";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceDeleteTargetRequest,
        new String[] {"application/json"},
        "application/json",
        deleteTargetTypeRef,
        null);
  }

  /**
   * Get Target Deprecated: please move to the corresponding endpoint under action service v2. This
   * endpoint will be removed with the next major version of ZITADEL. Returns the target identified
   * by the requested ID. Required permission: - `action.target.read`
   *
   * @param betaActionServiceGetTargetRequest (required)
   * @return {@code BetaActionServiceGetTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceGetTargetResponse getTarget(
      BetaActionServiceGetTargetRequest betaActionServiceGetTargetRequest) {
    return requireBody(getTargetWithHttpInfo(betaActionServiceGetTargetRequest), "getTarget");
  }

  /**
   * Get Target Deprecated: please move to the corresponding endpoint under action service v2. This
   * endpoint will be removed with the next major version of ZITADEL. Returns the target identified
   * by the requested ID. Required permission: - `action.target.read`
   *
   * @param betaActionServiceGetTargetRequest (required)
   * @return the API result wrapping {@code BetaActionServiceGetTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceGetTargetResponse> getTargetWithHttpInfo(
      BetaActionServiceGetTargetRequest betaActionServiceGetTargetRequest) {
    if (betaActionServiceGetTargetRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceGetTargetRequest' when calling getTarget");
    }
    String path = "/zitadel.action.v2beta.ActionService/GetTarget";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceGetTargetRequest,
        new String[] {"application/json"},
        "application/json",
        getTargetTypeRef,
        null);
  }

  /**
   * List Execution Functions Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available functions which can be used as condition for executions.
   *
   * @param body (required)
   * @return {@code BetaActionServiceListExecutionFunctionsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceListExecutionFunctionsResponse listExecutionFunctions(Object body) {
    return requireBody(listExecutionFunctionsWithHttpInfo(body), "listExecutionFunctions");
  }

  /**
   * List Execution Functions Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available functions which can be used as condition for executions.
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaActionServiceListExecutionFunctionsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceListExecutionFunctionsResponse>
      listExecutionFunctionsWithHttpInfo(Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling listExecutionFunctions");
    }
    String path = "/zitadel.action.v2beta.ActionService/ListExecutionFunctions";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        listExecutionFunctionsTypeRef,
        null);
  }

  /**
   * List Execution Methods Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available methods which can be used as condition for executions.
   *
   * @param body (required)
   * @return {@code BetaActionServiceListExecutionMethodsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceListExecutionMethodsResponse listExecutionMethods(Object body) {
    return requireBody(listExecutionMethodsWithHttpInfo(body), "listExecutionMethods");
  }

  /**
   * List Execution Methods Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available methods which can be used as condition for executions.
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaActionServiceListExecutionMethodsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceListExecutionMethodsResponse> listExecutionMethodsWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling listExecutionMethods");
    }
    String path = "/zitadel.action.v2beta.ActionService/ListExecutionMethods";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        listExecutionMethodsTypeRef,
        null);
  }

  /**
   * List Execution Services Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available services which can be used as condition for executions.
   *
   * @param body (required)
   * @return {@code BetaActionServiceListExecutionServicesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceListExecutionServicesResponse listExecutionServices(Object body) {
    return requireBody(listExecutionServicesWithHttpInfo(body), "listExecutionServices");
  }

  /**
   * List Execution Services Deprecated: please move to the corresponding endpoint under action
   * service v2. This endpoint will be removed with the next major version of ZITADEL. List all
   * available services which can be used as condition for executions.
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaActionServiceListExecutionServicesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceListExecutionServicesResponse>
      listExecutionServicesWithHttpInfo(Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling listExecutionServices");
    }
    String path = "/zitadel.action.v2beta.ActionService/ListExecutionServices";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        listExecutionServicesTypeRef,
        null);
  }

  /**
   * List Executions Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. List all matching
   * executions. By default all executions of the instance are returned that have at least one
   * execution target. Make sure to include a limit and sorting for pagination. Required permission:
   * - `action.execution.read`
   *
   * @param betaActionServiceListExecutionsRequest (required)
   * @return {@code BetaActionServiceListExecutionsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceListExecutionsResponse listExecutions(
      BetaActionServiceListExecutionsRequest betaActionServiceListExecutionsRequest) {
    return requireBody(
        listExecutionsWithHttpInfo(betaActionServiceListExecutionsRequest), "listExecutions");
  }

  /**
   * List Executions Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. List all matching
   * executions. By default all executions of the instance are returned that have at least one
   * execution target. Make sure to include a limit and sorting for pagination. Required permission:
   * - `action.execution.read`
   *
   * @param betaActionServiceListExecutionsRequest (required)
   * @return the API result wrapping {@code BetaActionServiceListExecutionsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceListExecutionsResponse> listExecutionsWithHttpInfo(
      BetaActionServiceListExecutionsRequest betaActionServiceListExecutionsRequest) {
    if (betaActionServiceListExecutionsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceListExecutionsRequest' when calling listExecutions");
    }
    String path = "/zitadel.action.v2beta.ActionService/ListExecutions";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceListExecutionsRequest,
        new String[] {"application/json"},
        "application/json",
        listExecutionsTypeRef,
        null);
  }

  /**
   * List targets Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. List all matching
   * targets. By default all targets of the instance are returned. Make sure to include a limit and
   * sorting for pagination. Required permission: - `action.target.read`
   *
   * @param betaActionServiceListTargetsRequest (required)
   * @return {@code BetaActionServiceListTargetsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceListTargetsResponse listTargets(
      BetaActionServiceListTargetsRequest betaActionServiceListTargetsRequest) {
    return requireBody(listTargetsWithHttpInfo(betaActionServiceListTargetsRequest), "listTargets");
  }

  /**
   * List targets Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. List all matching
   * targets. By default all targets of the instance are returned. Make sure to include a limit and
   * sorting for pagination. Required permission: - `action.target.read`
   *
   * @param betaActionServiceListTargetsRequest (required)
   * @return the API result wrapping {@code BetaActionServiceListTargetsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceListTargetsResponse> listTargetsWithHttpInfo(
      BetaActionServiceListTargetsRequest betaActionServiceListTargetsRequest) {
    if (betaActionServiceListTargetsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceListTargetsRequest' when calling listTargets");
    }
    String path = "/zitadel.action.v2beta.ActionService/ListTargets";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceListTargetsRequest,
        new String[] {"application/json"},
        "application/json",
        listTargetsTypeRef,
        null);
  }

  /**
   * Set Execution Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Sets an execution to call
   * a target or include the targets of another execution. Setting an empty list of targets will
   * remove all targets from the execution, making it a noop. Required permission: -
   * `action.execution.write`
   *
   * @param betaActionServiceSetExecutionRequest (required)
   * @return {@code BetaActionServiceSetExecutionResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceSetExecutionResponse setExecution(
      BetaActionServiceSetExecutionRequest betaActionServiceSetExecutionRequest) {
    return requireBody(
        setExecutionWithHttpInfo(betaActionServiceSetExecutionRequest), "setExecution");
  }

  /**
   * Set Execution Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Sets an execution to call
   * a target or include the targets of another execution. Setting an empty list of targets will
   * remove all targets from the execution, making it a noop. Required permission: -
   * `action.execution.write`
   *
   * @param betaActionServiceSetExecutionRequest (required)
   * @return the API result wrapping {@code BetaActionServiceSetExecutionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceSetExecutionResponse> setExecutionWithHttpInfo(
      BetaActionServiceSetExecutionRequest betaActionServiceSetExecutionRequest) {
    if (betaActionServiceSetExecutionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceSetExecutionRequest' when calling setExecution");
    }
    String path = "/zitadel.action.v2beta.ActionService/SetExecution";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceSetExecutionRequest,
        new String[] {"application/json"},
        "application/json",
        setExecutionTypeRef,
        null);
  }

  /**
   * Update Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Update an existing
   * target. To generate a new signing key set the optional expirationSigningKey. Required
   * permission: - `action.target.write`
   *
   * @param betaActionServiceUpdateTargetRequest (required)
   * @return {@code BetaActionServiceUpdateTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaActionServiceUpdateTargetResponse updateTarget(
      BetaActionServiceUpdateTargetRequest betaActionServiceUpdateTargetRequest) {
    return requireBody(
        updateTargetWithHttpInfo(betaActionServiceUpdateTargetRequest), "updateTarget");
  }

  /**
   * Update Target Deprecated: please move to the corresponding endpoint under action service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Update an existing
   * target. To generate a new signing key set the optional expirationSigningKey. Required
   * permission: - `action.target.write`
   *
   * @param betaActionServiceUpdateTargetRequest (required)
   * @return the API result wrapping {@code BetaActionServiceUpdateTargetResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaActionServiceUpdateTargetResponse> updateTargetWithHttpInfo(
      BetaActionServiceUpdateTargetRequest betaActionServiceUpdateTargetRequest) {
    if (betaActionServiceUpdateTargetRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaActionServiceUpdateTargetRequest' when calling updateTarget");
    }
    String path = "/zitadel.action.v2beta.ActionService/UpdateTarget";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaActionServiceUpdateTargetRequest,
        new String[] {"application/json"},
        "application/json",
        updateTargetTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
