// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaTelemetryServiceReportBaseInformationRequest;
import com.zitadel.model.BetaTelemetryServiceReportBaseInformationResponse;
import com.zitadel.model.BetaTelemetryServiceReportResourceCountsRequest;
import com.zitadel.model.BetaTelemetryServiceReportResourceCountsResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaTelemetryServiceApi provides methods for the BetaTelemetryService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaTelemetryServiceApi extends BaseApi {

  private static final java.lang.reflect.Type reportBaseInformationTypeRef =
      new TypeReference<BetaTelemetryServiceReportBaseInformationResponse>() {}.getType();

  private static final java.lang.reflect.Type reportResourceCountsTypeRef =
      new TypeReference<BetaTelemetryServiceReportResourceCountsResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaTelemetryServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaTelemetryServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaTelemetryServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * ReportBaseInformation is used to report the base information of the ZITADEL system, including
   * the version, instances, their creation date and domains. The response contains a report ID to
   * link it to the resource counts or other reports. The report ID is only valid for the same
   * system ID. ReportBaseInformation is used to report the base information of the ZITADEL system,
   * including the version, instances, their creation date and domains. The response contains a
   * report ID to link it to the resource counts or other reports. The report ID is only valid for
   * the same system ID.
   *
   * @param betaTelemetryServiceReportBaseInformationRequest (required)
   * @return {@code BetaTelemetryServiceReportBaseInformationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaTelemetryServiceReportBaseInformationResponse reportBaseInformation(
      BetaTelemetryServiceReportBaseInformationRequest
          betaTelemetryServiceReportBaseInformationRequest) {
    return requireBody(
        reportBaseInformationWithHttpInfo(betaTelemetryServiceReportBaseInformationRequest),
        "reportBaseInformation");
  }

  /**
   * ReportBaseInformation is used to report the base information of the ZITADEL system, including
   * the version, instances, their creation date and domains. The response contains a report ID to
   * link it to the resource counts or other reports. The report ID is only valid for the same
   * system ID. ReportBaseInformation is used to report the base information of the ZITADEL system,
   * including the version, instances, their creation date and domains. The response contains a
   * report ID to link it to the resource counts or other reports. The report ID is only valid for
   * the same system ID.
   *
   * @param betaTelemetryServiceReportBaseInformationRequest (required)
   * @return the API result wrapping {@code BetaTelemetryServiceReportBaseInformationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaTelemetryServiceReportBaseInformationResponse>
      reportBaseInformationWithHttpInfo(
          BetaTelemetryServiceReportBaseInformationRequest
              betaTelemetryServiceReportBaseInformationRequest) {
    if (betaTelemetryServiceReportBaseInformationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaTelemetryServiceReportBaseInformationRequest' when calling reportBaseInformation");
    }
    String path = "/zitadel.analytics.v2beta.TelemetryService/ReportBaseInformation";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaTelemetryServiceReportBaseInformationRequest,
        new String[] {"application/json"},
        "application/json",
        reportBaseInformationTypeRef,
        null);
  }

  /**
   * ReportResourceCounts is used to report the resource counts such as amount of organizations or
   * users per organization and much more. Since the resource counts can be reported in multiple
   * batches, the response contains a report ID to continue reporting. The report ID is only valid
   * for the same system ID. ReportResourceCounts is used to report the resource counts such as
   * amount of organizations or users per organization and much more. Since the resource counts can
   * be reported in multiple batches, the response contains a report ID to continue reporting. The
   * report ID is only valid for the same system ID.
   *
   * @param betaTelemetryServiceReportResourceCountsRequest (required)
   * @return {@code BetaTelemetryServiceReportResourceCountsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaTelemetryServiceReportResourceCountsResponse reportResourceCounts(
      BetaTelemetryServiceReportResourceCountsRequest
          betaTelemetryServiceReportResourceCountsRequest) {
    return requireBody(
        reportResourceCountsWithHttpInfo(betaTelemetryServiceReportResourceCountsRequest),
        "reportResourceCounts");
  }

  /**
   * ReportResourceCounts is used to report the resource counts such as amount of organizations or
   * users per organization and much more. Since the resource counts can be reported in multiple
   * batches, the response contains a report ID to continue reporting. The report ID is only valid
   * for the same system ID. ReportResourceCounts is used to report the resource counts such as
   * amount of organizations or users per organization and much more. Since the resource counts can
   * be reported in multiple batches, the response contains a report ID to continue reporting. The
   * report ID is only valid for the same system ID.
   *
   * @param betaTelemetryServiceReportResourceCountsRequest (required)
   * @return the API result wrapping {@code BetaTelemetryServiceReportResourceCountsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaTelemetryServiceReportResourceCountsResponse>
      reportResourceCountsWithHttpInfo(
          BetaTelemetryServiceReportResourceCountsRequest
              betaTelemetryServiceReportResourceCountsRequest) {
    if (betaTelemetryServiceReportResourceCountsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaTelemetryServiceReportResourceCountsRequest' when calling reportResourceCounts");
    }
    String path = "/zitadel.analytics.v2beta.TelemetryService/ReportResourceCounts";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaTelemetryServiceReportResourceCountsRequest,
        new String[] {"application/json"},
        "application/json",
        reportResourceCountsTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
