// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaInternalPermissionServiceCreateAdministratorRequest;
import com.zitadel.model.BetaInternalPermissionServiceCreateAdministratorResponse;
import com.zitadel.model.BetaInternalPermissionServiceDeleteAdministratorRequest;
import com.zitadel.model.BetaInternalPermissionServiceDeleteAdministratorResponse;
import com.zitadel.model.BetaInternalPermissionServiceListAdministratorsRequest;
import com.zitadel.model.BetaInternalPermissionServiceListAdministratorsResponse;
import com.zitadel.model.BetaInternalPermissionServiceUpdateAdministratorRequest;
import com.zitadel.model.BetaInternalPermissionServiceUpdateAdministratorResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/**
 * BetaInternalPermissionServiceApi provides methods for the BetaInternalPermissionService API
 * group.
 */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaInternalPermissionServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createAdministratorTypeRef =
      new TypeReference<BetaInternalPermissionServiceCreateAdministratorResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteAdministratorTypeRef =
      new TypeReference<BetaInternalPermissionServiceDeleteAdministratorResponse>() {}.getType();

  private static final java.lang.reflect.Type listAdministratorsTypeRef =
      new TypeReference<BetaInternalPermissionServiceListAdministratorsResponse>() {}.getType();

  private static final java.lang.reflect.Type updateAdministratorTypeRef =
      new TypeReference<BetaInternalPermissionServiceUpdateAdministratorResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaInternalPermissionServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaInternalPermissionServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaInternalPermissionServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * CreateAdministrator grants a administrator role to a user for a specific resource. Deprecated:
   * please move to the corresponding endpoint under internal permission service v2. This endpoint
   * will be removed with the next major version of ZITADEL. Note that the roles are specific to the
   * resource type. This means that if you want to grant a user the administrator role for an
   * organization and a project, you need to create two administrator roles. Required permissions
   * depend on the resource type: - \"iam.member.write\" for instance administrators -
   * \"org.member.write\" for organization administrators - \"project.member.write\" for project
   * administrators - \"project.grant.member.write\" for project grant administrators
   *
   * @param betaInternalPermissionServiceCreateAdministratorRequest (required)
   * @return {@code BetaInternalPermissionServiceCreateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInternalPermissionServiceCreateAdministratorResponse createAdministrator(
      BetaInternalPermissionServiceCreateAdministratorRequest
          betaInternalPermissionServiceCreateAdministratorRequest) {
    return requireBody(
        createAdministratorWithHttpInfo(betaInternalPermissionServiceCreateAdministratorRequest),
        "createAdministrator");
  }

  /**
   * CreateAdministrator grants a administrator role to a user for a specific resource. Deprecated:
   * please move to the corresponding endpoint under internal permission service v2. This endpoint
   * will be removed with the next major version of ZITADEL. Note that the roles are specific to the
   * resource type. This means that if you want to grant a user the administrator role for an
   * organization and a project, you need to create two administrator roles. Required permissions
   * depend on the resource type: - \"iam.member.write\" for instance administrators -
   * \"org.member.write\" for organization administrators - \"project.member.write\" for project
   * administrators - \"project.grant.member.write\" for project grant administrators
   *
   * @param betaInternalPermissionServiceCreateAdministratorRequest (required)
   * @return the API result wrapping {@code
   *     BetaInternalPermissionServiceCreateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInternalPermissionServiceCreateAdministratorResponse>
      createAdministratorWithHttpInfo(
          BetaInternalPermissionServiceCreateAdministratorRequest
              betaInternalPermissionServiceCreateAdministratorRequest) {
    if (betaInternalPermissionServiceCreateAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInternalPermissionServiceCreateAdministratorRequest' when calling createAdministrator");
    }
    String path =
        "/zitadel.internal_permission.v2beta.InternalPermissionService/CreateAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInternalPermissionServiceCreateAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        createAdministratorTypeRef,
        null);
  }

  /**
   * DeleteAdministrator revokes a administrator role from a user. Deprecated: please move to the
   * corresponding endpoint under internal permission service v2. This endpoint will be removed with
   * the next major version of ZITADEL. In case the administrator role is not found, the request
   * will return a successful response as the desired state is already achieved. You can check the
   * deletion date in the response to verify if the administrator role was deleted during the
   * request. Required permissions depend on the resource type: - \"iam.member.delete\" for instance
   * administrators - \"org.member.delete\" for organization administrators -
   * \"project.member.delete\" for project administrators - \"project.grant.member.delete\" for
   * project grant administrators
   *
   * @param betaInternalPermissionServiceDeleteAdministratorRequest (required)
   * @return {@code BetaInternalPermissionServiceDeleteAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInternalPermissionServiceDeleteAdministratorResponse deleteAdministrator(
      BetaInternalPermissionServiceDeleteAdministratorRequest
          betaInternalPermissionServiceDeleteAdministratorRequest) {
    return requireBody(
        deleteAdministratorWithHttpInfo(betaInternalPermissionServiceDeleteAdministratorRequest),
        "deleteAdministrator");
  }

  /**
   * DeleteAdministrator revokes a administrator role from a user. Deprecated: please move to the
   * corresponding endpoint under internal permission service v2. This endpoint will be removed with
   * the next major version of ZITADEL. In case the administrator role is not found, the request
   * will return a successful response as the desired state is already achieved. You can check the
   * deletion date in the response to verify if the administrator role was deleted during the
   * request. Required permissions depend on the resource type: - \"iam.member.delete\" for instance
   * administrators - \"org.member.delete\" for organization administrators -
   * \"project.member.delete\" for project administrators - \"project.grant.member.delete\" for
   * project grant administrators
   *
   * @param betaInternalPermissionServiceDeleteAdministratorRequest (required)
   * @return the API result wrapping {@code
   *     BetaInternalPermissionServiceDeleteAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInternalPermissionServiceDeleteAdministratorResponse>
      deleteAdministratorWithHttpInfo(
          BetaInternalPermissionServiceDeleteAdministratorRequest
              betaInternalPermissionServiceDeleteAdministratorRequest) {
    if (betaInternalPermissionServiceDeleteAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInternalPermissionServiceDeleteAdministratorRequest' when calling deleteAdministrator");
    }
    String path =
        "/zitadel.internal_permission.v2beta.InternalPermissionService/DeleteAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInternalPermissionServiceDeleteAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        deleteAdministratorTypeRef,
        null);
  }

  /**
   * ListAdministrators returns all administrators and its roles matching the request and necessary
   * permissions. Deprecated: please move to the corresponding endpoint under internal permission
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Required
   * permissions depend on the resource type: - \"iam.member.read\" for instance administrators -
   * \"org.member.read\" for organization administrators - \"project.member.read\" for project
   * administrators - \"project.grant.member.read\" for project grant administrators - no
   * permissions required for listing own administrator roles
   *
   * @param betaInternalPermissionServiceListAdministratorsRequest (required)
   * @return {@code BetaInternalPermissionServiceListAdministratorsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInternalPermissionServiceListAdministratorsResponse listAdministrators(
      BetaInternalPermissionServiceListAdministratorsRequest
          betaInternalPermissionServiceListAdministratorsRequest) {
    return requireBody(
        listAdministratorsWithHttpInfo(betaInternalPermissionServiceListAdministratorsRequest),
        "listAdministrators");
  }

  /**
   * ListAdministrators returns all administrators and its roles matching the request and necessary
   * permissions. Deprecated: please move to the corresponding endpoint under internal permission
   * service v2. This endpoint will be removed with the next major version of ZITADEL. Required
   * permissions depend on the resource type: - \"iam.member.read\" for instance administrators -
   * \"org.member.read\" for organization administrators - \"project.member.read\" for project
   * administrators - \"project.grant.member.read\" for project grant administrators - no
   * permissions required for listing own administrator roles
   *
   * @param betaInternalPermissionServiceListAdministratorsRequest (required)
   * @return the API result wrapping {@code BetaInternalPermissionServiceListAdministratorsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInternalPermissionServiceListAdministratorsResponse>
      listAdministratorsWithHttpInfo(
          BetaInternalPermissionServiceListAdministratorsRequest
              betaInternalPermissionServiceListAdministratorsRequest) {
    if (betaInternalPermissionServiceListAdministratorsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInternalPermissionServiceListAdministratorsRequest' when calling listAdministrators");
    }
    String path =
        "/zitadel.internal_permission.v2beta.InternalPermissionService/ListAdministrators";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInternalPermissionServiceListAdministratorsRequest,
        new String[] {"application/json"},
        "application/json",
        listAdministratorsTypeRef,
        null);
  }

  /**
   * UpdateAdministrator updates the specific administrator role. Deprecated: please move to the
   * corresponding endpoint under internal permission service v2. This endpoint will be removed with
   * the next major version of ZITADEL. Note that any role previously granted to the user and not
   * present in the request will be revoked. Required permissions depend on the resource type: -
   * \"iam.member.write\" for instance administrators - \"org.member.write\" for organization
   * administrators - \"project.member.write\" for project administrators -
   * \"project.grant.member.write\" for project grant administrators
   *
   * @param betaInternalPermissionServiceUpdateAdministratorRequest (required)
   * @return {@code BetaInternalPermissionServiceUpdateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaInternalPermissionServiceUpdateAdministratorResponse updateAdministrator(
      BetaInternalPermissionServiceUpdateAdministratorRequest
          betaInternalPermissionServiceUpdateAdministratorRequest) {
    return requireBody(
        updateAdministratorWithHttpInfo(betaInternalPermissionServiceUpdateAdministratorRequest),
        "updateAdministrator");
  }

  /**
   * UpdateAdministrator updates the specific administrator role. Deprecated: please move to the
   * corresponding endpoint under internal permission service v2. This endpoint will be removed with
   * the next major version of ZITADEL. Note that any role previously granted to the user and not
   * present in the request will be revoked. Required permissions depend on the resource type: -
   * \"iam.member.write\" for instance administrators - \"org.member.write\" for organization
   * administrators - \"project.member.write\" for project administrators -
   * \"project.grant.member.write\" for project grant administrators
   *
   * @param betaInternalPermissionServiceUpdateAdministratorRequest (required)
   * @return the API result wrapping {@code
   *     BetaInternalPermissionServiceUpdateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaInternalPermissionServiceUpdateAdministratorResponse>
      updateAdministratorWithHttpInfo(
          BetaInternalPermissionServiceUpdateAdministratorRequest
              betaInternalPermissionServiceUpdateAdministratorRequest) {
    if (betaInternalPermissionServiceUpdateAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaInternalPermissionServiceUpdateAdministratorRequest' when calling updateAdministrator");
    }
    String path =
        "/zitadel.internal_permission.v2beta.InternalPermissionService/UpdateAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaInternalPermissionServiceUpdateAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        updateAdministratorTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
