// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaAuthorizationServiceActivateAuthorizationRequest;
import com.zitadel.model.BetaAuthorizationServiceActivateAuthorizationResponse;
import com.zitadel.model.BetaAuthorizationServiceCreateAuthorizationRequest;
import com.zitadel.model.BetaAuthorizationServiceCreateAuthorizationResponse;
import com.zitadel.model.BetaAuthorizationServiceDeactivateAuthorizationRequest;
import com.zitadel.model.BetaAuthorizationServiceDeactivateAuthorizationResponse;
import com.zitadel.model.BetaAuthorizationServiceDeleteAuthorizationRequest;
import com.zitadel.model.BetaAuthorizationServiceDeleteAuthorizationResponse;
import com.zitadel.model.BetaAuthorizationServiceListAuthorizationsRequest;
import com.zitadel.model.BetaAuthorizationServiceListAuthorizationsResponse;
import com.zitadel.model.BetaAuthorizationServiceUpdateAuthorizationRequest;
import com.zitadel.model.BetaAuthorizationServiceUpdateAuthorizationResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaAuthorizationServiceApi provides methods for the BetaAuthorizationService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaAuthorizationServiceApi extends BaseApi {

  private static final java.lang.reflect.Type activateAuthorizationTypeRef =
      new TypeReference<BetaAuthorizationServiceActivateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type createAuthorizationTypeRef =
      new TypeReference<BetaAuthorizationServiceCreateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type deactivateAuthorizationTypeRef =
      new TypeReference<BetaAuthorizationServiceDeactivateAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteAuthorizationTypeRef =
      new TypeReference<BetaAuthorizationServiceDeleteAuthorizationResponse>() {}.getType();

  private static final java.lang.reflect.Type listAuthorizationsTypeRef =
      new TypeReference<BetaAuthorizationServiceListAuthorizationsResponse>() {}.getType();

  private static final java.lang.reflect.Type updateAuthorizationTypeRef =
      new TypeReference<BetaAuthorizationServiceUpdateAuthorizationResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaAuthorizationServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaAuthorizationServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaAuthorizationServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Activate Authorization Deprecated: please move to the corresponding endpoint under
   * authorization service v2. This endpoint will be removed with the next major version of ZITADEL.
   * ActivateAuthorization activates an existing but inactive authorization. In case the
   * authorization is already active, the request will return a successful response as the desired
   * state is already achieved. You can check the change date in the response to verify if the
   * authorization was activated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceActivateAuthorizationRequest (required)
   * @return {@code BetaAuthorizationServiceActivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceActivateAuthorizationResponse activateAuthorization(
      BetaAuthorizationServiceActivateAuthorizationRequest
          betaAuthorizationServiceActivateAuthorizationRequest) {
    return requireBody(
        activateAuthorizationWithHttpInfo(betaAuthorizationServiceActivateAuthorizationRequest),
        "activateAuthorization");
  }

  /**
   * Activate Authorization Deprecated: please move to the corresponding endpoint under
   * authorization service v2. This endpoint will be removed with the next major version of ZITADEL.
   * ActivateAuthorization activates an existing but inactive authorization. In case the
   * authorization is already active, the request will return a successful response as the desired
   * state is already achieved. You can check the change date in the response to verify if the
   * authorization was activated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceActivateAuthorizationRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceActivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceActivateAuthorizationResponse>
      activateAuthorizationWithHttpInfo(
          BetaAuthorizationServiceActivateAuthorizationRequest
              betaAuthorizationServiceActivateAuthorizationRequest) {
    if (betaAuthorizationServiceActivateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceActivateAuthorizationRequest' when calling activateAuthorization");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/ActivateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceActivateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        activateAuthorizationTypeRef,
        null);
  }

  /**
   * Create Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * CreateAuthorization creates a new authorization for a user in an owned or granted project.
   * Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceCreateAuthorizationRequest (required)
   * @return {@code BetaAuthorizationServiceCreateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceCreateAuthorizationResponse createAuthorization(
      BetaAuthorizationServiceCreateAuthorizationRequest
          betaAuthorizationServiceCreateAuthorizationRequest) {
    return requireBody(
        createAuthorizationWithHttpInfo(betaAuthorizationServiceCreateAuthorizationRequest),
        "createAuthorization");
  }

  /**
   * Create Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * CreateAuthorization creates a new authorization for a user in an owned or granted project.
   * Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceCreateAuthorizationRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceCreateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceCreateAuthorizationResponse>
      createAuthorizationWithHttpInfo(
          BetaAuthorizationServiceCreateAuthorizationRequest
              betaAuthorizationServiceCreateAuthorizationRequest) {
    if (betaAuthorizationServiceCreateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceCreateAuthorizationRequest' when calling createAuthorization");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/CreateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceCreateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        createAuthorizationTypeRef,
        null);
  }

  /**
   * Deactivate Authorization Deprecated: please move to the corresponding endpoint under
   * authorization service v2. This endpoint will be removed with the next major version of ZITADEL.
   * DeactivateAuthorization deactivates an existing and active authorization. In case the
   * authorization is already inactive, the request will return a successful response as the desired
   * state is already achieved. You can check the change date in the response to verify if the
   * authorization was deactivated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceDeactivateAuthorizationRequest (required)
   * @return {@code BetaAuthorizationServiceDeactivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceDeactivateAuthorizationResponse deactivateAuthorization(
      BetaAuthorizationServiceDeactivateAuthorizationRequest
          betaAuthorizationServiceDeactivateAuthorizationRequest) {
    return requireBody(
        deactivateAuthorizationWithHttpInfo(betaAuthorizationServiceDeactivateAuthorizationRequest),
        "deactivateAuthorization");
  }

  /**
   * Deactivate Authorization Deprecated: please move to the corresponding endpoint under
   * authorization service v2. This endpoint will be removed with the next major version of ZITADEL.
   * DeactivateAuthorization deactivates an existing and active authorization. In case the
   * authorization is already inactive, the request will return a successful response as the desired
   * state is already achieved. You can check the change date in the response to verify if the
   * authorization was deactivated by the request. Required permissions: - \"user.grant.write\"
   *
   * @param betaAuthorizationServiceDeactivateAuthorizationRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceDeactivateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceDeactivateAuthorizationResponse>
      deactivateAuthorizationWithHttpInfo(
          BetaAuthorizationServiceDeactivateAuthorizationRequest
              betaAuthorizationServiceDeactivateAuthorizationRequest) {
    if (betaAuthorizationServiceDeactivateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceDeactivateAuthorizationRequest' when calling deactivateAuthorization");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/DeactivateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceDeactivateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        deactivateAuthorizationTypeRef,
        null);
  }

  /**
   * Delete Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * DeleteAuthorization deletes the authorization. In case the authorization is not found, the
   * request will return a successful response as the desired state is already achieved. You can
   * check the deletion date in the response to verify if the authorization was deleted by the
   * request. Required permissions: - \"user.grant.delete\"
   *
   * @param betaAuthorizationServiceDeleteAuthorizationRequest (required)
   * @return {@code BetaAuthorizationServiceDeleteAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceDeleteAuthorizationResponse deleteAuthorization(
      BetaAuthorizationServiceDeleteAuthorizationRequest
          betaAuthorizationServiceDeleteAuthorizationRequest) {
    return requireBody(
        deleteAuthorizationWithHttpInfo(betaAuthorizationServiceDeleteAuthorizationRequest),
        "deleteAuthorization");
  }

  /**
   * Delete Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * DeleteAuthorization deletes the authorization. In case the authorization is not found, the
   * request will return a successful response as the desired state is already achieved. You can
   * check the deletion date in the response to verify if the authorization was deleted by the
   * request. Required permissions: - \"user.grant.delete\"
   *
   * @param betaAuthorizationServiceDeleteAuthorizationRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceDeleteAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceDeleteAuthorizationResponse>
      deleteAuthorizationWithHttpInfo(
          BetaAuthorizationServiceDeleteAuthorizationRequest
              betaAuthorizationServiceDeleteAuthorizationRequest) {
    if (betaAuthorizationServiceDeleteAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceDeleteAuthorizationRequest' when calling deleteAuthorization");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/DeleteAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceDeleteAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        deleteAuthorizationTypeRef,
        null);
  }

  /**
   * List Authorizations Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * ListAuthorizations returns all authorizations matching the request and necessary permissions.
   * Required permissions: - \"user.grant.read\" - no permissions required for listing own
   * authorizations
   *
   * @param betaAuthorizationServiceListAuthorizationsRequest (required)
   * @return {@code BetaAuthorizationServiceListAuthorizationsResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceListAuthorizationsResponse listAuthorizations(
      BetaAuthorizationServiceListAuthorizationsRequest
          betaAuthorizationServiceListAuthorizationsRequest) {
    return requireBody(
        listAuthorizationsWithHttpInfo(betaAuthorizationServiceListAuthorizationsRequest),
        "listAuthorizations");
  }

  /**
   * List Authorizations Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * ListAuthorizations returns all authorizations matching the request and necessary permissions.
   * Required permissions: - \"user.grant.read\" - no permissions required for listing own
   * authorizations
   *
   * @param betaAuthorizationServiceListAuthorizationsRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceListAuthorizationsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceListAuthorizationsResponse>
      listAuthorizationsWithHttpInfo(
          BetaAuthorizationServiceListAuthorizationsRequest
              betaAuthorizationServiceListAuthorizationsRequest) {
    if (betaAuthorizationServiceListAuthorizationsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceListAuthorizationsRequest' when calling listAuthorizations");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/ListAuthorizations";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceListAuthorizationsRequest,
        new String[] {"application/json"},
        "application/json",
        listAuthorizationsTypeRef,
        null);
  }

  /**
   * Update Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * UpdateAuthorization updates the authorization. Note that any role keys previously granted to
   * the user and not present in the request will be revoked. Required permissions: -
   * \"user.grant.write\"
   *
   * @param betaAuthorizationServiceUpdateAuthorizationRequest (required)
   * @return {@code BetaAuthorizationServiceUpdateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaAuthorizationServiceUpdateAuthorizationResponse updateAuthorization(
      BetaAuthorizationServiceUpdateAuthorizationRequest
          betaAuthorizationServiceUpdateAuthorizationRequest) {
    return requireBody(
        updateAuthorizationWithHttpInfo(betaAuthorizationServiceUpdateAuthorizationRequest),
        "updateAuthorization");
  }

  /**
   * Update Authorization Deprecated: please move to the corresponding endpoint under authorization
   * service v2. This endpoint will be removed with the next major version of ZITADEL.
   * UpdateAuthorization updates the authorization. Note that any role keys previously granted to
   * the user and not present in the request will be revoked. Required permissions: -
   * \"user.grant.write\"
   *
   * @param betaAuthorizationServiceUpdateAuthorizationRequest (required)
   * @return the API result wrapping {@code BetaAuthorizationServiceUpdateAuthorizationResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaAuthorizationServiceUpdateAuthorizationResponse>
      updateAuthorizationWithHttpInfo(
          BetaAuthorizationServiceUpdateAuthorizationRequest
              betaAuthorizationServiceUpdateAuthorizationRequest) {
    if (betaAuthorizationServiceUpdateAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaAuthorizationServiceUpdateAuthorizationRequest' when calling updateAuthorization");
    }
    String path = "/zitadel.authorization.v2beta.AuthorizationService/UpdateAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaAuthorizationServiceUpdateAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        updateAuthorizationTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
