// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaFeatureServiceGetInstanceFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceGetInstanceFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceGetOrganizationFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceGetOrganizationFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceGetSystemFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceGetUserFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceGetUserFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceResetInstanceFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceResetOrganizationFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceResetOrganizationFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceResetSystemFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceResetUserFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceResetUserFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceSetInstanceFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceSetInstanceFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceSetOrganizationFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceSetOrganizationFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceSetSystemFeaturesRequest;
import com.zitadel.model.BetaFeatureServiceSetSystemFeaturesResponse;
import com.zitadel.model.BetaFeatureServiceSetUserFeatureRequest;
import com.zitadel.model.BetaFeatureServiceSetUserFeaturesResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaFeatureServiceApi provides methods for the BetaFeatureService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaFeatureServiceApi extends BaseApi {

  private static final java.lang.reflect.Type getInstanceFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceGetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getOrganizationFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceGetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getSystemFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceGetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getUserFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceGetUserFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetInstanceFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceResetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetOrganizationFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceResetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetSystemFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceResetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetUserFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceResetUserFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setInstanceFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceSetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setOrganizationFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceSetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setSystemFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceSetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setUserFeaturesTypeRef =
      new TypeReference<BetaFeatureServiceSetUserFeaturesResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaFeatureServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaFeatureServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaFeatureServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * GetInstanceFeatures
   *
   * @param betaFeatureServiceGetInstanceFeaturesRequest (required)
   * @return {@code BetaFeatureServiceGetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceGetInstanceFeaturesResponse getInstanceFeatures(
      BetaFeatureServiceGetInstanceFeaturesRequest betaFeatureServiceGetInstanceFeaturesRequest) {
    return requireBody(
        getInstanceFeaturesWithHttpInfo(betaFeatureServiceGetInstanceFeaturesRequest),
        "getInstanceFeatures");
  }

  /**
   * GetInstanceFeatures
   *
   * @param betaFeatureServiceGetInstanceFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceGetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceGetInstanceFeaturesResponse> getInstanceFeaturesWithHttpInfo(
      BetaFeatureServiceGetInstanceFeaturesRequest betaFeatureServiceGetInstanceFeaturesRequest) {
    if (betaFeatureServiceGetInstanceFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceGetInstanceFeaturesRequest' when calling getInstanceFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/GetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceGetInstanceFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getInstanceFeaturesTypeRef,
        null);
  }

  /**
   * GetOrganizationFeatures
   *
   * @param betaFeatureServiceGetOrganizationFeaturesRequest (required)
   * @return {@code BetaFeatureServiceGetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceGetOrganizationFeaturesResponse getOrganizationFeatures(
      BetaFeatureServiceGetOrganizationFeaturesRequest
          betaFeatureServiceGetOrganizationFeaturesRequest) {
    return requireBody(
        getOrganizationFeaturesWithHttpInfo(betaFeatureServiceGetOrganizationFeaturesRequest),
        "getOrganizationFeatures");
  }

  /**
   * GetOrganizationFeatures
   *
   * @param betaFeatureServiceGetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceGetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceGetOrganizationFeaturesResponse>
      getOrganizationFeaturesWithHttpInfo(
          BetaFeatureServiceGetOrganizationFeaturesRequest
              betaFeatureServiceGetOrganizationFeaturesRequest) {
    if (betaFeatureServiceGetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceGetOrganizationFeaturesRequest' when calling getOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/GetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceGetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * GetSystemFeatures
   *
   * @param body (required)
   * @return {@code BetaFeatureServiceGetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceGetSystemFeaturesResponse getSystemFeatures(Object body) {
    return requireBody(getSystemFeaturesWithHttpInfo(body), "getSystemFeatures");
  }

  /**
   * GetSystemFeatures
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaFeatureServiceGetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceGetSystemFeaturesResponse> getSystemFeaturesWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling getSystemFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/GetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        getSystemFeaturesTypeRef,
        null);
  }

  /**
   * GetUserFeatures
   *
   * @param betaFeatureServiceGetUserFeaturesRequest (required)
   * @return {@code BetaFeatureServiceGetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceGetUserFeaturesResponse getUserFeatures(
      BetaFeatureServiceGetUserFeaturesRequest betaFeatureServiceGetUserFeaturesRequest) {
    return requireBody(
        getUserFeaturesWithHttpInfo(betaFeatureServiceGetUserFeaturesRequest), "getUserFeatures");
  }

  /**
   * GetUserFeatures
   *
   * @param betaFeatureServiceGetUserFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceGetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceGetUserFeaturesResponse> getUserFeaturesWithHttpInfo(
      BetaFeatureServiceGetUserFeaturesRequest betaFeatureServiceGetUserFeaturesRequest) {
    if (betaFeatureServiceGetUserFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceGetUserFeaturesRequest' when calling getUserFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/GetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceGetUserFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getUserFeaturesTypeRef,
        null);
  }

  /**
   * ResetInstanceFeatures
   *
   * @param body (required)
   * @return {@code BetaFeatureServiceResetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceResetInstanceFeaturesResponse resetInstanceFeatures(Object body) {
    return requireBody(resetInstanceFeaturesWithHttpInfo(body), "resetInstanceFeatures");
  }

  /**
   * ResetInstanceFeatures
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaFeatureServiceResetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceResetInstanceFeaturesResponse>
      resetInstanceFeaturesWithHttpInfo(Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling resetInstanceFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/ResetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        resetInstanceFeaturesTypeRef,
        null);
  }

  /**
   * ResetOrganizationFeatures
   *
   * @param betaFeatureServiceResetOrganizationFeaturesRequest (required)
   * @return {@code BetaFeatureServiceResetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceResetOrganizationFeaturesResponse resetOrganizationFeatures(
      BetaFeatureServiceResetOrganizationFeaturesRequest
          betaFeatureServiceResetOrganizationFeaturesRequest) {
    return requireBody(
        resetOrganizationFeaturesWithHttpInfo(betaFeatureServiceResetOrganizationFeaturesRequest),
        "resetOrganizationFeatures");
  }

  /**
   * ResetOrganizationFeatures
   *
   * @param betaFeatureServiceResetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceResetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceResetOrganizationFeaturesResponse>
      resetOrganizationFeaturesWithHttpInfo(
          BetaFeatureServiceResetOrganizationFeaturesRequest
              betaFeatureServiceResetOrganizationFeaturesRequest) {
    if (betaFeatureServiceResetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceResetOrganizationFeaturesRequest' when calling resetOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/ResetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceResetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        resetOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * ResetSystemFeatures
   *
   * @param body (required)
   * @return {@code BetaFeatureServiceResetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceResetSystemFeaturesResponse resetSystemFeatures(Object body) {
    return requireBody(resetSystemFeaturesWithHttpInfo(body), "resetSystemFeatures");
  }

  /**
   * ResetSystemFeatures
   *
   * @param body (required)
   * @return the API result wrapping {@code BetaFeatureServiceResetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceResetSystemFeaturesResponse> resetSystemFeaturesWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling resetSystemFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/ResetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        resetSystemFeaturesTypeRef,
        null);
  }

  /**
   * ResetUserFeatures
   *
   * @param betaFeatureServiceResetUserFeaturesRequest (required)
   * @return {@code BetaFeatureServiceResetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceResetUserFeaturesResponse resetUserFeatures(
      BetaFeatureServiceResetUserFeaturesRequest betaFeatureServiceResetUserFeaturesRequest) {
    return requireBody(
        resetUserFeaturesWithHttpInfo(betaFeatureServiceResetUserFeaturesRequest),
        "resetUserFeatures");
  }

  /**
   * ResetUserFeatures
   *
   * @param betaFeatureServiceResetUserFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceResetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceResetUserFeaturesResponse> resetUserFeaturesWithHttpInfo(
      BetaFeatureServiceResetUserFeaturesRequest betaFeatureServiceResetUserFeaturesRequest) {
    if (betaFeatureServiceResetUserFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceResetUserFeaturesRequest' when calling resetUserFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/ResetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceResetUserFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        resetUserFeaturesTypeRef,
        null);
  }

  /**
   * SetInstanceFeatures
   *
   * @param betaFeatureServiceSetInstanceFeaturesRequest (required)
   * @return {@code BetaFeatureServiceSetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceSetInstanceFeaturesResponse setInstanceFeatures(
      BetaFeatureServiceSetInstanceFeaturesRequest betaFeatureServiceSetInstanceFeaturesRequest) {
    return requireBody(
        setInstanceFeaturesWithHttpInfo(betaFeatureServiceSetInstanceFeaturesRequest),
        "setInstanceFeatures");
  }

  /**
   * SetInstanceFeatures
   *
   * @param betaFeatureServiceSetInstanceFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceSetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceSetInstanceFeaturesResponse> setInstanceFeaturesWithHttpInfo(
      BetaFeatureServiceSetInstanceFeaturesRequest betaFeatureServiceSetInstanceFeaturesRequest) {
    if (betaFeatureServiceSetInstanceFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceSetInstanceFeaturesRequest' when calling setInstanceFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/SetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceSetInstanceFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setInstanceFeaturesTypeRef,
        null);
  }

  /**
   * SetOrganizationFeatures
   *
   * @param betaFeatureServiceSetOrganizationFeaturesRequest (required)
   * @return {@code BetaFeatureServiceSetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceSetOrganizationFeaturesResponse setOrganizationFeatures(
      BetaFeatureServiceSetOrganizationFeaturesRequest
          betaFeatureServiceSetOrganizationFeaturesRequest) {
    return requireBody(
        setOrganizationFeaturesWithHttpInfo(betaFeatureServiceSetOrganizationFeaturesRequest),
        "setOrganizationFeatures");
  }

  /**
   * SetOrganizationFeatures
   *
   * @param betaFeatureServiceSetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceSetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceSetOrganizationFeaturesResponse>
      setOrganizationFeaturesWithHttpInfo(
          BetaFeatureServiceSetOrganizationFeaturesRequest
              betaFeatureServiceSetOrganizationFeaturesRequest) {
    if (betaFeatureServiceSetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceSetOrganizationFeaturesRequest' when calling setOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/SetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceSetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * SetSystemFeatures
   *
   * @param betaFeatureServiceSetSystemFeaturesRequest (required)
   * @return {@code BetaFeatureServiceSetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceSetSystemFeaturesResponse setSystemFeatures(
      BetaFeatureServiceSetSystemFeaturesRequest betaFeatureServiceSetSystemFeaturesRequest) {
    return requireBody(
        setSystemFeaturesWithHttpInfo(betaFeatureServiceSetSystemFeaturesRequest),
        "setSystemFeatures");
  }

  /**
   * SetSystemFeatures
   *
   * @param betaFeatureServiceSetSystemFeaturesRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceSetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceSetSystemFeaturesResponse> setSystemFeaturesWithHttpInfo(
      BetaFeatureServiceSetSystemFeaturesRequest betaFeatureServiceSetSystemFeaturesRequest) {
    if (betaFeatureServiceSetSystemFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceSetSystemFeaturesRequest' when calling setSystemFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/SetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceSetSystemFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setSystemFeaturesTypeRef,
        null);
  }

  /**
   * SetUserFeatures
   *
   * @param betaFeatureServiceSetUserFeatureRequest (required)
   * @return {@code BetaFeatureServiceSetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaFeatureServiceSetUserFeaturesResponse setUserFeatures(
      BetaFeatureServiceSetUserFeatureRequest betaFeatureServiceSetUserFeatureRequest) {
    return requireBody(
        setUserFeaturesWithHttpInfo(betaFeatureServiceSetUserFeatureRequest), "setUserFeatures");
  }

  /**
   * SetUserFeatures
   *
   * @param betaFeatureServiceSetUserFeatureRequest (required)
   * @return the API result wrapping {@code BetaFeatureServiceSetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaFeatureServiceSetUserFeaturesResponse> setUserFeaturesWithHttpInfo(
      BetaFeatureServiceSetUserFeatureRequest betaFeatureServiceSetUserFeatureRequest) {
    if (betaFeatureServiceSetUserFeatureRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaFeatureServiceSetUserFeatureRequest' when calling setUserFeatures");
    }
    String path = "/zitadel.feature.v2beta.FeatureService/SetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaFeatureServiceSetUserFeatureRequest,
        new String[] {"application/json"},
        "application/json",
        setUserFeaturesTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
