// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.BetaOIDCServiceCreateCallbackRequest;
import com.zitadel.model.BetaOIDCServiceCreateCallbackResponse;
import com.zitadel.model.BetaOIDCServiceGetAuthRequestRequest;
import com.zitadel.model.BetaOIDCServiceGetAuthRequestResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** BetaOIDCServiceApi provides methods for the BetaOIDCService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class BetaOIDCServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createCallbackTypeRef =
      new TypeReference<BetaOIDCServiceCreateCallbackResponse>() {}.getType();

  private static final java.lang.reflect.Type getAuthRequestTypeRef =
      new TypeReference<BetaOIDCServiceGetAuthRequestResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public BetaOIDCServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public BetaOIDCServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public BetaOIDCServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Callback Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Finalize an Auth Request
   * and get the callback URL for success or failure. The user must be redirected to the URL in
   * order to inform the application about the success or failure. On success, the URL contains
   * details for the application to obtain the tokens. This method can only be called once for an
   * Auth request.
   *
   * @param betaOIDCServiceCreateCallbackRequest (required)
   * @return {@code BetaOIDCServiceCreateCallbackResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaOIDCServiceCreateCallbackResponse createCallback(
      BetaOIDCServiceCreateCallbackRequest betaOIDCServiceCreateCallbackRequest) {
    return requireBody(
        createCallbackWithHttpInfo(betaOIDCServiceCreateCallbackRequest), "createCallback");
  }

  /**
   * Create Callback Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Finalize an Auth Request
   * and get the callback URL for success or failure. The user must be redirected to the URL in
   * order to inform the application about the success or failure. On success, the URL contains
   * details for the application to obtain the tokens. This method can only be called once for an
   * Auth request.
   *
   * @param betaOIDCServiceCreateCallbackRequest (required)
   * @return the API result wrapping {@code BetaOIDCServiceCreateCallbackResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaOIDCServiceCreateCallbackResponse> createCallbackWithHttpInfo(
      BetaOIDCServiceCreateCallbackRequest betaOIDCServiceCreateCallbackRequest) {
    if (betaOIDCServiceCreateCallbackRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaOIDCServiceCreateCallbackRequest' when calling createCallback");
    }
    String path = "/zitadel.oidc.v2beta.OIDCService/CreateCallback";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaOIDCServiceCreateCallbackRequest,
        new String[] {"application/json"},
        "application/json",
        createCallbackTypeRef,
        null);
  }

  /**
   * Get AuthRequest Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Get OIDC Auth Request
   * details by ID, obtained from the redirect URL. Returns details that are parsed from the
   * application's Auth Request.
   *
   * @param betaOIDCServiceGetAuthRequestRequest (required)
   * @return {@code BetaOIDCServiceGetAuthRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public BetaOIDCServiceGetAuthRequestResponse getAuthRequest(
      BetaOIDCServiceGetAuthRequestRequest betaOIDCServiceGetAuthRequestRequest) {
    return requireBody(
        getAuthRequestWithHttpInfo(betaOIDCServiceGetAuthRequestRequest), "getAuthRequest");
  }

  /**
   * Get AuthRequest Deprecated: please move to the corresponding endpoint under oidc service v2.
   * This endpoint will be removed with the next major version of ZITADEL. Get OIDC Auth Request
   * details by ID, obtained from the redirect URL. Returns details that are parsed from the
   * application's Auth Request.
   *
   * @param betaOIDCServiceGetAuthRequestRequest (required)
   * @return the API result wrapping {@code BetaOIDCServiceGetAuthRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<BetaOIDCServiceGetAuthRequestResponse> getAuthRequestWithHttpInfo(
      BetaOIDCServiceGetAuthRequestRequest betaOIDCServiceGetAuthRequestRequest) {
    if (betaOIDCServiceGetAuthRequestRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'betaOIDCServiceGetAuthRequestRequest' when calling getAuthRequest");
    }
    String path = "/zitadel.oidc.v2beta.OIDCService/GetAuthRequest";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        betaOIDCServiceGetAuthRequestRequest,
        new String[] {"application/json"},
        "application/json",
        getAuthRequestTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
