// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.FeatureServiceGetInstanceFeaturesRequest;
import com.zitadel.model.FeatureServiceGetInstanceFeaturesResponse;
import com.zitadel.model.FeatureServiceGetOrganizationFeaturesRequest;
import com.zitadel.model.FeatureServiceGetOrganizationFeaturesResponse;
import com.zitadel.model.FeatureServiceGetSystemFeaturesResponse;
import com.zitadel.model.FeatureServiceGetUserFeaturesRequest;
import com.zitadel.model.FeatureServiceGetUserFeaturesResponse;
import com.zitadel.model.FeatureServiceResetInstanceFeaturesResponse;
import com.zitadel.model.FeatureServiceResetOrganizationFeaturesRequest;
import com.zitadel.model.FeatureServiceResetOrganizationFeaturesResponse;
import com.zitadel.model.FeatureServiceResetSystemFeaturesResponse;
import com.zitadel.model.FeatureServiceResetUserFeaturesRequest;
import com.zitadel.model.FeatureServiceResetUserFeaturesResponse;
import com.zitadel.model.FeatureServiceSetInstanceFeaturesRequest;
import com.zitadel.model.FeatureServiceSetInstanceFeaturesResponse;
import com.zitadel.model.FeatureServiceSetOrganizationFeaturesRequest;
import com.zitadel.model.FeatureServiceSetOrganizationFeaturesResponse;
import com.zitadel.model.FeatureServiceSetSystemFeaturesRequest;
import com.zitadel.model.FeatureServiceSetSystemFeaturesResponse;
import com.zitadel.model.FeatureServiceSetUserFeatureRequest;
import com.zitadel.model.FeatureServiceSetUserFeaturesResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** FeatureServiceApi provides methods for the FeatureService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class FeatureServiceApi extends BaseApi {

  private static final java.lang.reflect.Type getInstanceFeaturesTypeRef =
      new TypeReference<FeatureServiceGetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getOrganizationFeaturesTypeRef =
      new TypeReference<FeatureServiceGetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getSystemFeaturesTypeRef =
      new TypeReference<FeatureServiceGetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type getUserFeaturesTypeRef =
      new TypeReference<FeatureServiceGetUserFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetInstanceFeaturesTypeRef =
      new TypeReference<FeatureServiceResetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetOrganizationFeaturesTypeRef =
      new TypeReference<FeatureServiceResetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetSystemFeaturesTypeRef =
      new TypeReference<FeatureServiceResetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type resetUserFeaturesTypeRef =
      new TypeReference<FeatureServiceResetUserFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setInstanceFeaturesTypeRef =
      new TypeReference<FeatureServiceSetInstanceFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setOrganizationFeaturesTypeRef =
      new TypeReference<FeatureServiceSetOrganizationFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setSystemFeaturesTypeRef =
      new TypeReference<FeatureServiceSetSystemFeaturesResponse>() {}.getType();

  private static final java.lang.reflect.Type setUserFeaturesTypeRef =
      new TypeReference<FeatureServiceSetUserFeaturesResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public FeatureServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public FeatureServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public FeatureServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Get Instance Features Returns all configured features for an instance. Unset fields mean the
   * feature is the current system default. Required permissions: - none
   *
   * @param featureServiceGetInstanceFeaturesRequest (required)
   * @return {@code FeatureServiceGetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceGetInstanceFeaturesResponse getInstanceFeatures(
      FeatureServiceGetInstanceFeaturesRequest featureServiceGetInstanceFeaturesRequest) {
    return requireBody(
        getInstanceFeaturesWithHttpInfo(featureServiceGetInstanceFeaturesRequest),
        "getInstanceFeatures");
  }

  /**
   * Get Instance Features Returns all configured features for an instance. Unset fields mean the
   * feature is the current system default. Required permissions: - none
   *
   * @param featureServiceGetInstanceFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceGetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceGetInstanceFeaturesResponse> getInstanceFeaturesWithHttpInfo(
      FeatureServiceGetInstanceFeaturesRequest featureServiceGetInstanceFeaturesRequest) {
    if (featureServiceGetInstanceFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceGetInstanceFeaturesRequest' when calling getInstanceFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/GetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceGetInstanceFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getInstanceFeaturesTypeRef,
        null);
  }

  /**
   * Get Organization Features Returns all configured features for an organization. Unset fields
   * mean the feature is the current instance default. Required permissions: - org.feature.read - no
   * permission required for the organization the user belongs to
   *
   * @param featureServiceGetOrganizationFeaturesRequest (required)
   * @return {@code FeatureServiceGetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceGetOrganizationFeaturesResponse getOrganizationFeatures(
      FeatureServiceGetOrganizationFeaturesRequest featureServiceGetOrganizationFeaturesRequest) {
    return requireBody(
        getOrganizationFeaturesWithHttpInfo(featureServiceGetOrganizationFeaturesRequest),
        "getOrganizationFeatures");
  }

  /**
   * Get Organization Features Returns all configured features for an organization. Unset fields
   * mean the feature is the current instance default. Required permissions: - org.feature.read - no
   * permission required for the organization the user belongs to
   *
   * @param featureServiceGetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceGetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceGetOrganizationFeaturesResponse>
      getOrganizationFeaturesWithHttpInfo(
          FeatureServiceGetOrganizationFeaturesRequest
              featureServiceGetOrganizationFeaturesRequest) {
    if (featureServiceGetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceGetOrganizationFeaturesRequest' when calling getOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/GetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceGetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * Get System Features Returns all configured features for the system. Unset fields mean the
   * feature is the current system default. Required permissions: - none
   *
   * @param body (required)
   * @return {@code FeatureServiceGetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceGetSystemFeaturesResponse getSystemFeatures(Object body) {
    return requireBody(getSystemFeaturesWithHttpInfo(body), "getSystemFeatures");
  }

  /**
   * Get System Features Returns all configured features for the system. Unset fields mean the
   * feature is the current system default. Required permissions: - none
   *
   * @param body (required)
   * @return the API result wrapping {@code FeatureServiceGetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceGetSystemFeaturesResponse> getSystemFeaturesWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling getSystemFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/GetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        getSystemFeaturesTypeRef,
        null);
  }

  /**
   * Get User Features Returns all configured features for a user. Unset fields mean the feature is
   * the current organization default. Required permissions: - user.feature.read - no permission
   * required for the own user
   *
   * @param featureServiceGetUserFeaturesRequest (required)
   * @return {@code FeatureServiceGetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceGetUserFeaturesResponse getUserFeatures(
      FeatureServiceGetUserFeaturesRequest featureServiceGetUserFeaturesRequest) {
    return requireBody(
        getUserFeaturesWithHttpInfo(featureServiceGetUserFeaturesRequest), "getUserFeatures");
  }

  /**
   * Get User Features Returns all configured features for a user. Unset fields mean the feature is
   * the current organization default. Required permissions: - user.feature.read - no permission
   * required for the own user
   *
   * @param featureServiceGetUserFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceGetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceGetUserFeaturesResponse> getUserFeaturesWithHttpInfo(
      FeatureServiceGetUserFeaturesRequest featureServiceGetUserFeaturesRequest) {
    if (featureServiceGetUserFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceGetUserFeaturesRequest' when calling getUserFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/GetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceGetUserFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        getUserFeaturesTypeRef,
        null);
  }

  /**
   * Reset Instance Features Deletes ALL configured features for an instance, reverting the
   * behaviors to system defaults. Required permissions: - iam.feature.delete
   *
   * @param body (required)
   * @return {@code FeatureServiceResetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceResetInstanceFeaturesResponse resetInstanceFeatures(Object body) {
    return requireBody(resetInstanceFeaturesWithHttpInfo(body), "resetInstanceFeatures");
  }

  /**
   * Reset Instance Features Deletes ALL configured features for an instance, reverting the
   * behaviors to system defaults. Required permissions: - iam.feature.delete
   *
   * @param body (required)
   * @return the API result wrapping {@code FeatureServiceResetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceResetInstanceFeaturesResponse> resetInstanceFeaturesWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling resetInstanceFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/ResetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        resetInstanceFeaturesTypeRef,
        null);
  }

  /**
   * Reset Organization Features Deletes ALL configured features for an organization, reverting the
   * behaviors to instance defaults. Required permissions: - org.feature.delete
   *
   * @param featureServiceResetOrganizationFeaturesRequest (required)
   * @return {@code FeatureServiceResetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceResetOrganizationFeaturesResponse resetOrganizationFeatures(
      FeatureServiceResetOrganizationFeaturesRequest
          featureServiceResetOrganizationFeaturesRequest) {
    return requireBody(
        resetOrganizationFeaturesWithHttpInfo(featureServiceResetOrganizationFeaturesRequest),
        "resetOrganizationFeatures");
  }

  /**
   * Reset Organization Features Deletes ALL configured features for an organization, reverting the
   * behaviors to instance defaults. Required permissions: - org.feature.delete
   *
   * @param featureServiceResetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceResetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceResetOrganizationFeaturesResponse>
      resetOrganizationFeaturesWithHttpInfo(
          FeatureServiceResetOrganizationFeaturesRequest
              featureServiceResetOrganizationFeaturesRequest) {
    if (featureServiceResetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceResetOrganizationFeaturesRequest' when calling resetOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/ResetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceResetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        resetOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * Reset System Features Deletes ALL configured features for the system, reverting the behaviors
   * to system defaults. Required permissions: - system.feature.delete
   *
   * @param body (required)
   * @return {@code FeatureServiceResetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceResetSystemFeaturesResponse resetSystemFeatures(Object body) {
    return requireBody(resetSystemFeaturesWithHttpInfo(body), "resetSystemFeatures");
  }

  /**
   * Reset System Features Deletes ALL configured features for the system, reverting the behaviors
   * to system defaults. Required permissions: - system.feature.delete
   *
   * @param body (required)
   * @return the API result wrapping {@code FeatureServiceResetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceResetSystemFeaturesResponse> resetSystemFeaturesWithHttpInfo(
      Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling resetSystemFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/ResetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        resetSystemFeaturesTypeRef,
        null);
  }

  /**
   * Reset User Features Deletes ALL configured features for a user, reverting the behaviors to
   * organization defaults. Required permissions: - user.feature.delete
   *
   * @param featureServiceResetUserFeaturesRequest (required)
   * @return {@code FeatureServiceResetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceResetUserFeaturesResponse resetUserFeatures(
      FeatureServiceResetUserFeaturesRequest featureServiceResetUserFeaturesRequest) {
    return requireBody(
        resetUserFeaturesWithHttpInfo(featureServiceResetUserFeaturesRequest), "resetUserFeatures");
  }

  /**
   * Reset User Features Deletes ALL configured features for a user, reverting the behaviors to
   * organization defaults. Required permissions: - user.feature.delete
   *
   * @param featureServiceResetUserFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceResetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceResetUserFeaturesResponse> resetUserFeaturesWithHttpInfo(
      FeatureServiceResetUserFeaturesRequest featureServiceResetUserFeaturesRequest) {
    if (featureServiceResetUserFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceResetUserFeaturesRequest' when calling resetUserFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/ResetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceResetUserFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        resetUserFeaturesTypeRef,
        null);
  }

  /**
   * Set Instance Features Configure and set features that apply to a complete instance. Only fields
   * present in the request are set or unset. Required permissions: - iam.feature.write
   *
   * @param featureServiceSetInstanceFeaturesRequest (required)
   * @return {@code FeatureServiceSetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceSetInstanceFeaturesResponse setInstanceFeatures(
      FeatureServiceSetInstanceFeaturesRequest featureServiceSetInstanceFeaturesRequest) {
    return requireBody(
        setInstanceFeaturesWithHttpInfo(featureServiceSetInstanceFeaturesRequest),
        "setInstanceFeatures");
  }

  /**
   * Set Instance Features Configure and set features that apply to a complete instance. Only fields
   * present in the request are set or unset. Required permissions: - iam.feature.write
   *
   * @param featureServiceSetInstanceFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceSetInstanceFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceSetInstanceFeaturesResponse> setInstanceFeaturesWithHttpInfo(
      FeatureServiceSetInstanceFeaturesRequest featureServiceSetInstanceFeaturesRequest) {
    if (featureServiceSetInstanceFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceSetInstanceFeaturesRequest' when calling setInstanceFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/SetInstanceFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceSetInstanceFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setInstanceFeaturesTypeRef,
        null);
  }

  /**
   * Set Organization Features Configure and set features that apply to a complete instance. Only
   * fields present in the request are set or unset. Required permissions: - org.feature.write
   *
   * @param featureServiceSetOrganizationFeaturesRequest (required)
   * @return {@code FeatureServiceSetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceSetOrganizationFeaturesResponse setOrganizationFeatures(
      FeatureServiceSetOrganizationFeaturesRequest featureServiceSetOrganizationFeaturesRequest) {
    return requireBody(
        setOrganizationFeaturesWithHttpInfo(featureServiceSetOrganizationFeaturesRequest),
        "setOrganizationFeatures");
  }

  /**
   * Set Organization Features Configure and set features that apply to a complete instance. Only
   * fields present in the request are set or unset. Required permissions: - org.feature.write
   *
   * @param featureServiceSetOrganizationFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceSetOrganizationFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceSetOrganizationFeaturesResponse>
      setOrganizationFeaturesWithHttpInfo(
          FeatureServiceSetOrganizationFeaturesRequest
              featureServiceSetOrganizationFeaturesRequest) {
    if (featureServiceSetOrganizationFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceSetOrganizationFeaturesRequest' when calling setOrganizationFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/SetOrganizationFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceSetOrganizationFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setOrganizationFeaturesTypeRef,
        null);
  }

  /**
   * Set System Features Configure and set features that apply to the complete system. Only fields
   * present in the request are set or unset. Required permissions: - system.feature.write
   *
   * @param featureServiceSetSystemFeaturesRequest (required)
   * @return {@code FeatureServiceSetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceSetSystemFeaturesResponse setSystemFeatures(
      FeatureServiceSetSystemFeaturesRequest featureServiceSetSystemFeaturesRequest) {
    return requireBody(
        setSystemFeaturesWithHttpInfo(featureServiceSetSystemFeaturesRequest), "setSystemFeatures");
  }

  /**
   * Set System Features Configure and set features that apply to the complete system. Only fields
   * present in the request are set or unset. Required permissions: - system.feature.write
   *
   * @param featureServiceSetSystemFeaturesRequest (required)
   * @return the API result wrapping {@code FeatureServiceSetSystemFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceSetSystemFeaturesResponse> setSystemFeaturesWithHttpInfo(
      FeatureServiceSetSystemFeaturesRequest featureServiceSetSystemFeaturesRequest) {
    if (featureServiceSetSystemFeaturesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceSetSystemFeaturesRequest' when calling setSystemFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/SetSystemFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceSetSystemFeaturesRequest,
        new String[] {"application/json"},
        "application/json",
        setSystemFeaturesTypeRef,
        null);
  }

  /**
   * Set User Features Configure and set features that apply to an user. Only fields present in the
   * request are set or unset. Required permissions: - user.feature.write
   *
   * @param featureServiceSetUserFeatureRequest (required)
   * @return {@code FeatureServiceSetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public FeatureServiceSetUserFeaturesResponse setUserFeatures(
      FeatureServiceSetUserFeatureRequest featureServiceSetUserFeatureRequest) {
    return requireBody(
        setUserFeaturesWithHttpInfo(featureServiceSetUserFeatureRequest), "setUserFeatures");
  }

  /**
   * Set User Features Configure and set features that apply to an user. Only fields present in the
   * request are set or unset. Required permissions: - user.feature.write
   *
   * @param featureServiceSetUserFeatureRequest (required)
   * @return the API result wrapping {@code FeatureServiceSetUserFeaturesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<FeatureServiceSetUserFeaturesResponse> setUserFeaturesWithHttpInfo(
      FeatureServiceSetUserFeatureRequest featureServiceSetUserFeatureRequest) {
    if (featureServiceSetUserFeatureRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'featureServiceSetUserFeatureRequest' when calling setUserFeatures");
    }
    String path = "/zitadel.feature.v2.FeatureService/SetUserFeatures";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        featureServiceSetUserFeatureRequest,
        new String[] {"application/json"},
        "application/json",
        setUserFeaturesTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
