// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.IdentityProviderServiceGetIDPByIDRequest;
import com.zitadel.model.IdentityProviderServiceGetIDPByIDResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** IdentityProviderServiceApi provides methods for the IdentityProviderService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class IdentityProviderServiceApi extends BaseApi {

  private static final java.lang.reflect.Type getIDPByIDTypeRef =
      new TypeReference<IdentityProviderServiceGetIDPByIDResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public IdentityProviderServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public IdentityProviderServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public IdentityProviderServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Get identity provider (IdP) by ID Returns an identity provider (social/enterprise login) by its
   * ID, which can be of the type Google, AzureAD, etc.
   *
   * @param identityProviderServiceGetIDPByIDRequest (required)
   * @return {@code IdentityProviderServiceGetIDPByIDResponse}
   * @throws ApiException if fails to make API call
   */
  public IdentityProviderServiceGetIDPByIDResponse getIDPByID(
      IdentityProviderServiceGetIDPByIDRequest identityProviderServiceGetIDPByIDRequest) {
    return requireBody(
        getIDPByIDWithHttpInfo(identityProviderServiceGetIDPByIDRequest), "getIDPByID");
  }

  /**
   * Get identity provider (IdP) by ID Returns an identity provider (social/enterprise login) by its
   * ID, which can be of the type Google, AzureAD, etc.
   *
   * @param identityProviderServiceGetIDPByIDRequest (required)
   * @return the API result wrapping {@code IdentityProviderServiceGetIDPByIDResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<IdentityProviderServiceGetIDPByIDResponse> getIDPByIDWithHttpInfo(
      IdentityProviderServiceGetIDPByIDRequest identityProviderServiceGetIDPByIDRequest) {
    if (identityProviderServiceGetIDPByIDRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'identityProviderServiceGetIDPByIDRequest' when calling getIDPByID");
    }
    String path = "/zitadel.idp.v2.IdentityProviderService/GetIDPByID";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        identityProviderServiceGetIDPByIDRequest,
        new String[] {"application/json"},
        "application/json",
        getIDPByIDTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
