// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.InstanceServiceAddCustomDomainRequest;
import com.zitadel.model.InstanceServiceAddCustomDomainResponse;
import com.zitadel.model.InstanceServiceAddTrustedDomainRequest;
import com.zitadel.model.InstanceServiceAddTrustedDomainResponse;
import com.zitadel.model.InstanceServiceDeleteInstanceRequest;
import com.zitadel.model.InstanceServiceDeleteInstanceResponse;
import com.zitadel.model.InstanceServiceGetInstanceRequest;
import com.zitadel.model.InstanceServiceGetInstanceResponse;
import com.zitadel.model.InstanceServiceListCustomDomainsRequest;
import com.zitadel.model.InstanceServiceListCustomDomainsResponse;
import com.zitadel.model.InstanceServiceListInstancesRequest;
import com.zitadel.model.InstanceServiceListInstancesResponse;
import com.zitadel.model.InstanceServiceListTrustedDomainsRequest;
import com.zitadel.model.InstanceServiceListTrustedDomainsResponse;
import com.zitadel.model.InstanceServiceRemoveCustomDomainRequest;
import com.zitadel.model.InstanceServiceRemoveCustomDomainResponse;
import com.zitadel.model.InstanceServiceRemoveTrustedDomainRequest;
import com.zitadel.model.InstanceServiceRemoveTrustedDomainResponse;
import com.zitadel.model.InstanceServiceUpdateInstanceRequest;
import com.zitadel.model.InstanceServiceUpdateInstanceResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** InstanceServiceApi provides methods for the InstanceService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class InstanceServiceApi extends BaseApi {

  private static final java.lang.reflect.Type addCustomDomainTypeRef =
      new TypeReference<InstanceServiceAddCustomDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type addTrustedDomainTypeRef =
      new TypeReference<InstanceServiceAddTrustedDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteInstanceTypeRef =
      new TypeReference<InstanceServiceDeleteInstanceResponse>() {}.getType();

  private static final java.lang.reflect.Type getInstanceTypeRef =
      new TypeReference<InstanceServiceGetInstanceResponse>() {}.getType();

  private static final java.lang.reflect.Type listCustomDomainsTypeRef =
      new TypeReference<InstanceServiceListCustomDomainsResponse>() {}.getType();

  private static final java.lang.reflect.Type listInstancesTypeRef =
      new TypeReference<InstanceServiceListInstancesResponse>() {}.getType();

  private static final java.lang.reflect.Type listTrustedDomainsTypeRef =
      new TypeReference<InstanceServiceListTrustedDomainsResponse>() {}.getType();

  private static final java.lang.reflect.Type removeCustomDomainTypeRef =
      new TypeReference<InstanceServiceRemoveCustomDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type removeTrustedDomainTypeRef =
      new TypeReference<InstanceServiceRemoveTrustedDomainResponse>() {}.getType();

  private static final java.lang.reflect.Type updateInstanceTypeRef =
      new TypeReference<InstanceServiceUpdateInstanceResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public InstanceServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public InstanceServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public InstanceServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Add Custom Domain Adds a custom domain to the instance. The custom domain must be unique across
   * all instances. Once the domain is added, it will be used to route requests to this instance.
   * This method requires system level permissions and cannot be called from an instance context.
   * Required permissions: - `system.domain.write`
   *
   * @param instanceServiceAddCustomDomainRequest (required)
   * @return {@code InstanceServiceAddCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceAddCustomDomainResponse addCustomDomain(
      InstanceServiceAddCustomDomainRequest instanceServiceAddCustomDomainRequest) {
    return requireBody(
        addCustomDomainWithHttpInfo(instanceServiceAddCustomDomainRequest), "addCustomDomain");
  }

  /**
   * Add Custom Domain Adds a custom domain to the instance. The custom domain must be unique across
   * all instances. Once the domain is added, it will be used to route requests to this instance.
   * This method requires system level permissions and cannot be called from an instance context.
   * Required permissions: - `system.domain.write`
   *
   * @param instanceServiceAddCustomDomainRequest (required)
   * @return the API result wrapping {@code InstanceServiceAddCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceAddCustomDomainResponse> addCustomDomainWithHttpInfo(
      InstanceServiceAddCustomDomainRequest instanceServiceAddCustomDomainRequest) {
    if (instanceServiceAddCustomDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceAddCustomDomainRequest' when calling addCustomDomain");
    }
    String path = "/zitadel.instance.v2.InstanceService/AddCustomDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceAddCustomDomainRequest,
        new String[] {"application/json"},
        "application/json",
        addCustomDomainTypeRef,
        null);
  }

  /**
   * Add Trusted Domain Adds a trusted domain to the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions. It
   * must be a valid domain name. Once the domain is added, it can be used in API responses like
   * OIDC discovery, email templates, and more. This can be used in cases where the API is accessed
   * through a different domain than the instance domain, e.g. proxy setups and custom login UIs.
   * Unlike custom domain, trusted domains are not used to route requests to this instance and
   * therefore do not need to be uniquely assigned to an instance. Required permissions: -
   * `iam.write` - `system.instance.write` (if InstanceID is set)
   *
   * @param instanceServiceAddTrustedDomainRequest (required)
   * @return {@code InstanceServiceAddTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceAddTrustedDomainResponse addTrustedDomain(
      InstanceServiceAddTrustedDomainRequest instanceServiceAddTrustedDomainRequest) {
    return requireBody(
        addTrustedDomainWithHttpInfo(instanceServiceAddTrustedDomainRequest), "addTrustedDomain");
  }

  /**
   * Add Trusted Domain Adds a trusted domain to the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions. It
   * must be a valid domain name. Once the domain is added, it can be used in API responses like
   * OIDC discovery, email templates, and more. This can be used in cases where the API is accessed
   * through a different domain than the instance domain, e.g. proxy setups and custom login UIs.
   * Unlike custom domain, trusted domains are not used to route requests to this instance and
   * therefore do not need to be uniquely assigned to an instance. Required permissions: -
   * `iam.write` - `system.instance.write` (if InstanceID is set)
   *
   * @param instanceServiceAddTrustedDomainRequest (required)
   * @return the API result wrapping {@code InstanceServiceAddTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceAddTrustedDomainResponse> addTrustedDomainWithHttpInfo(
      InstanceServiceAddTrustedDomainRequest instanceServiceAddTrustedDomainRequest) {
    if (instanceServiceAddTrustedDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceAddTrustedDomainRequest' when calling addTrustedDomain");
    }
    String path = "/zitadel.instance.v2.InstanceService/AddTrustedDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceAddTrustedDomainRequest,
        new String[] {"application/json"},
        "application/json",
        addTrustedDomainTypeRef,
        null);
  }

  /**
   * Delete Instance Deletes an instance with the given ID. This method requires system level
   * permissions and cannot be called from an instance context. Required permissions: -
   * `system.instance.delete`
   *
   * @param instanceServiceDeleteInstanceRequest (required)
   * @return {@code InstanceServiceDeleteInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceDeleteInstanceResponse deleteInstance(
      InstanceServiceDeleteInstanceRequest instanceServiceDeleteInstanceRequest) {
    return requireBody(
        deleteInstanceWithHttpInfo(instanceServiceDeleteInstanceRequest), "deleteInstance");
  }

  /**
   * Delete Instance Deletes an instance with the given ID. This method requires system level
   * permissions and cannot be called from an instance context. Required permissions: -
   * `system.instance.delete`
   *
   * @param instanceServiceDeleteInstanceRequest (required)
   * @return the API result wrapping {@code InstanceServiceDeleteInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceDeleteInstanceResponse> deleteInstanceWithHttpInfo(
      InstanceServiceDeleteInstanceRequest instanceServiceDeleteInstanceRequest) {
    if (instanceServiceDeleteInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceDeleteInstanceRequest' when calling deleteInstance");
    }
    String path = "/zitadel.instance.v2.InstanceService/DeleteInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceDeleteInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        deleteInstanceTypeRef,
        null);
  }

  /**
   * Get Instance Returns the instance in the current context or by its ID. By default the instance
   * will be determined by the context of the request, e.g. the host header. You can optionally pass
   * an InstanceID to retrieve a specific instance. This requires additional permissions. Required
   * permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceGetInstanceRequest (required)
   * @return {@code InstanceServiceGetInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceGetInstanceResponse getInstance(
      InstanceServiceGetInstanceRequest instanceServiceGetInstanceRequest) {
    return requireBody(getInstanceWithHttpInfo(instanceServiceGetInstanceRequest), "getInstance");
  }

  /**
   * Get Instance Returns the instance in the current context or by its ID. By default the instance
   * will be determined by the context of the request, e.g. the host header. You can optionally pass
   * an InstanceID to retrieve a specific instance. This requires additional permissions. Required
   * permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceGetInstanceRequest (required)
   * @return the API result wrapping {@code InstanceServiceGetInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceGetInstanceResponse> getInstanceWithHttpInfo(
      InstanceServiceGetInstanceRequest instanceServiceGetInstanceRequest) {
    if (instanceServiceGetInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceGetInstanceRequest' when calling getInstance");
    }
    String path = "/zitadel.instance.v2.InstanceService/GetInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceGetInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        getInstanceTypeRef,
        null);
  }

  /**
   * List Custom Domains Lists custom domains of the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceListCustomDomainsRequest (required)
   * @return {@code InstanceServiceListCustomDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceListCustomDomainsResponse listCustomDomains(
      InstanceServiceListCustomDomainsRequest instanceServiceListCustomDomainsRequest) {
    return requireBody(
        listCustomDomainsWithHttpInfo(instanceServiceListCustomDomainsRequest),
        "listCustomDomains");
  }

  /**
   * List Custom Domains Lists custom domains of the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceListCustomDomainsRequest (required)
   * @return the API result wrapping {@code InstanceServiceListCustomDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceListCustomDomainsResponse> listCustomDomainsWithHttpInfo(
      InstanceServiceListCustomDomainsRequest instanceServiceListCustomDomainsRequest) {
    if (instanceServiceListCustomDomainsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceListCustomDomainsRequest' when calling listCustomDomains");
    }
    String path = "/zitadel.instance.v2.InstanceService/ListCustomDomains";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceListCustomDomainsRequest,
        new String[] {"application/json"},
        "application/json",
        listCustomDomainsTypeRef,
        null);
  }

  /**
   * List Instances Lists instances matching the given query. The query can be used to filter either
   * by instance ID or domain. The request is paginated and returns 100 results by default. This
   * method requires system level permissions and cannot be called from an instance context.
   * Required permissions: - `system.instance.read`
   *
   * @param instanceServiceListInstancesRequest (required)
   * @return {@code InstanceServiceListInstancesResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceListInstancesResponse listInstances(
      InstanceServiceListInstancesRequest instanceServiceListInstancesRequest) {
    return requireBody(
        listInstancesWithHttpInfo(instanceServiceListInstancesRequest), "listInstances");
  }

  /**
   * List Instances Lists instances matching the given query. The query can be used to filter either
   * by instance ID or domain. The request is paginated and returns 100 results by default. This
   * method requires system level permissions and cannot be called from an instance context.
   * Required permissions: - `system.instance.read`
   *
   * @param instanceServiceListInstancesRequest (required)
   * @return the API result wrapping {@code InstanceServiceListInstancesResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceListInstancesResponse> listInstancesWithHttpInfo(
      InstanceServiceListInstancesRequest instanceServiceListInstancesRequest) {
    if (instanceServiceListInstancesRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceListInstancesRequest' when calling listInstances");
    }
    String path = "/zitadel.instance.v2.InstanceService/ListInstances";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceListInstancesRequest,
        new String[] {"application/json"},
        "application/json",
        listInstancesTypeRef,
        null);
  }

  /**
   * List Trusted Domains Lists trusted domains of the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceListTrustedDomainsRequest (required)
   * @return {@code InstanceServiceListTrustedDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceListTrustedDomainsResponse listTrustedDomains(
      InstanceServiceListTrustedDomainsRequest instanceServiceListTrustedDomainsRequest) {
    return requireBody(
        listTrustedDomainsWithHttpInfo(instanceServiceListTrustedDomainsRequest),
        "listTrustedDomains");
  }

  /**
   * List Trusted Domains Lists trusted domains of the instance. By default the instance will be
   * determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.read` - `system.instance.read` (if InstanceID is set)
   *
   * @param instanceServiceListTrustedDomainsRequest (required)
   * @return the API result wrapping {@code InstanceServiceListTrustedDomainsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceListTrustedDomainsResponse> listTrustedDomainsWithHttpInfo(
      InstanceServiceListTrustedDomainsRequest instanceServiceListTrustedDomainsRequest) {
    if (instanceServiceListTrustedDomainsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceListTrustedDomainsRequest' when calling listTrustedDomains");
    }
    String path = "/zitadel.instance.v2.InstanceService/ListTrustedDomains";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceListTrustedDomainsRequest,
        new String[] {"application/json"},
        "application/json",
        listTrustedDomainsTypeRef,
        null);
  }

  /**
   * Remove Custom Domain Removes a custom domain from the instance. Be aware that this will stop
   * routing requests from this domain to the instance and might break existing setups or
   * integrations. This method requires system level permissions and cannot be called from an
   * instance context. Required permissions: - `system.domain.write`
   *
   * @param instanceServiceRemoveCustomDomainRequest (required)
   * @return {@code InstanceServiceRemoveCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceRemoveCustomDomainResponse removeCustomDomain(
      InstanceServiceRemoveCustomDomainRequest instanceServiceRemoveCustomDomainRequest) {
    return requireBody(
        removeCustomDomainWithHttpInfo(instanceServiceRemoveCustomDomainRequest),
        "removeCustomDomain");
  }

  /**
   * Remove Custom Domain Removes a custom domain from the instance. Be aware that this will stop
   * routing requests from this domain to the instance and might break existing setups or
   * integrations. This method requires system level permissions and cannot be called from an
   * instance context. Required permissions: - `system.domain.write`
   *
   * @param instanceServiceRemoveCustomDomainRequest (required)
   * @return the API result wrapping {@code InstanceServiceRemoveCustomDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceRemoveCustomDomainResponse> removeCustomDomainWithHttpInfo(
      InstanceServiceRemoveCustomDomainRequest instanceServiceRemoveCustomDomainRequest) {
    if (instanceServiceRemoveCustomDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceRemoveCustomDomainRequest' when calling removeCustomDomain");
    }
    String path = "/zitadel.instance.v2.InstanceService/RemoveCustomDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceRemoveCustomDomainRequest,
        new String[] {"application/json"},
        "application/json",
        removeCustomDomainTypeRef,
        null);
  }

  /**
   * Remove Trusted Domain Removes a trusted domain from the instance. By default the instance will
   * be determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.write` - `system.instance.write` (if InstanceID is set)
   *
   * @param instanceServiceRemoveTrustedDomainRequest (required)
   * @return {@code InstanceServiceRemoveTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceRemoveTrustedDomainResponse removeTrustedDomain(
      InstanceServiceRemoveTrustedDomainRequest instanceServiceRemoveTrustedDomainRequest) {
    return requireBody(
        removeTrustedDomainWithHttpInfo(instanceServiceRemoveTrustedDomainRequest),
        "removeTrustedDomain");
  }

  /**
   * Remove Trusted Domain Removes a trusted domain from the instance. By default the instance will
   * be determined by the context of the request, e.g. the host header. You can optionally pass an
   * InstanceID to list the domains of a specific instance. This requires additional permissions.
   * Required permissions: - `iam.write` - `system.instance.write` (if InstanceID is set)
   *
   * @param instanceServiceRemoveTrustedDomainRequest (required)
   * @return the API result wrapping {@code InstanceServiceRemoveTrustedDomainResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceRemoveTrustedDomainResponse> removeTrustedDomainWithHttpInfo(
      InstanceServiceRemoveTrustedDomainRequest instanceServiceRemoveTrustedDomainRequest) {
    if (instanceServiceRemoveTrustedDomainRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceRemoveTrustedDomainRequest' when calling removeTrustedDomain");
    }
    String path = "/zitadel.instance.v2.InstanceService/RemoveTrustedDomain";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceRemoveTrustedDomainRequest,
        new String[] {"application/json"},
        "application/json",
        removeTrustedDomainTypeRef,
        null);
  }

  /**
   * Update Instance Updates instance's name in the current context or by its ID. By default the
   * instance will be determined by the context of the request, e.g. the host header. You can
   * optionally pass an InstanceID to update a specific instance. This requires additional
   * permissions. Required permissions: - `iam.write` - `system.instance.write` (if InstanceID is
   * set)
   *
   * @param instanceServiceUpdateInstanceRequest (required)
   * @return {@code InstanceServiceUpdateInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public InstanceServiceUpdateInstanceResponse updateInstance(
      InstanceServiceUpdateInstanceRequest instanceServiceUpdateInstanceRequest) {
    return requireBody(
        updateInstanceWithHttpInfo(instanceServiceUpdateInstanceRequest), "updateInstance");
  }

  /**
   * Update Instance Updates instance's name in the current context or by its ID. By default the
   * instance will be determined by the context of the request, e.g. the host header. You can
   * optionally pass an InstanceID to update a specific instance. This requires additional
   * permissions. Required permissions: - `iam.write` - `system.instance.write` (if InstanceID is
   * set)
   *
   * @param instanceServiceUpdateInstanceRequest (required)
   * @return the API result wrapping {@code InstanceServiceUpdateInstanceResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InstanceServiceUpdateInstanceResponse> updateInstanceWithHttpInfo(
      InstanceServiceUpdateInstanceRequest instanceServiceUpdateInstanceRequest) {
    if (instanceServiceUpdateInstanceRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'instanceServiceUpdateInstanceRequest' when calling updateInstance");
    }
    String path = "/zitadel.instance.v2.InstanceService/UpdateInstance";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        instanceServiceUpdateInstanceRequest,
        new String[] {"application/json"},
        "application/json",
        updateInstanceTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
