// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.InternalPermissionServiceCreateAdministratorRequest;
import com.zitadel.model.InternalPermissionServiceCreateAdministratorResponse;
import com.zitadel.model.InternalPermissionServiceDeleteAdministratorRequest;
import com.zitadel.model.InternalPermissionServiceDeleteAdministratorResponse;
import com.zitadel.model.InternalPermissionServiceListAdministratorsRequest;
import com.zitadel.model.InternalPermissionServiceListAdministratorsResponse;
import com.zitadel.model.InternalPermissionServiceUpdateAdministratorRequest;
import com.zitadel.model.InternalPermissionServiceUpdateAdministratorResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** InternalPermissionServiceApi provides methods for the InternalPermissionService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class InternalPermissionServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createAdministratorTypeRef =
      new TypeReference<InternalPermissionServiceCreateAdministratorResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteAdministratorTypeRef =
      new TypeReference<InternalPermissionServiceDeleteAdministratorResponse>() {}.getType();

  private static final java.lang.reflect.Type listAdministratorsTypeRef =
      new TypeReference<InternalPermissionServiceListAdministratorsResponse>() {}.getType();

  private static final java.lang.reflect.Type updateAdministratorTypeRef =
      new TypeReference<InternalPermissionServiceUpdateAdministratorResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public InternalPermissionServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public InternalPermissionServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public InternalPermissionServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Administrator CreateAdministrator grants an administrator role to a user for a specific
   * resource. Note that the roles are specific to the resource type. This means that if you want to
   * grant a user the administrator role for an organization and a project, you need to create two
   * administrator roles. Required permissions depend on the resource type: - \"iam.member.write\"
   * for instance administrators - \"org.member.write\" for organization administrators -
   * \"project.member.write\" for project administrators - \"project.grant.member.write\" for
   * project grant administrators
   *
   * @param internalPermissionServiceCreateAdministratorRequest (required)
   * @return {@code InternalPermissionServiceCreateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public InternalPermissionServiceCreateAdministratorResponse createAdministrator(
      InternalPermissionServiceCreateAdministratorRequest
          internalPermissionServiceCreateAdministratorRequest) {
    return requireBody(
        createAdministratorWithHttpInfo(internalPermissionServiceCreateAdministratorRequest),
        "createAdministrator");
  }

  /**
   * Create Administrator CreateAdministrator grants an administrator role to a user for a specific
   * resource. Note that the roles are specific to the resource type. This means that if you want to
   * grant a user the administrator role for an organization and a project, you need to create two
   * administrator roles. Required permissions depend on the resource type: - \"iam.member.write\"
   * for instance administrators - \"org.member.write\" for organization administrators -
   * \"project.member.write\" for project administrators - \"project.grant.member.write\" for
   * project grant administrators
   *
   * @param internalPermissionServiceCreateAdministratorRequest (required)
   * @return the API result wrapping {@code InternalPermissionServiceCreateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InternalPermissionServiceCreateAdministratorResponse>
      createAdministratorWithHttpInfo(
          InternalPermissionServiceCreateAdministratorRequest
              internalPermissionServiceCreateAdministratorRequest) {
    if (internalPermissionServiceCreateAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'internalPermissionServiceCreateAdministratorRequest' when calling createAdministrator");
    }
    String path = "/zitadel.internal_permission.v2.InternalPermissionService/CreateAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        internalPermissionServiceCreateAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        createAdministratorTypeRef,
        null);
  }

  /**
   * Delete Administrator DeleteAdministrator revokes an administrator role from a user. In case the
   * administrator role is not found, the request will return a successful response as the desired
   * state is already achieved. You can check the deletion date in the response to verify if the
   * administrator role was deleted during the request. Required permissions depend on the resource
   * type: - \"iam.member.delete\" for instance administrators - \"org.member.delete\" for
   * organization administrators - \"project.member.delete\" for project administrators -
   * \"project.grant.member.delete\" for project grant administrators
   *
   * @param internalPermissionServiceDeleteAdministratorRequest (required)
   * @return {@code InternalPermissionServiceDeleteAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public InternalPermissionServiceDeleteAdministratorResponse deleteAdministrator(
      InternalPermissionServiceDeleteAdministratorRequest
          internalPermissionServiceDeleteAdministratorRequest) {
    return requireBody(
        deleteAdministratorWithHttpInfo(internalPermissionServiceDeleteAdministratorRequest),
        "deleteAdministrator");
  }

  /**
   * Delete Administrator DeleteAdministrator revokes an administrator role from a user. In case the
   * administrator role is not found, the request will return a successful response as the desired
   * state is already achieved. You can check the deletion date in the response to verify if the
   * administrator role was deleted during the request. Required permissions depend on the resource
   * type: - \"iam.member.delete\" for instance administrators - \"org.member.delete\" for
   * organization administrators - \"project.member.delete\" for project administrators -
   * \"project.grant.member.delete\" for project grant administrators
   *
   * @param internalPermissionServiceDeleteAdministratorRequest (required)
   * @return the API result wrapping {@code InternalPermissionServiceDeleteAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InternalPermissionServiceDeleteAdministratorResponse>
      deleteAdministratorWithHttpInfo(
          InternalPermissionServiceDeleteAdministratorRequest
              internalPermissionServiceDeleteAdministratorRequest) {
    if (internalPermissionServiceDeleteAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'internalPermissionServiceDeleteAdministratorRequest' when calling deleteAdministrator");
    }
    String path = "/zitadel.internal_permission.v2.InternalPermissionService/DeleteAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        internalPermissionServiceDeleteAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        deleteAdministratorTypeRef,
        null);
  }

  /**
   * List Administrators ListAdministrators returns all administrators and their roles matching the
   * request and the caller's permissions to retrieve. Required permissions depend on the resource
   * type: - \"iam.member.read\" for instance administrators - \"org.member.read\" for organization
   * administrators - \"project.member.read\" for project administrators -
   * \"project.grant.member.read\" for project grant administrators - no permissions required for
   * listing own administrator roles
   *
   * @param internalPermissionServiceListAdministratorsRequest (required)
   * @return {@code InternalPermissionServiceListAdministratorsResponse}
   * @throws ApiException if fails to make API call
   */
  public InternalPermissionServiceListAdministratorsResponse listAdministrators(
      InternalPermissionServiceListAdministratorsRequest
          internalPermissionServiceListAdministratorsRequest) {
    return requireBody(
        listAdministratorsWithHttpInfo(internalPermissionServiceListAdministratorsRequest),
        "listAdministrators");
  }

  /**
   * List Administrators ListAdministrators returns all administrators and their roles matching the
   * request and the caller's permissions to retrieve. Required permissions depend on the resource
   * type: - \"iam.member.read\" for instance administrators - \"org.member.read\" for organization
   * administrators - \"project.member.read\" for project administrators -
   * \"project.grant.member.read\" for project grant administrators - no permissions required for
   * listing own administrator roles
   *
   * @param internalPermissionServiceListAdministratorsRequest (required)
   * @return the API result wrapping {@code InternalPermissionServiceListAdministratorsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InternalPermissionServiceListAdministratorsResponse>
      listAdministratorsWithHttpInfo(
          InternalPermissionServiceListAdministratorsRequest
              internalPermissionServiceListAdministratorsRequest) {
    if (internalPermissionServiceListAdministratorsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'internalPermissionServiceListAdministratorsRequest' when calling listAdministrators");
    }
    String path = "/zitadel.internal_permission.v2.InternalPermissionService/ListAdministrators";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        internalPermissionServiceListAdministratorsRequest,
        new String[] {"application/json"},
        "application/json",
        listAdministratorsTypeRef,
        null);
  }

  /**
   * Update Administrator UpdateAdministrator updates the specific administrator role. Note that any
   * role previously granted to the user and not present in the request will be revoked. Required
   * permissions depend on the resource type: - \"iam.member.write\" for instance administrators -
   * \"org.member.write\" for organization administrators - \"project.member.write\" for project
   * administrators - \"project.grant.member.write\" for project grant administrators
   *
   * @param internalPermissionServiceUpdateAdministratorRequest (required)
   * @return {@code InternalPermissionServiceUpdateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public InternalPermissionServiceUpdateAdministratorResponse updateAdministrator(
      InternalPermissionServiceUpdateAdministratorRequest
          internalPermissionServiceUpdateAdministratorRequest) {
    return requireBody(
        updateAdministratorWithHttpInfo(internalPermissionServiceUpdateAdministratorRequest),
        "updateAdministrator");
  }

  /**
   * Update Administrator UpdateAdministrator updates the specific administrator role. Note that any
   * role previously granted to the user and not present in the request will be revoked. Required
   * permissions depend on the resource type: - \"iam.member.write\" for instance administrators -
   * \"org.member.write\" for organization administrators - \"project.member.write\" for project
   * administrators - \"project.grant.member.write\" for project grant administrators
   *
   * @param internalPermissionServiceUpdateAdministratorRequest (required)
   * @return the API result wrapping {@code InternalPermissionServiceUpdateAdministratorResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<InternalPermissionServiceUpdateAdministratorResponse>
      updateAdministratorWithHttpInfo(
          InternalPermissionServiceUpdateAdministratorRequest
              internalPermissionServiceUpdateAdministratorRequest) {
    if (internalPermissionServiceUpdateAdministratorRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'internalPermissionServiceUpdateAdministratorRequest' when calling updateAdministrator");
    }
    String path = "/zitadel.internal_permission.v2.InternalPermissionService/UpdateAdministrator";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        internalPermissionServiceUpdateAdministratorRequest,
        new String[] {"application/json"},
        "application/json",
        updateAdministratorTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
