// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest;
import com.zitadel.model.OIDCServiceCreateCallbackRequest;
import com.zitadel.model.OIDCServiceCreateCallbackResponse;
import com.zitadel.model.OIDCServiceGetAuthRequestRequest;
import com.zitadel.model.OIDCServiceGetAuthRequestResponse;
import com.zitadel.model.OIDCServiceGetDeviceAuthorizationRequestRequest;
import com.zitadel.model.OIDCServiceGetDeviceAuthorizationRequestResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** OIDCServiceApi provides methods for the OIDCService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class OIDCServiceApi extends BaseApi {

  private static final java.lang.reflect.Type authorizeOrDenyDeviceAuthorizationTypeRef =
      new TypeReference<Object>() {}.getType();

  private static final java.lang.reflect.Type createCallbackTypeRef =
      new TypeReference<OIDCServiceCreateCallbackResponse>() {}.getType();

  private static final java.lang.reflect.Type getAuthRequestTypeRef =
      new TypeReference<OIDCServiceGetAuthRequestResponse>() {}.getType();

  private static final java.lang.reflect.Type getDeviceAuthorizationRequestTypeRef =
      new TypeReference<OIDCServiceGetDeviceAuthorizationRequestResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public OIDCServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public OIDCServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public OIDCServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Authorize or Deny Device Authorization Authorize or deny the device authorization request based
   * on the provided device authorization id. Required permissions: - `session.link`
   *
   * @param oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest (required)
   * @return {@code Object}
   * @throws ApiException if fails to make API call
   */
  public Object authorizeOrDenyDeviceAuthorization(
      OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest
          oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest) {
    return requireBody(
        authorizeOrDenyDeviceAuthorizationWithHttpInfo(
            oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest),
        "authorizeOrDenyDeviceAuthorization");
  }

  /**
   * Authorize or Deny Device Authorization Authorize or deny the device authorization request based
   * on the provided device authorization id. Required permissions: - `session.link`
   *
   * @param oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest (required)
   * @return the API result wrapping {@code Object}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<Object> authorizeOrDenyDeviceAuthorizationWithHttpInfo(
      OIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest
          oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest) {
    if (oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest' when calling authorizeOrDenyDeviceAuthorization");
    }
    String path = "/zitadel.oidc.v2.OIDCService/AuthorizeOrDenyDeviceAuthorization";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        oIDCServiceAuthorizeOrDenyDeviceAuthorizationRequest,
        new String[] {"application/json"},
        "application/json",
        authorizeOrDenyDeviceAuthorizationTypeRef,
        null);
  }

  /**
   * Create Callback Finalize an Auth Request and get the callback URL for success or failure. The
   * user must be redirected to the URL in order to inform the application about the success or
   * failure. On success, the URL contains details for the application to obtain the tokens. This
   * method can only be called once for an Auth request. Required permissions: - `session.link`
   *
   * @param oIDCServiceCreateCallbackRequest (required)
   * @return {@code OIDCServiceCreateCallbackResponse}
   * @throws ApiException if fails to make API call
   */
  public OIDCServiceCreateCallbackResponse createCallback(
      OIDCServiceCreateCallbackRequest oIDCServiceCreateCallbackRequest) {
    return requireBody(
        createCallbackWithHttpInfo(oIDCServiceCreateCallbackRequest), "createCallback");
  }

  /**
   * Create Callback Finalize an Auth Request and get the callback URL for success or failure. The
   * user must be redirected to the URL in order to inform the application about the success or
   * failure. On success, the URL contains details for the application to obtain the tokens. This
   * method can only be called once for an Auth request. Required permissions: - `session.link`
   *
   * @param oIDCServiceCreateCallbackRequest (required)
   * @return the API result wrapping {@code OIDCServiceCreateCallbackResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<OIDCServiceCreateCallbackResponse> createCallbackWithHttpInfo(
      OIDCServiceCreateCallbackRequest oIDCServiceCreateCallbackRequest) {
    if (oIDCServiceCreateCallbackRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'oIDCServiceCreateCallbackRequest' when calling createCallback");
    }
    String path = "/zitadel.oidc.v2.OIDCService/CreateCallback";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        oIDCServiceCreateCallbackRequest,
        new String[] {"application/json"},
        "application/json",
        createCallbackTypeRef,
        null);
  }

  /**
   * Get Auth Request Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns
   * details that are parsed from the application's Auth Request. Required permissions: -
   * `session.read`
   *
   * @param oIDCServiceGetAuthRequestRequest (required)
   * @return {@code OIDCServiceGetAuthRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public OIDCServiceGetAuthRequestResponse getAuthRequest(
      OIDCServiceGetAuthRequestRequest oIDCServiceGetAuthRequestRequest) {
    return requireBody(
        getAuthRequestWithHttpInfo(oIDCServiceGetAuthRequestRequest), "getAuthRequest");
  }

  /**
   * Get Auth Request Get OIDC Auth Request details by ID, obtained from the redirect URL. Returns
   * details that are parsed from the application's Auth Request. Required permissions: -
   * `session.read`
   *
   * @param oIDCServiceGetAuthRequestRequest (required)
   * @return the API result wrapping {@code OIDCServiceGetAuthRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<OIDCServiceGetAuthRequestResponse> getAuthRequestWithHttpInfo(
      OIDCServiceGetAuthRequestRequest oIDCServiceGetAuthRequestRequest) {
    if (oIDCServiceGetAuthRequestRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'oIDCServiceGetAuthRequestRequest' when calling getAuthRequest");
    }
    String path = "/zitadel.oidc.v2.OIDCService/GetAuthRequest";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        oIDCServiceGetAuthRequestRequest,
        new String[] {"application/json"},
        "application/json",
        getAuthRequestTypeRef,
        null);
  }

  /**
   * Get Device Authorization Request Get the device authorization based on the provided \"user
   * code\". This will return the device authorization request, which contains the device
   * authorization id that is required to authorize the request once the user signed in or to deny
   * it. Required permissions: - `session.read`
   *
   * @param oIDCServiceGetDeviceAuthorizationRequestRequest (required)
   * @return {@code OIDCServiceGetDeviceAuthorizationRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public OIDCServiceGetDeviceAuthorizationRequestResponse getDeviceAuthorizationRequest(
      OIDCServiceGetDeviceAuthorizationRequestRequest
          oIDCServiceGetDeviceAuthorizationRequestRequest) {
    return requireBody(
        getDeviceAuthorizationRequestWithHttpInfo(oIDCServiceGetDeviceAuthorizationRequestRequest),
        "getDeviceAuthorizationRequest");
  }

  /**
   * Get Device Authorization Request Get the device authorization based on the provided \"user
   * code\". This will return the device authorization request, which contains the device
   * authorization id that is required to authorize the request once the user signed in or to deny
   * it. Required permissions: - `session.read`
   *
   * @param oIDCServiceGetDeviceAuthorizationRequestRequest (required)
   * @return the API result wrapping {@code OIDCServiceGetDeviceAuthorizationRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<OIDCServiceGetDeviceAuthorizationRequestResponse>
      getDeviceAuthorizationRequestWithHttpInfo(
          OIDCServiceGetDeviceAuthorizationRequestRequest
              oIDCServiceGetDeviceAuthorizationRequestRequest) {
    if (oIDCServiceGetDeviceAuthorizationRequestRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'oIDCServiceGetDeviceAuthorizationRequestRequest' when calling getDeviceAuthorizationRequest");
    }
    String path = "/zitadel.oidc.v2.OIDCService/GetDeviceAuthorizationRequest";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        oIDCServiceGetDeviceAuthorizationRequestRequest,
        new String[] {"application/json"},
        "application/json",
        getDeviceAuthorizationRequestTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
