// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.SAMLServiceCreateResponseRequest;
import com.zitadel.model.SAMLServiceCreateResponseResponse;
import com.zitadel.model.SAMLServiceGetSAMLRequestRequest;
import com.zitadel.model.SAMLServiceGetSAMLRequestResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** SAMLServiceApi provides methods for the SAMLService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class SAMLServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createResponseTypeRef =
      new TypeReference<SAMLServiceCreateResponseResponse>() {}.getType();

  private static final java.lang.reflect.Type getSAMLRequestTypeRef =
      new TypeReference<SAMLServiceGetSAMLRequestResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public SAMLServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public SAMLServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public SAMLServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Response Finalize a SAML Request and get the response definition for success or failure.
   * The response must be handled as per the SAML definition to inform the application about the
   * success or failure. On success, the response contains details for the application to obtain the
   * SAMLResponse. This method can only be called once for an SAML request. Required permissions: -
   * `session.link`
   *
   * @param sAMLServiceCreateResponseRequest (required)
   * @return {@code SAMLServiceCreateResponseResponse}
   * @throws ApiException if fails to make API call
   */
  public SAMLServiceCreateResponseResponse createResponse(
      SAMLServiceCreateResponseRequest sAMLServiceCreateResponseRequest) {
    return requireBody(
        createResponseWithHttpInfo(sAMLServiceCreateResponseRequest), "createResponse");
  }

  /**
   * Create Response Finalize a SAML Request and get the response definition for success or failure.
   * The response must be handled as per the SAML definition to inform the application about the
   * success or failure. On success, the response contains details for the application to obtain the
   * SAMLResponse. This method can only be called once for an SAML request. Required permissions: -
   * `session.link`
   *
   * @param sAMLServiceCreateResponseRequest (required)
   * @return the API result wrapping {@code SAMLServiceCreateResponseResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SAMLServiceCreateResponseResponse> createResponseWithHttpInfo(
      SAMLServiceCreateResponseRequest sAMLServiceCreateResponseRequest) {
    if (sAMLServiceCreateResponseRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sAMLServiceCreateResponseRequest' when calling createResponse");
    }
    String path = "/zitadel.saml.v2.SAMLService/CreateResponse";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sAMLServiceCreateResponseRequest,
        new String[] {"application/json"},
        "application/json",
        createResponseTypeRef,
        null);
  }

  /**
   * Get SAML Request Get SAML Request details by ID. Returns details that are parsed from the
   * application's SAML Request. Required permissions: - `session.read`
   *
   * @param sAMLServiceGetSAMLRequestRequest (required)
   * @return {@code SAMLServiceGetSAMLRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public SAMLServiceGetSAMLRequestResponse getSAMLRequest(
      SAMLServiceGetSAMLRequestRequest sAMLServiceGetSAMLRequestRequest) {
    return requireBody(
        getSAMLRequestWithHttpInfo(sAMLServiceGetSAMLRequestRequest), "getSAMLRequest");
  }

  /**
   * Get SAML Request Get SAML Request details by ID. Returns details that are parsed from the
   * application's SAML Request. Required permissions: - `session.read`
   *
   * @param sAMLServiceGetSAMLRequestRequest (required)
   * @return the API result wrapping {@code SAMLServiceGetSAMLRequestResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SAMLServiceGetSAMLRequestResponse> getSAMLRequestWithHttpInfo(
      SAMLServiceGetSAMLRequestRequest sAMLServiceGetSAMLRequestRequest) {
    if (sAMLServiceGetSAMLRequestRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sAMLServiceGetSAMLRequestRequest' when calling getSAMLRequest");
    }
    String path = "/zitadel.saml.v2.SAMLService/GetSAMLRequest";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sAMLServiceGetSAMLRequestRequest,
        new String[] {"application/json"},
        "application/json",
        getSAMLRequestTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
