// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.SessionServiceCreateSessionRequest;
import com.zitadel.model.SessionServiceCreateSessionResponse;
import com.zitadel.model.SessionServiceDeleteSessionRequest;
import com.zitadel.model.SessionServiceDeleteSessionResponse;
import com.zitadel.model.SessionServiceGetSessionRequest;
import com.zitadel.model.SessionServiceGetSessionResponse;
import com.zitadel.model.SessionServiceListSessionsRequest;
import com.zitadel.model.SessionServiceListSessionsResponse;
import com.zitadel.model.SessionServiceSetSessionRequest;
import com.zitadel.model.SessionServiceSetSessionResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** SessionServiceApi provides methods for the SessionService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class SessionServiceApi extends BaseApi {

  private static final java.lang.reflect.Type createSessionTypeRef =
      new TypeReference<SessionServiceCreateSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteSessionTypeRef =
      new TypeReference<SessionServiceDeleteSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type getSessionTypeRef =
      new TypeReference<SessionServiceGetSessionResponse>() {}.getType();

  private static final java.lang.reflect.Type listSessionsTypeRef =
      new TypeReference<SessionServiceListSessionsResponse>() {}.getType();

  private static final java.lang.reflect.Type setSessionTypeRef =
      new TypeReference<SessionServiceSetSessionResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public SessionServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public SessionServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public SessionServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Create Session Create a new session with initial checks, metadata and challenges for further
   * verification. A token will be returned, which is required for using the session as
   * authentication, e.g. when authenticating an OIDC auth request or SAML request. Additionally,
   * the session token can be used as OAuth2 access token to authenticate against the ZITADEL APIs.
   * Required permissions: - `session.write`
   *
   * @param sessionServiceCreateSessionRequest (required)
   * @return {@code SessionServiceCreateSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public SessionServiceCreateSessionResponse createSession(
      SessionServiceCreateSessionRequest sessionServiceCreateSessionRequest) {
    return requireBody(
        createSessionWithHttpInfo(sessionServiceCreateSessionRequest), "createSession");
  }

  /**
   * Create Session Create a new session with initial checks, metadata and challenges for further
   * verification. A token will be returned, which is required for using the session as
   * authentication, e.g. when authenticating an OIDC auth request or SAML request. Additionally,
   * the session token can be used as OAuth2 access token to authenticate against the ZITADEL APIs.
   * Required permissions: - `session.write`
   *
   * @param sessionServiceCreateSessionRequest (required)
   * @return the API result wrapping {@code SessionServiceCreateSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SessionServiceCreateSessionResponse> createSessionWithHttpInfo(
      SessionServiceCreateSessionRequest sessionServiceCreateSessionRequest) {
    if (sessionServiceCreateSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sessionServiceCreateSessionRequest' when calling createSession");
    }
    String path = "/zitadel.session.v2.SessionService/CreateSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sessionServiceCreateSessionRequest,
        new String[] {"application/json"},
        "application/json",
        createSessionTypeRef,
        null);
  }

  /**
   * DeleteSession Terminate an existing session. This invalidates the session and its token. The
   * session can no longer be used for the authentication of other resources or to authenticate
   * against the ZITADEL APIs. You can only terminate your own session, unless you are granted the
   * `session.delete` permission. Required permissions: - `session.delete` - no permission required
   * for own sessions or when providing the current session token
   *
   * @param sessionServiceDeleteSessionRequest (required)
   * @return {@code SessionServiceDeleteSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public SessionServiceDeleteSessionResponse deleteSession(
      SessionServiceDeleteSessionRequest sessionServiceDeleteSessionRequest) {
    return requireBody(
        deleteSessionWithHttpInfo(sessionServiceDeleteSessionRequest), "deleteSession");
  }

  /**
   * DeleteSession Terminate an existing session. This invalidates the session and its token. The
   * session can no longer be used for the authentication of other resources or to authenticate
   * against the ZITADEL APIs. You can only terminate your own session, unless you are granted the
   * `session.delete` permission. Required permissions: - `session.delete` - no permission required
   * for own sessions or when providing the current session token
   *
   * @param sessionServiceDeleteSessionRequest (required)
   * @return the API result wrapping {@code SessionServiceDeleteSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SessionServiceDeleteSessionResponse> deleteSessionWithHttpInfo(
      SessionServiceDeleteSessionRequest sessionServiceDeleteSessionRequest) {
    if (sessionServiceDeleteSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sessionServiceDeleteSessionRequest' when calling deleteSession");
    }
    String path = "/zitadel.session.v2.SessionService/DeleteSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sessionServiceDeleteSessionRequest,
        new String[] {"application/json"},
        "application/json",
        deleteSessionTypeRef,
        null);
  }

  /**
   * Get Session Retrieve a session by its ID. Returns all information about the session, including
   * the factors that were verified, the metadata, user agent information and possible expiration
   * date. The session token is required unless either of the following conditions is met: - the
   * caller created the session - the authenticated user requests their own session (checked user) -
   * the security token provided in the authorization header has the same user agent as the session
   * - the caller is granted the permission session.read permission on either the instance or on the
   * checked user's organization Required permissions: - `session.read` - no permission required to
   * get own sessions (see above) or when providing the current session token
   *
   * @param sessionServiceGetSessionRequest (required)
   * @return {@code SessionServiceGetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public SessionServiceGetSessionResponse getSession(
      SessionServiceGetSessionRequest sessionServiceGetSessionRequest) {
    return requireBody(getSessionWithHttpInfo(sessionServiceGetSessionRequest), "getSession");
  }

  /**
   * Get Session Retrieve a session by its ID. Returns all information about the session, including
   * the factors that were verified, the metadata, user agent information and possible expiration
   * date. The session token is required unless either of the following conditions is met: - the
   * caller created the session - the authenticated user requests their own session (checked user) -
   * the security token provided in the authorization header has the same user agent as the session
   * - the caller is granted the permission session.read permission on either the instance or on the
   * checked user's organization Required permissions: - `session.read` - no permission required to
   * get own sessions (see above) or when providing the current session token
   *
   * @param sessionServiceGetSessionRequest (required)
   * @return the API result wrapping {@code SessionServiceGetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SessionServiceGetSessionResponse> getSessionWithHttpInfo(
      SessionServiceGetSessionRequest sessionServiceGetSessionRequest) {
    if (sessionServiceGetSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sessionServiceGetSessionRequest' when calling getSession");
    }
    String path = "/zitadel.session.v2.SessionService/GetSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sessionServiceGetSessionRequest,
        new String[] {"application/json"},
        "application/json",
        getSessionTypeRef,
        null);
  }

  /**
   * List sessions Searches for sessions matching the given query. You can search by session ID,
   * user ID, creation date, creator, user agent or expiration date. Required permissions: -
   * `session.read` - no permission required to search for own sessions
   *
   * @param sessionServiceListSessionsRequest (required)
   * @return {@code SessionServiceListSessionsResponse}
   * @throws ApiException if fails to make API call
   */
  public SessionServiceListSessionsResponse listSessions(
      SessionServiceListSessionsRequest sessionServiceListSessionsRequest) {
    return requireBody(listSessionsWithHttpInfo(sessionServiceListSessionsRequest), "listSessions");
  }

  /**
   * List sessions Searches for sessions matching the given query. You can search by session ID,
   * user ID, creation date, creator, user agent or expiration date. Required permissions: -
   * `session.read` - no permission required to search for own sessions
   *
   * @param sessionServiceListSessionsRequest (required)
   * @return the API result wrapping {@code SessionServiceListSessionsResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SessionServiceListSessionsResponse> listSessionsWithHttpInfo(
      SessionServiceListSessionsRequest sessionServiceListSessionsRequest) {
    if (sessionServiceListSessionsRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sessionServiceListSessionsRequest' when calling listSessions");
    }
    String path = "/zitadel.session.v2.SessionService/ListSessions";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sessionServiceListSessionsRequest,
        new String[] {"application/json"},
        "application/json",
        listSessionsTypeRef,
        null);
  }

  /**
   * Set Session Update an existing session with new information like additional checks or metadata
   * or request additional challenges. A new session token will be returned. Note that the previous
   * token will be invalidated. Required permissions: - `session.write`
   *
   * @param sessionServiceSetSessionRequest (required)
   * @return {@code SessionServiceSetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public SessionServiceSetSessionResponse setSession(
      SessionServiceSetSessionRequest sessionServiceSetSessionRequest) {
    return requireBody(setSessionWithHttpInfo(sessionServiceSetSessionRequest), "setSession");
  }

  /**
   * Set Session Update an existing session with new information like additional checks or metadata
   * or request additional challenges. A new session token will be returned. Note that the previous
   * token will be invalidated. Required permissions: - `session.write`
   *
   * @param sessionServiceSetSessionRequest (required)
   * @return the API result wrapping {@code SessionServiceSetSessionResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<SessionServiceSetSessionResponse> setSessionWithHttpInfo(
      SessionServiceSetSessionRequest sessionServiceSetSessionRequest) {
    if (sessionServiceSetSessionRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'sessionServiceSetSessionRequest' when calling setSession");
    }
    String path = "/zitadel.session.v2.SessionService/SetSession";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        sessionServiceSetSessionRequest,
        new String[] {"application/json"},
        "application/json",
        setSessionTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
