// Zitadel SDK
// The Zitadel SDK is a convenience wrapper around the Zitadel APIs to assist you in integrating
// with your Zitadel environment. This SDK enables you to handle resources, settings, and
// configurations within the Zitadel platform.
//
// The version of the OpenAPI document: 1.0.0
//
// Generated by: https://openapi-generator.tech

package com.zitadel.api;

import com.fasterxml.jackson.core.type.TypeReference;
import com.zitadel.ApiClient;
import com.zitadel.ApiException;
import com.zitadel.ApiResult;
import com.zitadel.Configuration;
import com.zitadel.auth.Authenticator;
import com.zitadel.model.WebKeyServiceActivateWebKeyRequest;
import com.zitadel.model.WebKeyServiceActivateWebKeyResponse;
import com.zitadel.model.WebKeyServiceCreateWebKeyRequest;
import com.zitadel.model.WebKeyServiceCreateWebKeyResponse;
import com.zitadel.model.WebKeyServiceDeleteWebKeyRequest;
import com.zitadel.model.WebKeyServiceDeleteWebKeyResponse;
import com.zitadel.model.WebKeyServiceListWebKeysResponse;
import java.util.HashMap;
import java.util.Map;
import javax.annotation.Nullable;

/** WebKeyServiceApi provides methods for the WebKeyService API group. */
@SuppressWarnings({
  "checkstyle:SummaryJavadoc",
  "checkstyle:JavadocParagraph",
  "checkstyle:SingleLineJavadoc",
  "checkstyle:RequireEmptyLineBeforeBlockTagGroup",
  "checkstyle:NonEmptyAtclauseDescription",
  "checkstyle:JavadocTagContinuationIndentation",
  "checkstyle:AtclauseOrder",
  "checkstyle:InvalidJavadocPosition",
  "checkstyle:AbbreviationAsWordInName",
  "checkstyle:MemberName",
  "checkstyle:OverloadMethodsDeclarationOrder",
  "checkstyle:VariableDeclarationUsageDistance",
  "checkstyle:ConstructorsDeclarationGrouping"
})
public class WebKeyServiceApi extends BaseApi {

  private static final java.lang.reflect.Type activateWebKeyTypeRef =
      new TypeReference<WebKeyServiceActivateWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type createWebKeyTypeRef =
      new TypeReference<WebKeyServiceCreateWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type deleteWebKeyTypeRef =
      new TypeReference<WebKeyServiceDeleteWebKeyResponse>() {}.getType();

  private static final java.lang.reflect.Type listWebKeysTypeRef =
      new TypeReference<WebKeyServiceListWebKeysResponse>() {}.getType();

  /** Creates an instance with the default client and configuration. */
  public WebKeyServiceApi() {
    super();
  }

  /**
   * Creates an instance with the given client and configuration.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   */
  public WebKeyServiceApi(ApiClient apiClient, Configuration config) {
    super(apiClient, config);
  }

  /**
   * Creates an instance with the given client, configuration, and authenticator.
   *
   * @param apiClient the API client used to execute requests
   * @param config the client configuration
   * @param authenticator the default authenticator, or {@code null} for none
   */
  public WebKeyServiceApi(
      ApiClient apiClient, Configuration config, @Nullable Authenticator authenticator) {
    super(apiClient, config, authenticator);
  }

  /**
   * Activate Web Key Switch the active signing web key. The previously active key will be
   * deactivated. Note that the JWKs OIDC endpoint returns a cacheable response. Therefore it is not
   * advised to activate a key that has been created within the cache duration (default is 5min), as
   * the public key may not have been propagated to caches and clients yet. Required permission: -
   * `iam.web_key.write`
   *
   * @param webKeyServiceActivateWebKeyRequest (required)
   * @return {@code WebKeyServiceActivateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public WebKeyServiceActivateWebKeyResponse activateWebKey(
      WebKeyServiceActivateWebKeyRequest webKeyServiceActivateWebKeyRequest) {
    return requireBody(
        activateWebKeyWithHttpInfo(webKeyServiceActivateWebKeyRequest), "activateWebKey");
  }

  /**
   * Activate Web Key Switch the active signing web key. The previously active key will be
   * deactivated. Note that the JWKs OIDC endpoint returns a cacheable response. Therefore it is not
   * advised to activate a key that has been created within the cache duration (default is 5min), as
   * the public key may not have been propagated to caches and clients yet. Required permission: -
   * `iam.web_key.write`
   *
   * @param webKeyServiceActivateWebKeyRequest (required)
   * @return the API result wrapping {@code WebKeyServiceActivateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<WebKeyServiceActivateWebKeyResponse> activateWebKeyWithHttpInfo(
      WebKeyServiceActivateWebKeyRequest webKeyServiceActivateWebKeyRequest) {
    if (webKeyServiceActivateWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'webKeyServiceActivateWebKeyRequest' when calling activateWebKey");
    }
    String path = "/zitadel.webkey.v2.WebKeyService/ActivateWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        webKeyServiceActivateWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        activateWebKeyTypeRef,
        null);
  }

  /**
   * Create Web Key Generate a private and public key pair. The private key can be used to sign OIDC
   * tokens after activation. The public key can be used to validate OIDC tokens. The newly created
   * key will have the state `STATE_INITIAL` and is published to the public key endpoint. Note that
   * the JWKs OIDC endpoint returns a cacheable response. If no key type is provided, a RSA key pair
   * with 2048 bits and SHA256 hashing will be created. Required permission: - `iam.web_key.write`
   *
   * @param webKeyServiceCreateWebKeyRequest (required)
   * @return {@code WebKeyServiceCreateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public WebKeyServiceCreateWebKeyResponse createWebKey(
      WebKeyServiceCreateWebKeyRequest webKeyServiceCreateWebKeyRequest) {
    return requireBody(createWebKeyWithHttpInfo(webKeyServiceCreateWebKeyRequest), "createWebKey");
  }

  /**
   * Create Web Key Generate a private and public key pair. The private key can be used to sign OIDC
   * tokens after activation. The public key can be used to validate OIDC tokens. The newly created
   * key will have the state `STATE_INITIAL` and is published to the public key endpoint. Note that
   * the JWKs OIDC endpoint returns a cacheable response. If no key type is provided, a RSA key pair
   * with 2048 bits and SHA256 hashing will be created. Required permission: - `iam.web_key.write`
   *
   * @param webKeyServiceCreateWebKeyRequest (required)
   * @return the API result wrapping {@code WebKeyServiceCreateWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<WebKeyServiceCreateWebKeyResponse> createWebKeyWithHttpInfo(
      WebKeyServiceCreateWebKeyRequest webKeyServiceCreateWebKeyRequest) {
    if (webKeyServiceCreateWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'webKeyServiceCreateWebKeyRequest' when calling createWebKey");
    }
    String path = "/zitadel.webkey.v2.WebKeyService/CreateWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        webKeyServiceCreateWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        createWebKeyTypeRef,
        null);
  }

  /**
   * Delete Web Key Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,
   * any tokens signed by this key will be invalid. Note that the JWKs OIDC endpoint returns a
   * cacheable response. In case the web key is not found, the request will return a successful
   * response as the desired state is already achieved. You can check the change date in the
   * response to verify if the web key was deleted during the request. Required permission: -
   * `iam.web_key.delete`
   *
   * @param webKeyServiceDeleteWebKeyRequest (required)
   * @return {@code WebKeyServiceDeleteWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public WebKeyServiceDeleteWebKeyResponse deleteWebKey(
      WebKeyServiceDeleteWebKeyRequest webKeyServiceDeleteWebKeyRequest) {
    return requireBody(deleteWebKeyWithHttpInfo(webKeyServiceDeleteWebKeyRequest), "deleteWebKey");
  }

  /**
   * Delete Web Key Delete a web key pair. Only inactive keys can be deleted. Once a key is deleted,
   * any tokens signed by this key will be invalid. Note that the JWKs OIDC endpoint returns a
   * cacheable response. In case the web key is not found, the request will return a successful
   * response as the desired state is already achieved. You can check the change date in the
   * response to verify if the web key was deleted during the request. Required permission: -
   * `iam.web_key.delete`
   *
   * @param webKeyServiceDeleteWebKeyRequest (required)
   * @return the API result wrapping {@code WebKeyServiceDeleteWebKeyResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<WebKeyServiceDeleteWebKeyResponse> deleteWebKeyWithHttpInfo(
      WebKeyServiceDeleteWebKeyRequest webKeyServiceDeleteWebKeyRequest) {
    if (webKeyServiceDeleteWebKeyRequest == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'webKeyServiceDeleteWebKeyRequest' when calling deleteWebKey");
    }
    String path = "/zitadel.webkey.v2.WebKeyService/DeleteWebKey";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        webKeyServiceDeleteWebKeyRequest,
        new String[] {"application/json"},
        "application/json",
        deleteWebKeyTypeRef,
        null);
  }

  /**
   * List Web Keys List all web keys and their states. Required permission: - `iam.web_key.read`
   *
   * @param body (required)
   * @return {@code WebKeyServiceListWebKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public WebKeyServiceListWebKeysResponse listWebKeys(Object body) {
    return requireBody(listWebKeysWithHttpInfo(body), "listWebKeys");
  }

  /**
   * List Web Keys List all web keys and their states. Required permission: - `iam.web_key.read`
   *
   * @param body (required)
   * @return the API result wrapping {@code WebKeyServiceListWebKeysResponse}
   * @throws ApiException if fails to make API call
   */
  public ApiResult<WebKeyServiceListWebKeysResponse> listWebKeysWithHttpInfo(Object body) {
    if (body == null) {
      throw new IllegalArgumentException(
          "Missing the required parameter 'body' when calling listWebKeys");
    }
    String path = "/zitadel.webkey.v2.WebKeyService/ListWebKeys";
    Map<String, Object> queryParams = new HashMap<>();
    Map<String, String> headerParams = new HashMap<>();
    return invokeApiForResult(
        "POST",
        path,
        queryParams,
        headerParams,
        body,
        new String[] {"application/json"},
        "application/json",
        listWebKeysTypeRef,
        null);
  }

  /**
   * Unwrap the body of a body-returning operation, throwing a typed {@link ApiException} when the
   * server returned no decodable body (for example an empty or 204 response). The plain convenience
   * accessor must never hand back a silent {@code null} for a declared non-void return type —
   * callers get a catchable, typed error instead.
   *
   * @param result the API result whose data should be present
   * @param operation the operation id, for the error message
   * @param <T> the response body type
   * @return the non-null response body
   * @throws ApiException if the result carries no body
   */
  private static <T> T requireBody(ApiResult<T> result, String operation) {
    T data = result.data();
    if (data == null) {
      throw new ApiException(
          result.statusCode(),
          "Operation '"
              + operation
              + "' returned an empty response body for a body-returning operation",
          result.headers(),
          result.rawBody());
    }
    return data;
  }
}
